# Pandas на финансовых данных

## Series

Создайте пустой объект Series и выведите его на печать. Наименование переменной может быть любое, на ваше усмотрение.

In [2]:
import pandas as pd

srs = pd.Series()
print(srs)

Series([], dtype: float64)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

На вход подается строка натуральных чисел, разделенных пробелами, на основе которой создается список. Создайте на основе этого списка объект Series и выведите его на печать. Имя объекта Series может быть любое, на ваше усмотрение.

In [1]:
import pandas as pd

s = list(map(int, input().split()))

srs = pd.Series(s)
print(srs)

2 3
0    2
1    3
dtype: int64

Имеются данные по ВВП США в млрд долл. (список gdp_usa ) 
и периодам, за который получены эти показатели (список period). 
Создайте объект Series, 
где значениями будут данные ВВП, а индексами – периоды. Выведите на печать.

In [ ]:
import pandas as pd

gdp_usa = [22313.85, 23046.934, 23550.42, 24349.121, 24740.48, 
           25248.476, 25723.941, 26137.992, 26486.287]
period = ['2021-01-01', '2021-04-01', '2021-07-01', '2021-10-01', '2022-01-01',
          '2022-04-01', '2022-07-01', '2022-10-01', '2023-01-01']
# Продолжите написание кода здесь

gdp_srs = pd.Series(data=gdp_usa, index=period)
print(gdp_srs)

Дан объект Series, в котором индексом являются наименования криптовалют, 
а колонкой с данными – тикеры этих криптовалют. 
Выведите на печать индексы объекта Series

In [ ]:
import pandas as pd
crypto_values = ['BTC', 'ETH', 'USDT', 'BNB', 'XRP', 'SOL', 'USDC', 'stETH', 'ADA', 'DOGE']
crypto_index = ['Биткоин', 'Эфириум', 'Tether USDt', 'BNB', 'XRP', 'Solana', 'USD Coin',
                'Lido Staked ETH', 'Cardano', 'Dogecoin']
srs = pd.Series(data=crypto_values, index=crypto_index)
# Продолжите написание кода здесь
print(srs.index)

Имеются данные по чистой прибыли (убытку) компании ПАО "РусГидро" 
с 2018 г. по 2024 г. по МСФО (Международные стандарты финансовой отчетности):

Любым удобным вам способом создайте объект Series,  в котором индексом будут годы, а данными – значения прибыли (убытка), и выведите его на печать.

In [ ]:
import pandas as pd

text = '''31837000000 руб. за 2018 год;
643000000 руб. за 2019 год;
46607000000 руб. за 2020 год;
42078000000 руб. за 2021 год;
19325000000 руб. за 2022 год;
32104000000 руб. за 2023 год;
-61162000000 руб. за 2024 год.'''

net_profit = [int(line.split()[0]) for line in text.splitlines()]
year = [line.split()[3] for line in text.splitlines()]

srs = pd.Series(data=net_profit, index=year)
print(srs)

Имеется словарь с рейтингами от АКРА нескольких энергетических компаний России (рейтинги на ноябрь 2023 года). 
Создайте объект Series, в котором колонка индексов будет содержать наименования компаний, 
а данными будут являться кредитный рейтинги.

Выведите полученную серию на печать.
Далее распечатайте пустую строку.
И затем выведите на печать тип полученного объекта.

In [ ]:
import pandas as pd
ratings = {'ПАО "РусГидро"': 'AAA(RU)Стабильный', 'ПАО "Россети Северо-Запад"': 'AA+(RU)Стабильный',
           'ПАО "РОССЕТИ"': 'AAA(RU)Стабильный', 'ПАО "ТГК-14"': 'BBB+(RU)Стабильный',
           'ПАО "Россети Ленэнерго"': 'AAA(RU)Стабильный', 'ПАО "МОСЭНЕРГО"': 'AAA(RU)Стабильный',
           'АО "Россети Тюмень"': 'AA+(RU)Стабильный', 'АО "МОСОБЛЭНЕРГО"': 'AA+(RU)Стабильный'}
# Продолжите написание кода здесь

srs = pd.Series(data=ratings) # На основании словаря создаем Серию
print(srs)
print()
print(type(srs))

Имеется словарь с данными по чистой прибыли по МСФО в рублях ПАО "Магнит" за 2019-2024 годы. 
Создайте объект Series, в котором данные будут иметь тип 'float64'. 
Выведите полученную серию на печать.

In [ ]:
import pandas as pd
d = {'2019': 9564222000, 
     '2020': 32993292000, 
     '2021': 48105862000, 
     '2022': 27932517000,
     '2023': 58677601000,
     '2024': 44333844000}
# Продолжите написание кода здесь

srs = pd.Series(data=d) # На основании словаря создаем Серию
srs = srs.astype(float) # Тип данных меняем у Серии
print(srs)

Используя данные предыдущей задачи, измените тип данных с 'float64' на 'int64'.
Выведите полученную серию на печать.
Далее распечатайте пустую строку.
И затем выведите на печать тип данных объекта Series.

In [ ]:
import pandas as pd

d = {'2019': 9564222000, 
     '2020': 32993292000, 
     '2021': 48105862000, 
     '2022': 27932517000,
     '2023': 58677601000,
     '2024': 44333844000}
srs = pd.Series(data=d, dtype='float64')
# Продолжите написание кода здесь

srs = srs.astype(int)
print(srs)
print()
print(srs.dtypes)

Имеется объект Series, в котором даты имеют тип данных 'object'. 
Измените тип данных на 'datetime64[ns]' и выведите серию на печать.

In [ ]:
import pandas as pd
from datetime import datetime

val = ['2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06',
       '2023-03-07', '2023-03-09', '2023-03-10']
srs = pd.Series(val)
# Продолжите написание кода здесь
srs = srs.astype('datetime64[ns]')
print(srs)

Дан массив arr, содержащий цены по валютным парам: usd/rub, eur/rub, cny/rub, 
    а также список с наименованиями валютных пар. Создайте объект Series, 
    в котором индексами будут наименования валютных пар, 
    а значениями - цены. Выведите полученную серию на печать.

In [ ]:
import pandas as pd 
import numpy as np

arr = np.array([84.1375, 91.6525, 11.7650])
indx = ['usd/rub', 'eur/rub', 'cny/rub']
# Продолжите написание кода здесь

ser = pd.Series(arr, index=indx)
print(ser)

Используя данные предыдущего примера, присвойте наименование столбцу индексов - "Валютная пара",  
а весь объект Series назовите "Валюты". 
Выведите объект Series на печать.

In [ ]:
import pandas as pd
import numpy as np

arr = np.array([84.1375, 91.6525, 11.7650])
indx = ['usd/rub', 'eur/rub', 'cny/rub']
srs = pd.Series(arr, index=indx)
# Продолжите написание кода здесь

srs.index.name = 'Валютная пара'
srs.name = 'Валюты'
print(srs)

Создайте объект Series, имеющий десять нулевых значений и числовую индексацию. Выведите его на печать.

In [ ]:
import pandas as pd
import numpy as np

srs = pd.Series(np.array([0] * 10))
print(srs)

Создайте объект Series, имеющий упорядоченную буквенную индексацию от латинской 'a' до 'g' 
включительно и колонку значений от 1 до 7 включительно. 
Выведите полученную серию на печать.

In [ ]:
import pandas as pd
import numpy as np

srs = pd.Series(list(range(1, 8)), index=[chr(ord('a') + i)  for i in range(7)])
print(srs)

Имеется объект Series с данными о стране расположения штаб-квартир рейтинговых агентств:
Выведите на печать серию, содержащую только российские агентства.

In [ ]:
import pandas as pd

d = {"Moody's": "США", "Standard & Poor's": "США", "Fitch Ratings": "США",
     "АКРА": "Россия", "Эксперт РА": "Россия", "НРА": "Россия"}
srs = pd.Series(d)
# Продолжите написание кода здесь

srs = srs[3:]
print(srs)

Выведите на печать серию, содержащую нечетные записи из исходного объекта Series.

In [ ]:
import pandas as pd

d = {"Moody's": "США", "Standard & Poor's": "США", "Fitch Ratings": "США",
     "АКРА": "Россия", "Эксперт РА": "Россия", "НРА": "Россия"}
srs = pd.Series(d)

# Продолжите написание кода здесь
srs = srs.drop(["Standard & Poor's", "АКРА", "НРА"])
print(srs)

Имеется объект Series с данными по чистой прибыли в рублях АК "АЛРОСА" (ПАО) за 2017-2021 годы с пропущенным значением:
Измените значение за 2021 год с пропущенного на 91319000000. 
Поменяйте тип данных на 'int64' и выведите итоговый объект Series на экран.

In [ ]:
import pandas as pd
import numpy as np

d = {'2017': 78616000000, '2018': 90404000000, '2019': 62730000000, '2020': 32245000000, '2021': np.nan}
srs = pd.Series(d)
# Продолжите написание кода здесь

srs['2021'] = 91319000000
srs = srs.astype(int)
print(srs)

Имеется объект Series, демонстрирующий структуру добычи нефти компанией "ЛУКОЙЛ", 
без учета проекта "Западная Курна-2", в 2022 году:
    
    Добавьте данные: 2% для прочих и 4% для международных проектов.
Присвойте колонке индекса наименование: Регион.
Назовите объект Series: Структура добычи нефти ПАО "ЛУКОЙЛ".
Выведите полученную серию на печать.

In [ ]:
import pandas as pd

d = {'Западная Сибирь': '44%', 'Предуралье': '19%', 'Поволжье': '12%',
     'Тимано-Печора': '19%', 'Прочие': '-', 'Международные проекты': '-'}
srs = pd.Series(d)
# Продолжите написание кода здесь
srs['Прочие'] = '2%'
srs['Международные проекты'] = '4%'
srs.index.name = 'Регион'
srs.name = 'Структура добычи нефти ПАО "ЛУКОЙЛ"'
print(srs)

В серии srs отражена структура выручки российского экспортера нефти в стандартном режиме налогообложения 
без учета мер стимулирования за 2022 год в долларах США за баррель нефти:
    Добавьте новый элемент индекса: 'Чистая цена нефти' со значением = 23.2. Выведите итоговый объект Series на печать.

In [ ]:
import pandas as pd

d = {'Цена нефти сорта Юралс': 77.4, 'НДПИ ': 47.4, 'Экспортная пошлина ': 6.8}
srs = pd.Series(d)
# Продолжите написание кода здесь
srs['Чистая цена нефти'] = 23.2
print(srs)

В серии srs приведена информация по обыкновенным акциям, обращающихся на Московской бирже, 
крупных компаний нефтегазового сектора. 
Колонка индексов содержит торговые коды акций, а столбец со значениями - краткие наименования эмитентов этих акций.
Добавьте три новые позиции в конец серии: 
'GAZP' - 'ПАО "Газпром"', 'SIBN' - 'ПАО "Газпром нефть"', 'SNGS' - 'ПАО "Сургутнефтегаз"'.
Выведите на печать итоговый объект Series.
Распечатайте пустую строку.
Выведите на печать данные по индексам серии.
Распечатайте пустую строку.
Выведите на печать информацию по значениям серии.

In [ ]:
import pandas as pd

d = {'BANE': 'ПАО АНК "Башнефть"', 'LKOH': 'ПАО "ЛУКОЙЛ"', 
     'NVTK': 'ПАО "НОВАТЭК"', 'ROSN': 'ПАО "НК "Роснефть"',
     'TATN': 'ПАО "Татнефть" им. В.Д.Шашина', 'TRNFL': 'ПАО "Транснефть"'}
new_d = {'GAZP':'ПАО "Газпром"','SIBN':'ПАО "Газпром нефть"', 'SNGS':'ПАО "Сургутнефтегаз"'}
d.update(new_d) # Обновляем словарь
srs = pd.Series(d)
# Продолжите написание кода здесь

print(srs)
print()
print(srs.index)
print()
print(srs.values)

В серии srs приведена информация по обыкновенным акциям, 
обращающихся на Московской бирже, крупных российских банков. 
Колонка индексов содержит торговые коды акций, а столбец со значениями - 
краткие наименования эмитентов этих акций.

Поменяйте местами колонки индексов и значений. Выведите на печать итоговый объект Series.

In [ ]:
import pandas as pd

d = {'BSPB': 'ПАО "Банк "Санкт-Петербург"', 'CBOM': 'ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"', 
     'ROSB': 'ПАО РОСБАНК', 'SBER': 'ПАО Сбербанк',
     'USBN': 'ПАО "БАНК УРАЛСИБ"', 'VTBR': 'Банк ВТБ (ПАО)'}
srs = pd.Series(d)
# Продолжите написание кода здесь

arr_ind = srs.index
arr_val = srs.values
srs = pd.Series(arr_ind, index=arr_val)
print(srs)

В серии srs приведена информация по обыкновенным акциям, 
обращающихся на Московской бирже, российских металлургических компаний. 
Колонка индексов содержит торговые коды акций, 
а столбец со значениями - краткие наименования эмитентов этих акций.
Удалите из серии Ашинский метзавод и ЧМК. Выведите итоговый объект Series на печать.

In [ ]:
import pandas as pd

d = {'AMEZ': 'ПАО "Ашинский метзавод"', 'CHMF': 'ПАО "Северсталь"', 
     'CHMK': 'ПАО "ЧМК"', 'GMKN': 'ПАО "ГМК "Норильский никель"',
     'MAGN': 'ПАО "ММК"', 'MTLR': 'ПАО "Мечел"',
     'NLMK': 'ПАО "НЛМК"', 'RUAL': 'МКПАО "ОК РУСАЛ"',
     'TRMK': 'ПАО "ТМК"'}
srs = pd.Series(d)
# Продолжите написание кода здесь

srs.drop(['AMEZ', 'CHMK'], inplace=True)
print(srs)

В серии srs приведена информация по обыкновенным акциям, обращающихся на Московской бирже, 
российских металлургических компаний. Колонка индексов содержит торговые коды акций, 
а столбец со значениями - краткие наименования эмитентов этих акций.
Удалите из серии каждое чётное значение. Выведите итоговый объект Series на печать.

In [ ]:
import pandas as pd

d = {'AMEZ': 'ПАО "Ашинский метзавод"', 'CHMF': 'ПАО "Северсталь"', 
     'CHMK': 'ПАО "ЧМК"', 'GMKN': 'ПАО "ГМК "Норильский никель"',
     'MAGN': 'ПАО "ММК"', 'MTLR': 'ПАО "Мечел"',
     'NLMK': 'ПАО "НЛМК"', 'RUAL': 'МКПАО "ОК РУСАЛ"',
     'TRMK': 'ПАО "ТМК"'}
srs = pd.Series(d)
# Продолжите написание кода здесь

srs = srs[0::2]
print(srs)

В объектах srs1 и srs2 приведены данные по компании ПАО "ГМК "Норильский никель" за 2020-2022 годы. 
В серии srs1 представлена информация по выручке от реализации металлов в млн рублей, 
а в srs2 - информация по выручке от прочей реализации в млн рублей.
Сложите эти две серии и получите итоговую выручку по каждому году. Выведите полученную серию на печать.

In [ ]:
import pandas as pd

d1 = {'2022': 1130546, '2021': 1261805, '2020': 1076125}
srs1 = pd.Series(d1, name='Выручка от реализации металлов, в млн рублей')
d2 = {'2022': 53931, '2021': 55143, '2020': 40844}
srs2 = pd.Series(d2, name='Выручка от прочей реализации, в млн рублей')
# Продолжите написание кода здесь

srs = srs1 + srs2
print(srs)

В объектах srs1, srs2 и srs3 приведены данные по компании ПАО "ГМК "Норильский никель" за 2020-2022 годы. 
В серии srs1 представлена информация по выручке в млн рублей, в srs2 - 
информация по себестоимости реализованных металлов в млн рублей, 
в srs3 - информация по себестоимости прочей реализации в млн рублей.

Посчитайте валовую прибыль, которая равна: выручка минус себестоимость. 
Назовите полученный объект Series - 'Валовая прибыль, в млн рублей' и выведите его на печать.

In [ ]:
import pandas as pd

d1 = {'2022': 1184477, '2021': 1316948, '2020': 1116969}
srs1 = pd.Series(d1, name='Выручка, в млн рублей')
d2 = {'2022': 426329, '2021': 372728, '2020': 324308}
srs2 = pd.Series(d2, name='Себестоимость реализованных металлов, в млн рублей')
d3 = {'2022': 56137, '2021': 54862, '2020': 40482}
srs3 = pd.Series(d3, name='Себестоимость прочей реализации, в млн рублей')
# Продолжите написание кода здесь

srs = srs1 - srs2 - srs3
srs.name = 'Валовая прибыль, в млн рублей'
print(srs)

Рассчитайте рыночную капитализацию компаний на конец 3-го квартала 2023 года.
Итоговый объект Series должен иметь данные целочисленного типа.
Назовите итоговую серию: 'Рыночная капитализация на конец 3 квартала 2023 года'.
Выведите результат на печать.

In [ ]:
import pandas as pd

d1 = {'ПАО "Ашинский метзавод"': 498454822, 'ПАО "Северсталь"': 837718660, 
     'ПАО "ЧМК"': 3161965, 'ПАО "ГМК "Норильский никель"': 152863397,
     'ПАО "ММК"': 11174330000, 'ПАО "НЛМК"': 5993227240, 'ПАО "ТМК"': 1033135366}
d2 = {'ПАО "Ашинский метзавод"': 103.28, 'ПАО "Северсталь"': 1369.2, 
     'ПАО "ЧМК"': 11195, 'ПАО "ГМК "Норильский никель"': 16188,
     'ПАО "ММК"': 52.26, 'ПАО "НЛМК"': 209.56, 'ПАО "ТМК"': 222.14}
srs1 = pd.Series(d1, name='Объем выпуска, шт.')
srs2 = pd.Series(d2, name='Рыночная цена на 29.09.2023 г., руб.')
# Продолжите написание кода здесь
srs = srs1.mul(srs2).astype(int)
srs.name = 'Рыночная капитализация на конец 3 квартала 2023 года'
print(srs)

Создайте новый объект Series, который будет содержать данные по P/E, 
назовите его: P/E 2022 год, 
округлите значения до одного знака после запятой и выведите полученную серию на печать.

In [ ]:
import pandas as pd

d1 = {'ПАО "Россети"': 54_210_000_000, 'ПАО "РусГидро"': 19_325_000_000, 
      'ПАО "Юнипро"': 21_267_722_000}
srs1 = pd.Series(d1, name='Чистая прибыль за 2022 год, руб.')
d2 = {'ПАО "Россети"': 110_844_896_493.56, 'ПАО "РусГидро"': 333_200_635_086.47, 
      'ПАО "Юнипро"': 84_863_558_471.17}
srs2 = pd.Series(d2, name='Капитализация на конец 2022 года, в млн рублей')
# Продолжите написание кода здесь

srs = srs2.div(srs1).round(1)
srs.name = 'P/E 2022 год'
print(srs)

Имеется список lst, содержащий названия компаний, и строка s с наименованием показателя. 
На основе списка lst создайте объект Series. 
Затем создайте новую серию, которая будет содержать наименования показателей каждой компании. 
Выведите результат на печать.

In [ ]:
import pandas as pd

lst = ['ПАО "Мосэнерго"', 'ПАО "ГМК "Норильский никель"', 'ПАО "Магнит"', 
       'ПАО "МТС"', 'ПАО "ММК"', 'ПАО "ЛУКОЙЛ"', 'ПАО "Аэрофлот"']
s = 'Выручка'

# Продолжите написание кода здесь
srs1 = pd.Series(lst)
srs = s + ' ' + srs1 
print(srs)

Частный вкладчик разместил в банке пять депозитов на разные сроки. 
В серии amounts представлены суммы депозитов в рублях. 
В серии days перечислены сроки размещения в днях. 
Серия rates содержит ставки в процентах.

Посчитайте суммы процентов, которые получит вкладчик по каждому депозиту. 
База для расчета процентов = 365 дней. 
Округлите результат до двух знаков после запятой 
и выведите итоговый объект Series на печать.

In [ ]:
import pandas as pd

amounts = [300_000, 200_000, 500_000, 700_000, 1_000_000]
days = [30, 60, 90, 120, 180]
rates = [10, 11, 11, 12, 14]
amounts = pd.Series(amounts, name='Сумма депозита')
days = pd.Series(days, name='Дни')
rates = pd.Series(rates, name='Ставки')
# Продолжите написание кода здесь
revenue = amounts.mul(rates).div(100).mul(days).div(365).round(2)
print(revenue)

Даны два объекта Series. 
Создайте новую серию, которая будет содержать разность дней между значениями серии srs1 и серии srs2. 
Выведите полученный объект Series на печать.

In [ ]:
import pandas as pd

lst1 = ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
        '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',]
srs1 = pd.Series(lst1)
srs2 = pd.Series('2020-01-01', index=range(8))
# Продолжите написание кода здесь

srs1, srs2 = srs1.astype('datetime64[ns]'), srs2.astype('datetime64[ns]')
srs = srs1.sub(srs2)
print(srs)

Трейдер выставил биржевые заявки на покупку акций по ценам, представленным в серии srs1. 
Некоторые из этих заявок исполнились, и в серии srs2 находятся данные по количеству купленных ценных бумаг.
Выведите на печать объект Series, содержащий общие суммы потраченных на покупку денежных средств по каждой компании. 
По тем акциям, по которым заявки не реализовались, должны быть значения NaN.

In [ ]:
import pandas as pd

d1 = {'ПАО "Газпром"': 162.5, 'Банк ВТБ (ПАО)': 0.024, 'ПАО "Аэрофлот"': 36.5, 
      'ПАО "Магнит"': 6200, 'ПАО "Газпром нефть"': 830, 'ПАО "ЛУКОЙЛ"': 7000, 
      'ПАО "РусГидро"': 0.8, 'ПАО "Северсталь"': 1250, 'ПАО "ММК"': 50, 
      'ПАО "Мосэнерго"': 2.9, 'ПАО "МТС"': 258}
d2 = {'ПАО "Аэрофлот"': 10_000, 'Банк ВТБ (ПАО)': 10_000_000, 'ПАО "Газпром"': 1_000,  
      'ПАО "Мосэнерго"': 10_000,'ПАО "МТС"': 500, 'ПАО "РусГидро"': 300_000}
srs1 = pd.Series(d1, name='Цена в заявке на покупку, руб.')
srs2 = pd.Series(d2, name='Количество купленных акций, шт.')

# Продолжите написание кода здесь
srs = srs1.mul(srs2)
print(srs)

Выведите на печать объект Series, содержащий общие суммы потраченных на покупку денежных средств по каждой компании. 
По тем акциям, по которым заявки не реализовались, должны быть нулевые значения.

In [ ]:
import pandas as pd

d1 = {'ПАО "Газпром"': 162.5, 'Банк ВТБ (ПАО)': 0.024, 'ПАО "Аэрофлот"': 36.5, 
      'ПАО "Магнит"': 6200, 'ПАО "Газпром нефть"': 830, 'ПАО "ЛУКОЙЛ"': 7000, 
      'ПАО "РусГидро"': 0.8, 'ПАО "Северсталь"': 1250, 'ПАО "ММК"': 50, 
      'ПАО "Мосэнерго"': 2.9, 'ПАО "МТС"': 258}
d2 = {'ПАО "Аэрофлот"': 10_000, 'Банк ВТБ (ПАО)': 10_000_000, 'ПАО "Газпром"': 1_000,  
      'ПАО "Мосэнерго"': 10_000,'ПАО "МТС"': 500, 'ПАО "РусГидро"': 300_000}
srs1 = pd.Series(d1, name='Цена в заявке на покупку, руб.')
srs2 = pd.Series(d2, name='Количество купленных акций, шт.')
# Продолжите написание кода здесь

srs = srs1.mul(srs2, fill_value=0)
print(srs)

Умножьте серию srs1 на srs2 с использованием * и выведите полученный объект Series на печать.

In [ ]:
import pandas as pd

d1 = {'ПАО "Газпром"': 162.5, 'Банк ВТБ (ПАО)': 0.024, 'ПАО "Аэрофлот"': 36.5, 
      'ПАО "Магнит"': 6200, 'ПАО "Газпром нефть"': 830, 'ПАО "ЛУКОЙЛ"': 7000, 
      'ПАО "РусГидро"': 0.8, 'ПАО "Северсталь"': 1250, 'ПАО "ММК"': 50, 
      'ПАО "Мосэнерго"': 2.9, 'ПАО "МТС"': 258}
d2 = {'ПАО "Газпром"': 1_000, 'Банк ВТБ (ПАО)': 10_000_000, 'ПАО "Аэрофлот"': 10_000, 
      'ПАО "Магнит"': 0, 'ПАО "Газпром нефть"': 0, 'ПАО "ЛУКОЙЛ"': 0, 
      'ПАО "РусГидро"': 300_000, 'ПАО "Северсталь"': 0, 'ПАО "ММК"': 0, 
      'ПАО "Мосэнерго"': 10_000, 'ПАО "МТС"': 500}
srs1 = pd.Series(d1, name='Цена в заявке на покупку, руб.')
srs2 = pd.Series(d2, name='Количество купленных акций, шт.')
# Продолжите написание кода здесь
srs = srs1 * srs2
print(srs)

На вход подается строка, содержащая шесть натуральных чисел, разделенных пробелами.

На основе этих чисел создайте объект Series.
Затем возведите в степень значения этой серии таким образом, 
    чтобы первое значение возвелось в первую степень, 
    второе значение - во вторую степень, 
    третье - в третью, 
    четвертое - в четвертую, 
    пятое - в пятую 
    и шестое значение - в шестую степень.
Выведите полученный объект Series на печать.

In [ ]:
import pandas as pd
nums = [int(num) ** i for i, num in enumerate(input().split(), start=1)]
srs = pd.Series(nums)
print(srs)

## DataFrame

Датафрейм moex_stock содержит данные по объему торгов на фондовой секции Московской биржи 
за период с января 2022 г. по июль 2023 г. 
Выведите датафрейм moex_stock на печать.

In [ ]:
import pandas as pd
moex_stock_values = [['июль 2023', 3602.5], ['июнь 2023', 3072.9], ['май 2023', 3212.3],
                     ['апрель 2023', 3015.6], ['март 2023', 3186.0], ['февраль 2023', 2487.9],
                     ['январь 2023', 1599.7], ['декабрь 2022', 4206.9], ['ноябрь 2022', 3169.5],
                     ['октябрь 2022', 1953.6], ['сентябрь 2022', 2506.4], ['август 2022', 1872.1],
                     ['июль 2022', 1492.7], ['июнь 2022', 1531.1], ['май 2022', 995.4],
                     ['апрель 2022', 1446.0], ['март 2022', 635.3], ['февраль 2022', 5648.8],
                     ['январь 2022', 5002.6]]
moex_stock_columns = ['Период', 'Объем торгов на фондовом рынке, млрд руб.']
moex_stock = pd.DataFrame(moex_stock_values, columns=moex_stock_columns)

# Продолжите написание кода здесь
print(moex_stock)

В словаре gdp_2022 содержатся данные по ВВП нескольких стран за 2022 год в триллионах долларов США. 
На основе этого словаря создайте датафрейм gdp_2022 и выведите его на печать.

In [ ]:
import pandas as pd

gdp_2022 = {'country': ['United States', 'China', 'Japan', 'Germany', 'India', 'United Kingdom', 
         'France', 'Russia', 'Canada', 'Italy', 'Brazil'],
        'gdp': [25.46, 17.96, 4.23, 4.07, 3.38, 3.07, 2.78, 2.24, 2.14, 2.01, 1.92]}
# Продолжите написание кода здесь

gdp_2022 = pd.DataFrame(gdp_2022)
print(gdp_2022)

На основе заданных списков создайте датафрейм и выведите его на печать.

In [ ]:
import pandas as pd

gdp_2022_values = [['United States', 25.46], ['China', 17.96], ['Japan', 4.23],
                   ['Germany', 4.07], ['India', 3.38], ['United Kingdom', 3.07],
                   ['France', 2.78], ['Russia', 2.24], ['Canada', 2.14],
                   ['Italy', 2.01], ['Brazil', 1.92]]
gdp_2022_columns = ['country', 'gdp']
# Продолжите написание кода здесь

gdp_2022 = pd.DataFrame(gdp_2022_values, columns=gdp_2022_columns)
print(gdp_2022)

На основе заданного списка со словарями создайте датафрейм и выведите его на печать.

In [ ]:
import pandas as pd

gdp_2022 = [{'country': 'United States', 'gdp': 25.46}, {'country': 'China', 'gdp': 17.96}, 
            {'country': 'Japan', 'gdp': 4.23}, {'country': 'Germany', 'gdp': 4.07}, 
            {'country': 'India', 'gdp': 3.38}, {'country': 'United Kingdom', 'gdp': 3.07},
            {'country': 'France', 'gdp': 2.78}, {'country': 'Russia', 'gdp': 2.24}, 
            {'country': 'Canada', 'gdp': 2.14}, {'country': 'Italy', 'gdp': 2.01}, 
            {'country': 'Brazil', 'gdp': 1.92}]
# Продолжите написание кода здесь

gdp_2022 = pd.DataFrame(gdp_2022)
print(gdp_2022)

На основе заданного NumPy-массива создайте датафрейм вида:
Выведите полученный датафрейм на печать.

In [ ]:
import pandas as pd
import numpy as np

arr = np.array([['United States', 25.46], ['China', 17.96], ['Japan', 4.23],
                   ['Germany', 4.07], ['India', 3.38], ['United Kingdom', 3.07],
                   ['France', 2.78], ['Russia', 2.24], ['Canada', 2.14],
                   ['Italy', 2.01], ['Brazil', 1.92]])
# Продолжите написание кода здесь

df = pd.DataFrame(arr, columns=['country','gdp'])
print(df)

Имеются данные по индексу деловой активности в сфере услуг в США (PMI) 
(сфера услуг отвечает за формирование 80% ВВП США) 
за период с января 2022 года по декабрь 2023 года 
(далее в курсе мы разберем, что из себя представляет индекс деловой активности PMI). 
Используя списки pmi_usa_values и pmi_usa_columns, создайте датафрейм pmi_usa. 
Выведите на печать первые 10 строк нового датефрейма.

In [ ]:
import pandas as pd
pmi_usa_values = [['Декабрь 2023', 51.3, 50.7], ['Ноябрь 2023', 50.8, 50.4], ['Октябрь 2023', 50.6, 50.9],
                  ['Сентябрь 2023', 50.1, 50.2], ['Август 2023', 50.5, 51.0], ['Июль 2023', 52.3, 52.4],
                  ['Июнь 2023', 54.4, 54.1], ['Май 2023', 54.9, 55.1], ['Апрель 2023', 53.6, 53.7],
                  ['Март 2023', 52.6, 53.8], ['Февраль 2023', 50.6, 50.5], ['Январь 2023', 46.8, 46.6],
                  ['Декабрь 2022', 44.7, 44.4], ['Ноябрь 2022', 46.2, 46.1], ['Октябрь 2022', 47.8, 46.6],
                  ['Сентябрь 2022', 49.3, 49.2], ['Август 2022', 43.7, 44.3], ['Июль 2022', 47.3, 47.0],
                  ['Июнь 2022', 52.7, 51.6], ['Май 2022', 53.4, 53.5], ['Апрель 2022', 55.6, 54.7],
                  ['Март 2022', 58.0, 58.9], ['Февраль 2022', 56.5, 56.7], ['Январь 2022', 51.2, 50.9]]
pmi_usa_columns = ['месяц', 'факт', 'прогноз']
# Продолжите написание кода здесь

pmi_usa = pd.DataFrame(pmi_usa_values, columns=pmi_usa_columns)
print(pmi_usa.head(10))

В датафрейме silver содержится информация о биржевых ценах фьючерса 
на серебро на начало каждого месяца за период с января 2022 года по январь 2023 года. 

Используя метод info(), выведите информацию о датафрейме.

In [ ]:
import pandas as pd
silver_values = [['J2TX.ALLFUTSILV', 'M', 20220101, 0, 23.385, 24.755, 21.945, 22.485, 1112749],
                 ['J2TX.ALLFUTSILV', 'M', 20220201, 0, 22.485, 25.67, 21.985, 24.385, 868611],
                 ['J2TX.ALLFUTSILV', 'M', 20220301, 0, 24.38, 27.495, 24.045, 25.005, 1174384],
                 ['J2TX.ALLFUTSILV', 'M', 20220401, 0, 25.005, 26.495, 22.71, 22.785, 818403],
                 ['J2TX.ALLFUTSILV', 'M', 20220501, 0, 22.785, 23.345, 20.42, 21.515, 1032559],
                 ['J2TX.ALLFUTSILV', 'M', 20220601, 0, 21.52, 22.565, 19.96, 19.98, 871808],
                 ['J2TX.ALLFUTSILV', 'M', 20220701, 0, 19.97, 20.35, 18.01, 20.135, 1042671],
                 ['J2TX.ALLFUTSILV', 'M', 20220801, 0, 20.13, 20.87, 17.46, 17.52, 972275],
                 ['J2TX.ALLFUTSILV', 'M', 20220901, 0, 17.515, 20.005, 17.4, 19.015, 1240582],
                 ['J2TX.ALLFUTSILV', 'M', 20221001, 0, 18.995, 21.31, 18.01, 19.36, 1148466],
                 ['J2TX.ALLFUTSILV', 'M', 20221101, 0, 19.36, 22.64, 18.805, 22.535, 1191170],
                 ['J2TX.ALLFUTSILV', 'M', 20221201, 0, 22.53, 24.525, 22.19, 24.18, 989036],
                 ['J2TX.ALLFUTSILV', 'M', 20230101, 0, 24.305, 24.775, 22.845, 23.775, 1227728]]
silver_columns = ['<TICKER>', '<PER>', '<DATE>', '<TIME>', '<OPEN>', '<HIGH>', '<LOW>',
       '<CLOSE>', '<VOL>']
silver = pd.DataFrame(silver_values, columns=silver_columns)

# Продолжите написание кода здесь
silver.info()

 Выведите на печать информацию об именах столбцов датафрейма trading_time.

In [ ]:
import pandas as pd
trading_time_values = [['Токийская фондовая биржа', 'TSE', '03:00-09:00'],
                       ['Лондонская международная биржа финансовых фьючерсов', 'LIFFE', '04:00-00:00'],
                       ['Гонконгская фондовая биржа', 'HKSE', '04:00-10:00'],
                       ['Шанхайская фондовая биржа', 'SSE', '04:30-10:00'],
                       ['Шэнчьжэньская фондовая биржа', 'SZSE', '04:30-10:00'],
                       ['Европейская биржа деривативов', 'EUREX', '09:00-01:00'],
                       ['Московская биржа', 'MOEX', '10:00-18:50'],
                       ['Консорциум европейских бирж', 'EURONEXT', '10:00-18:30'],
                       ['Лондонская фондовая биржа', 'LSE', '11:00-19:30'],
                       ['Нью-Йоркская товарная биржа', 'NYMEX', '17:00-23:30'],
                       ['Фондовая биржа Торонто', 'TSX', '17:30-00:00'],                       
                       ['Электронная система торговли ценными бумагами', 'NASDAQ', '16:30-23:00'],
                       ['Нью-Йоркская фондовая биржа', 'NYSE', '16:30-23:00'],
                       ['Чикагская товарная биржа', 'CME', '18:00-02:00']]
trading_time_columns = ['Биржа', 'Сокращенное наименование', 'Время работы биржи (мск)']
trading_time = pd.DataFrame(trading_time_values, columns=trading_time_columns)
# Продолжите написание кода здесь

print(trading_time.columns)

В датафрейме moex представлена информация по индексу Московской биржи за несколько дней. 
Приведите наименования столбцов к нижнему регистру. Выведите итоговый датафрейм на печать.

In [ ]:
import pandas as pd
moscow_exchange_values = [['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex.columns = [name.lower() for name in moex.columns]
print(moex)

 Имеются данные по регламенту работы некоторых ведущих мировых бирж по московскому времени. 
    Выведите на печать двумерный массив NumPy, состоящий из значений этого датафрейма.

In [ ]:
import pandas as pd
import numpy as np


trading_time_values = [['Токийская фондовая биржа', 'TSE', '03:00-09:00'],
                       ['Лондонская международная биржа финансовых фьючерсов', 'LIFFE', 
                        '04:00-00:00'],
                       ['Гонконгская фондовая биржа', 'HKSE', '04:00-10:00'],
                       ['Шанхайская фондовая биржа', 'SSE', '04:30-10:00'],
                       ['Шэнчьжэньская фондовая биржа', 'SZSE', '04:30-10:00'],
                       ['Европейская биржа деривативов', 'EUREX', '09:00-01:00'],
                       ['Московская биржа', 'MOEX', '10:00-18:50'],
                       ['Консорциум европейских бирж', 'EURONEXT', '10:00-18:30'],
                       ['Лондонская фондовая биржа', 'LSE', '11:00-19:30'],
                       ['Нью-Йоркская товарная биржа', 'NYMEX', '17:00-23:30'],
                       ['Фондовая биржа Торонто', 'TSX', '17:30-00:00'],                       
                       ['Электронная система торговли ценными бумагами', 'NASDAQ', '16:30-23:00'],
                       ['Нью-Йоркская фондовая биржа', 'NYSE', '16:30-23:00'],
                       ['Чикагская товарная биржа', 'CME', '18:00-02:00']]

trading_time_columns = ['Биржа', 'Сокращенное наименование', 'Время работы биржи (мск)']
trading_time = pd.DataFrame(trading_time_values, columns=trading_time_columns)
# Продолжите написание кода здесь
print(trading_time.values)

Добавьте новый столбец - 'Направление сделки' и заполните все строчки значением 'give' (без кавычек), 
что будет означать, что мы разместили денежные средства, а не привлекли.

In [ ]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo['Направление сделки'] = 'give'
print(depo)

 В датафрейме moex представлена информация по индексу Московской биржи за несколько дней. Приведите столбец 'Дата' к типу данных 'datetime64[ns]'.

Выведите итоговый датафрейм на печать.
Затем распечатайте пустую строку.
Выведите информацию о датафрейме info().

In [ ]:
import pandas as pd
moscow_exchange_values = [['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex['Дата'] = moex['Дата'].astype('datetime64[ns]')
print(moex)
print()
moex.info()

 Датафрейм interest_rates содержатся процентные ставки некоторых стран, действующие на 25.07.2023 г. 
    Сделайте столбец 'Страна' колонкой индекса.

Выведите информацию о датафрейме info().

In [ ]:
import pandas as pd
interest_rates_values = [['Австралия', 'Резервный банк Австралии', 4.1, '2023-06-06'],
       ['Бразилия', 'Центральный банк Бразилии', 13.75, '2022-08-04'],
       ['Великобритания', 'Банк Англии', 5.0, '2023-06-22'],
       ['Дания', 'Национальный банк Дании', 3.25, '2023-06-15'],
       ['Еврозона', 'Европейский центральный банк', 4.0, '2023-06-15'],
       ['Индия', 'Резервный банк Индии', 6.5, '2023-02-08'],
       ['Канада', 'Банк Канады', 5.0, '2023-07-12'],
       ['Китай', 'Народный банк Китая', 3.55, '2023-06-20'],
       ['Мексика', 'Банк Мексики', 11.25, '2023-03-30'],
       ['Новая Зеландия', 'Резервный банк Новой Зеландии', 5.5,
        '2023-05-24'],
       ['Россия', 'Центральный банк Российской Федерации', 8.5,
        '2023-07-24'],
       ['США', 'Федеральная резервная система', 5.25, '2023-05-04'],
       ['Турция', 'Центральный банк Турции', 17.5, '2023-07-20'],
       ['Швейцария', 'Национальный банк Швейцарии', 1.75, '2023-06-22'],
       ['Швеция', 'Банк Швеции', 3.75, '2023-06-30'],
       ['ЮАР', 'Южно-Африканский резервный банк', 8.25, '2023-05-25'],
       ['Япония', 'Банк Японии', -0.1, '2016-08-03']]
interest_rates_columns = ['Страна', 'Банк', 'Ставка', 'Дата вступления в силу']
interest_rates = pd.DataFrame(interest_rates_values, columns=interest_rates_columns)
# Продолжите написание кода здесь

interest_rates.set_index('Страна', inplace=True) # Установка индекса
interest_rates.info()

В датафрейме unemployment приведена информация по безработице в РФ (по данным Росстата) помесячно за 2017-2022 годы. 
"Сбросьте" индексацию до числовой и выведите на печать последние три строки датафрейма.

In [ ]:
import pandas as pd

unemployment_values = [['январь', 5.6, 5.2, 4.9, 4.7, 5.8, 4.4],
                       ['февраль', 5.6, 5.0, 4.9, 4.6, 5.7, 4.1],
                       ['март', 5.4, 5.0, 4.7, 4.7, 5.4, 4.1],
                       ['апрель', 5.3, 4.9, 4.7, 5.8, 5.2, 4.0],
                       ['май', 5.2, 4.7, 4.5, 6.1, 4.9, 3.9],
                       ['июнь', 5.1, 4.7, 4.4, 6.2, 4.8, 3.9],
                       ['июль', 5.1, 4.7, 4.5, 6.3, 4.5, 3.9],
                       ['август', 4.9, 4.6, 4.3, 6.4, 4.4, 3.8],
                       ['сентябрь', 5.0, 4.5, 4.5, 6.3, 4.3, 3.9],
                       ['октябрь', 5.0, 4.7, 4.6, 6.3, 4.3, 3.9],
                       ['ноябрь', 5.1, 4.8, 4.6, 6.1, 4.3, 3.7],
                       ['декабрь', 5.1, 4.8, 4.6, 5.9, 4.3, 3.7]]
unemployment_columns = ['месяц', '2017', '2018', '2019', '2020', '2021', '2022']
unemployment = pd.DataFrame(unemployment_values, columns=unemployment_columns)
unemployment.set_index('месяц', inplace=True)
# Продолжите написание кода здесь

unemployment.reset_index(inplace=True)
print(unemployment.tail(3))

 В датафрейме gold представлена информация по биржевым ценам закрытия фьючерса на золото 
    на начало каждого месяца за период с января 2022 года по январь 2023 года.
    Переименуйте столбцы на: 'дата' и 'цена_закрытия'. Выведите итоговый фрейм данных на печать.

In [ ]:
import pandas as pd
gold_values = [['20220101', 1800.0], ['20220201', 1907.3], ['20220301', 1943.1], ['20220401', 1896.9],
               ['20220501', 1839.0], ['20220601', 1801.5], ['20220701', 1778.0], ['20220801', 1715.2],
               ['20220901', 1668.3], ['20221001', 1640.4], ['20221101', 1793.4], ['20221201', 1830.1],
               ['20230101', 1941.4]]
gold_columns = ['<DATE>', '<CLOSE>']
gold = pd.DataFrame(gold_values, columns=gold_columns)
# Продолжите написание кода здесь

gold.rename(columns={'<DATE>':'дата', '<CLOSE>':'цена_закрытия'}, inplace=True)
print(gold)

Из двух объектов Series создайте датафрейм следующего вида

In [ ]:
import pandas as pd

srs1 = pd.Series(['United States', 'China', 'Japan', 'Germany', 'India', 'United Kingdom',
                  'France', 'Russia', 'Canada', 'Italy', 'Brazil'], name='country')
srs2 = pd.Series([25.46, 17.96,  4.23,  4.07,  3.38,  3.07,  2.78,  
                  2.24,  2.14, 2.01,  1.92], name='gdp')
# Продолжите написание кода здесь

tran_df = pd.DataFrame([srs1, srs2]).transpose()
print(tran_df)

В датафрейме unemployment приведена информация по безработице в РФ помесячно за 2017-2022 годы. 
Измените название столбца 'месяц' на 'month'. 
Выведите измененный датафрейм на печать

In [ ]:
import pandas as pd
unemployment_values = [['January', 5.6, 5.2, 4.9, 4.7, 5.8, 4.4],
                       ['February', 5.6, 5.0, 4.9, 4.6, 5.7, 4.1],
                       ['March', 5.4, 5.0, 4.7, 4.7, 5.4, 4.1],
                       ['April', 5.3, 4.9, 4.7, 5.8, 5.2, 4.0],
                       ['May', 5.2, 4.7, 4.5, 6.1, 4.9, 3.9],
                       ['June', 5.1, 4.7, 4.4, 6.2, 4.8, 3.9],
                       ['July', 5.1, 4.7, 4.5, 6.3, 4.5, 3.9],
                       ['August', 4.9, 4.6, 4.3, 6.4, 4.4, 3.8],
                       ['September', 5.0, 4.5, 4.5, 6.3, 4.3, 3.9],
                       ['October', 5.0, 4.7, 4.6, 6.3, 4.3, 3.9],
                       ['November', 5.1, 4.8, 4.6, 6.1, 4.3, 3.7],
                       ['December', 5.1, 4.8, 4.6, 5.9, 4.3, 3.7]]
unemployment_columns = ['месяц', '2017', '2018', '2019', '2020', '2021', '2022']
unemployment = pd.DataFrame(unemployment_values, columns=unemployment_columns)
# Продолжите написание кода здесь

unemployment.rename(columns={'месяц':'month'}, inplace=True)
print(unemployment)

В датафрейме unemployment приведена информация 
по безработице в РФ помесячно за первые три месяца каждого года с 2017 г. по 2023 г. 
Поменяйте оси датафрейма местами. Выведите измененный объект DataFrame на печать.

In [ ]:
import pandas as pd

unemployment_values = [['январь', 5.6, 5.2, 4.9, 4.7, 5.8, 4.4, 3.6],
                       ['февраль', 5.6, 5.0, 4.9, 4.6, 5.7, 4.1, 3.49],
                       ['март', 5.4, 5.0, 4.7, 4.7, 5.4, 4.1, 3.5]]                       
unemployment_columns = ['месяц', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
unemployment = pd.DataFrame(unemployment_values, columns=unemployment_columns)
unemployment.set_index('месяц', inplace=True)
# Продолжите написание кода здесь

tran_df = unemployment.transpose()
print(tran_df)

В датафрейме unemployment приведена информация по безработице в РФ помесячно за 2019-2022 годы. 
Вставьте в датафрейм значения за 2018 год из списка u_2018. Выведите измененный датафрейм на печать.

In [ ]:
import pandas as pd
unemployment_values = [['январь', 4.9, 4.7, 5.8, 4.4],
                       ['февраль', 4.9, 4.6, 5.7, 4.1],
                       ['март', 4.7, 4.7, 5.4, 4.1],
                       ['апрель', 4.7, 5.8, 5.2, 4.0],
                       ['май', 4.5, 6.1, 4.9, 3.9],
                       ['июнь', 4.4, 6.2, 4.8, 3.9],
                       ['июль', 4.5, 6.3, 4.5, 3.9],
                       ['август', 4.3, 6.4, 4.4, 3.8],
                       ['сентябрь', 4.5, 6.3, 4.3, 3.9],
                       ['октябрь', 4.6, 6.3, 4.3, 3.9],
                       ['ноябрь', 4.6, 6.1, 4.3, 3.7],
                       ['декабрь', 4.6, 5.9, 4.3, 3.7]]
unemployment_columns = ['месяц', '2019', '2020', '2021', '2022']
unemployment = pd.DataFrame(unemployment_values, columns=unemployment_columns)
u_2018 = [5.2, 5, 5, 4.9, 4.7, 4.7, 4.7, 4.6, 4.5, 4.7, 4.8, 4.8]
unemployment.insert(loc=1, column='2018', value=u_2018)
print(unemployment)

Датафрейм df содержит биржевые цены закрытий фьючерсов на 
золото, серебро и платину за несколько дней ноября 2023 года. 
Измените имена столбцов, добавив к имеющемуся названию суффикс '_close'. 
Выведите итоговый датафрейм на печать.

In [ ]:
import pandas as pd

df_values = [['Nov 30, 2023', '2,038.10', '25.293', '931.20'],
             ['Nov 29, 2023', '2,047.10', '25.072', '936.40'],
             ['Nov 28, 2023', '2,039.70', '24.930', '944.10'],
             ['Nov 27, 2023', '2,011.80', '24.672', '917.10'],
             ['Nov 24, 2023', '2,002.20', '24.329', '931.10'],
             ['Nov 23, 2023', '1,991.50', '-', '-'],
             ['Nov 22, 2023', '1,991.40', '23.672', '924.60'],
             ['Nov 21, 2023', '1,999.30', '23.843', '940.00'],
             ['Nov 20, 2023', '1,977.70', '23.579', '921.50'],
             ['Nov 17, 2023', '1,981.60', '23.809', '894.70'],
             ['Nov 16, 2023', '1,983.90', '23.892', '897.10'],
             ['Nov 15, 2023', '1,960.10', '23.485', '895.30']]
df_columns = ['Date', 'Gold', 'Silver', 'Platinum']
df = pd.DataFrame(df_values, columns=df_columns).set_index('Date')
# Продолжите написание кода здесь

df = df.add_suffix('_close')
print(df)

Дан датафрейм 'gold' с биржевыми ценами фьючерса на золото 
на начало каждого месяца за период с января 2022 года по январь 2023 года. 
Оставьте в датафрейме только два столбца: '<DATE>' и '<CLOSE>'. Выведите результат на печать.

In [ ]:
import pandas as pd
gold_values = [['J2TX.ALLFUTGOLD', 'M', '20220101', 0, 1830.1, 1854.2, 1778.8, 1800.0, 3141758],
               ['J2TX.ALLFUTGOLD', 'M', '20220201', 0, 1800.1, 1976.5, 1788.5, 1907.3, 3667293],
               ['J2TX.ALLFUTGOLD', 'M', '20220301', 0, 1907.3, 2078.8, 1888.3, 1943.1, 3779219],
               ['J2TX.ALLFUTGOLD', 'M', '20220401', 0, 1943.0, 2003.0, 1870.9, 1896.9, 2922701],
               ['J2TX.ALLFUTGOLD', 'M', '20220501', 0, 1896.2, 1910.7, 1785.0, 1839.0, 2807625],
               ['J2TX.ALLFUTGOLD', 'M', '20220601', 0, 1838.9, 1882.5, 1801.1, 1801.5, 3045238],
               ['J2TX.ALLFUTGOLD', 'M', '20220701', 0, 1801.5, 1815.2, 1678.4, 1778.0, 2814156],
               ['J2TX.ALLFUTGOLD', 'M', '20220801', 0, 1777.9, 1824.6, 1713.0, 1715.2, 3019818],
               ['J2TX.ALLFUTGOLD', 'M', '20220901', 0, 1715.4, 1746.4, 1622.2, 1668.3, 3896802],
               ['J2TX.ALLFUTGOLD', 'M', '20221001', 0, 1670.5, 1738.7, 1621.1, 1640.4, 3449294],
               ['J2TX.ALLFUTGOLD', 'M', '20221101', 0, 1640.5, 1793.8, 1618.3, 1793.4, 3360941],
               ['J2TX.ALLFUTGOLD', 'M', '20221201', 0, 1793.3, 1841.9, 1778.1, 1830.1, 2841688],
               ['J2TX.ALLFUTGOLD', 'M', '20230101', 0, 1831.8, 1949.8, 1829.9, 1941.4, 3160947]]
gold_columns = ['<TICKER>', '<PER>', '<DATE>', '<TIME>', '<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>', '<VOL>']
gold = pd.DataFrame(gold_values, columns=gold_columns)
# Продолжите написание кода здесь

print(gold[['<DATE>','<CLOSE>']])

В датафрейме moex представлена информация по индексу Московской биржи за несколько дней. 
Измените "направленность" датафрейма так, 
чтобы даты шли по порядку сверху вниз, начиная с 01.03.2023, т.е. с 2023-03-01. 
Индексация должна начинаться с нуля. Выведите итоговый датафрейм на печать.

In [ ]:
import pandas as pd
moscow_exchange_values = [['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь
reverse_moex = moex[::-1].reset_index(drop=True)
print(reverse_moex)

Датафрейм interest_rates содержатся процентные ставки некоторых стран, действующие на 25.07.2023 г. 
Выведите на печать датафрейм, содержащий те строки, в которых процентная ставка ниже 4%.

In [ ]:
import pandas as pd
interest_rates_values = [['Австралия', 'Резервный банк Австралии', 4.1, '06.06.2023'],
       ['Бразилия', 'Центральный банк Бразилии', 13.75, '04.08.2022'],
       ['Великобритания', 'Банк Англии', 5.0, '22.06.2023'],
       ['Дания', 'Национальный банк Дании', 3.25, '15.06.2023'],
       ['Еврозона', 'Европейский центральный банк', 4.0, '15.06.2023'],
       ['Индия', 'Резервный банк Индии', 6.5, '08.02.2023'],
       ['Канада', 'Банк Канады', 5.0, '12.07.2023'],
       ['Китай', 'Народный банк Китая', 3.55, '20.06.2023'],
       ['Мексика', 'Банк Мексики', 11.25, '30.03.2023'],
       ['Новая Зеландия', 'Резервный банк Новой Зеландии', 5.5,
        '24.05.2023'],
       ['Россия', 'Центральный банк Российской Федерации', 8.5,
        '24.07.2023'],
       ['США', 'Федеральная резервная система', 5.25, '04.05.2023'],
       ['Турция', 'Центральный банк Турции', 17.5, '20.07.2023'],
       ['Швейцария', 'Национальный банк Швейцарии', 1.75, '22.06.2023'],
       ['Швеция', 'Банк Швеции', 3.75, '30.06.2023'],
       ['ЮАР', 'Южно-Африканский резервный банк', 8.25, '25.05.2023'],
       ['Япония', 'Банк Японии', -0.1, '03.08.2016']]
interest_rates_columns = ['Страна', 'Банк', 'Ставка', 'Дата вступления в силу']
interest_rates = pd.DataFrame(interest_rates_values, columns=interest_rates_columns)
# Продолжите написание кода здесь

low_interest_rates = interest_rates[interest_rates['Ставка'] < 4]
print(low_interest_rates)

Дилер банка "Royal Oil Bank" в течение рабочего дня разместил денежные средства на депозиты на разные сроки в несколько банков-контрагентов. Сделки представлены в датафрейме depo. Сроки: O/N - до следующего рабочего дня (овернайт); 1W - на 1 неделю; 1M - на 1 месяц; 3M - на 3 месяца.

Выведите на печать датафрейм, содержащий сделки со сроком размещения овернайт.

In [ ]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

print(depo[depo['Срок'] == 'O/N'])

Создайте новый датафрейм, состоящий из строк тех недель, цена закрытия 'close' 
которых была выше 14000 пунктов по индексу NASDAQ. Выведите его на печать.

Создайте новый датафрейм, состоящий из тех недель, в которых максимальная цена 'high' поднималась выше 15000 пунктов по индексу NASDAQ. Выведите его на печать.

Создайте новый датафрейм, состоящий из тех недель, в которых максимальная цена 'high' опускалась ниже 11000 пунктов по индексу NASDAQ. Выведите его на печать.

Посчитайте количество недель, за которые произошёл рост индекса NASDAQ, и количество недель, за которые наблюдалось снижение индекса. Выведите на печать количество растущих недель. И на следующей строке - количество падающих недель.

In [ ]:
import pandas as pd
data = [[1,15732.5,15852.14,14877.63,14935.9,23621810000],
[2,14751.78,15319.03,14530.23,14893.75,22722460000],
[3,14681.83,14740.54,13764.24,13768.92,20699010000],
[4,13481.5,14002.65,13094.65,13770.57,27938600000],
[5,13812.19,14504.82,13767.71,14098.01,22917570000],
[6,14118.79,14509.56,13733.16,13791.15,23742060000],
[7,13768.97,14163.73,13465.56,13548.07,21783060000],
[8,13424.36,13696.86,12587.88,13694.62,20297420000],
[9,13570.83,13837.59,13224.98,13313.44,27742350000],
[10,13328.36,13353.28,12670.08,12843.81,28635340000],
[11,12795.12,13899.28,12555.35,13893.84,31630400000],
[12,13860.39,14218.76,13682.55,14169.3,26877890000],
[13,14177.21,14646.9,14101.34,14261.5,27126270000],
[14,14304.35,14534.38,13689.23,13711.0,24148400000],
[15,13547.29,13685.95,13317.74,13351.08,19490360000],
[16,13319.39,13710.7,12828.02,12839.29,23315200000],
[17,12749.17,13011.45,12315.74,12334.64,24624260000],
[18,12331.69,12985.01,11990.15,12144.66,25596970000],
[19,11923.03,11990.61,11108.76,11805.0,30883260000],
[20,11727.14,11988.43,11035.69,11354.62,25677110000],
[21,11396.28,12131.66,11092.48,12131.13,23262840000],
[22,12137.54,12320.12,11901.43,12012.73,19341280000],
[23,12200.33,12245.4,11328.27,11340.02,24327710000],
[24,10986.85,11244.26,10565.14,10798.35,29275170000],
[25,10974.05,11613.23,10938.06,11607.62,25190770000],
[26,11661.02,11677.49,10850.01,11127.85,26652190000],
[27,10964.18,11689.7,10911.45,11635.31,19116360000],
[28,11524.49,11541.1,11005.93,11452.42,21963960000],
[29,11561.64,12093.02,11322.84,11834.11,25230550000],
[30,11837.96,12426.26,11533.37,12390.69,23117120000],
[31,12317.96,12736.19,12260.48,12657.55,25219290000],
[32,12703.72,13047.19,12438.86,13047.19,26340720000],
[33,12996.63,13181.09,12674.87,12705.22,24086490000],
[34,12523.16,12655.84,12141.52,12141.71,20877800000],
[35,12021.05,12124.87,11546.52,11630.86,22893680000],
[36,11643.03,12132.67,11471.5,12112.31,17800080000],
[37,12174.94,12270.19,11316.92,11448.4,26454340000],
[38,11338.57,11613.57,10732.72,10867.93,22718590000],
[39,10833.38,11101.5,10572.33,10575.62,22865220000],
[40,10659.01,11230.44,10577.89,10652.4,22569590000],
[41,10659.95,10766.69,10088.83,10321.39,22512590000],
[42,10575.65,10972.97,10542.43,10859.72,23776090000],
[43,10867.07,11210.38,10713.33,11102.45,24680370000],
[44,11028.43,11156.35,10262.93,10475.25,25423620000],
[45,10516.94,11352.43,10344.01,11323.33,26869400000],
[46,11233.9,11492.62,11006.21,11146.06,23736340000],
[47,11091.01,11310.82,10975.66,11226.36,14779100000],
[48,11147.57,11546.77,10944.37,11461.5,25198780000],
[49,11380.99,11425.51,10910.62,11004.62,22186460000],
[50,11015.48,11571.64,10642.1,10705.41,29946270000],
[51,10707.44,10753.57,10313.32,10497.86,22410180000],
[52,10462.19,10502.08,10207.47,10466.48,15783390000]]
col = ['week','open','high','low','close','volume']
nasdaq_weekly_2022 = pd.DataFrame(data, columns=col)
# Продолжите написание кода здесь

print(nasdaq_weekly_2022[nasdaq_weekly_2022['close'] > 14000])
print(nasdaq_weekly_2022[nasdaq_weekly_2022['high'] > 15000])
print(nasdaq_weekly_2022[nasdaq_weekly_2022['high'] < 11000])
print(nasdaq_weekly_2022[nasdaq_weekly_2022['open'] < nasdaq_weekly_2022['close']])

# Посчитайте количество недель, за которые произошёл рост индекса NASDAQ, 
# и количество недель, за которые наблюдалось снижение индекса. 
# Выведите на печать количество растущих недель. И на следующей строке - количество падающих недель.

print(nasdaq_weekly_2022[nasdaq_weekly_2022['open'] < nasdaq_weekly_2022['close']].shape[0])
print(nasdaq_weekly_2022[nasdaq_weekly_2022['open'] > nasdaq_weekly_2022['close']].shape[0])

Используя срезы, посчитайте суммарный объем за 2022 год по каждой компании. 
Выведите на печать в первой строке - суммарный объем за 2022 год по компании Tesla; 
во второй строке - суммарный объем за 2022 год по компании Apple.

In [ ]:
import pandas as pd
tsla_values = [['2022-01-01', 382.58, 402.67, 264.0, 312.24, 1916006400],
       ['2022-02-01', 311.74, 315.92, 233.33, 290.14, 1391126700],
       ['2022-03-01', 289.89, 371.59, 252.01, 359.2, 1729272900],
       ['2022-04-01', 360.38, 384.29, 273.9, 290.25, 1520959800],
       ['2022-05-01', 286.92, 318.5, 206.86, 252.75, 1948221600],
       ['2022-06-01', 251.72, 264.21, 208.69, 224.47, 2011227900],
       ['2022-07-01', 227.0, 298.32, 216.17, 297.15, 1744884000],
       ['2022-08-01', 301.28, 314.67, 271.81, 275.61, 1695263200],
       ['2022-09-01', 272.58, 313.8, 262.47, 265.25, 1299271000],
       ['2022-10-01', 254.5, 257.5, 198.59, 227.54, 1735263100],
       ['2022-11-01', 234.05, 237.4, 166.19, 194.7, 1885275300],
       ['2022-12-01', 197.08, 198.92, 108.24, 123.18, 2944247700],
       ['2023-01-01', 118.47, 180.68, 101.81, 173.22, 3897499400],
       ['2023-02-01', 173.89, 217.65, 169.93, 205.71, 3624845100],
       ['2023-03-01', 206.21, 207.79, 163.91, 207.46, 3311619900],
       ['2023-04-01', 199.91, 202.69, 152.37, 164.31, 2505176300],
       ['2023-05-01', 163.17, 204.48, 158.83, 203.93, 2681994800],
       ['2023-06-01', 202.59, 276.99, 199.37, 261.77, 3440477900]]
tsla_columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
tsla = pd.DataFrame(tsla_values, columns=tsla_columns)

aapl_values = [['2022-01-01', 177.83, 182.94, 154.7, 174.78, 2108446000],
       ['2022-02-01', 174.01, 176.65, 152.0, 165.12, 1627516300],
       ['2022-03-01', 164.7, 179.61, 150.1, 174.61, 2180800100],
       ['2022-04-01', 174.03, 178.49, 155.38, 157.65, 1687795600],
       ['2022-05-01', 156.71, 166.48, 132.61, 148.84, 2401040300],
       ['2022-06-01', 149.9, 151.74, 129.04, 136.72, 1749099800],
       ['2022-07-01', 136.04, 163.63, 135.66, 162.51, 1447125400],
       ['2022-08-01', 161.01, 176.15, 157.14, 157.22, 1510239600],
       ['2022-09-01', 156.64, 164.26, 138.0, 138.2, 2084722800],
       ['2022-10-01', 138.21, 157.5, 134.37, 153.34, 1868139700],
       ['2022-11-01', 155.08, 155.45, 134.38, 148.03, 1724847700],
       ['2022-12-01', 148.21, 150.92, 125.87, 129.93, 1675731200],
       ['2023-01-01', 130.28, 147.23, 124.17, 144.29, 1443652500],
       ['2023-02-01', 143.97, 157.38, 141.32, 147.41, 1307198900],
       ['2023-03-01', 146.83, 165.0, 143.9, 164.9, 1520266600],
       ['2023-04-01', 164.27, 169.85, 159.78, 169.68, 969709700],
       ['2023-05-01', 169.28, 179.35, 164.31, 177.25, 1275155500],
       ['2023-06-01', 177.7, 194.48, 176.93, 193.97, 1297101100]]
aapl_columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
aapl = pd.DataFrame(aapl_values, columns=aapl_columns)
# Продолжите написание кода здесь

tsla['Date'] = pd.to_datetime(tsla['Date'])
aapl['Date'] = pd.to_datetime(aapl['Date'])
print(tsla.loc[tsla['Date'].dt.year == 2022]['Volume'].sum())
print(aapl.loc[aapl['Date'] < '2023-01-01']['Volume'].sum())

Сделайте столбец 'Дата' индексом.
Транспонируйте датафрейм.
Выведите на печать данные из столбца '2023-03-01' в виде объекта Series.
Распечатайте пустую строку. 
Выведите на печать данные по двум столбцам '2023-03-01' и '2023-03-06'.

In [ ]:
import pandas as pd
import numpy as np
moscow_exchange_values = [['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex.set_index('Дата', inplace=True)
moex = moex.transpose()
first_march = moex['2023-03-01']
print(first_march)
print()
print(moex[['2023-03-01', '2023-03-06']])

В датафрейме pmi_manufacturing_germany представлена информация по индексу деловой активности в производственном секторе (PMI) Германии за период с января 2021 г. по июнь 2023 г. Используя срез, выведите на печать показатели за 2022 год.

In [ ]:
import pandas as pd
pmi_manufacturing_germany_values = [['03.07.2023 (июнь)', 40.6, 41.0, 43.2],
       ['01.06.2023 (май)', 43.2, 42.9, 44.5], ['02.05.2023 (апр)', 44.5, 44.0, 44.7],
       ['03.04.2023 (мар)', 44.7, 44.4, 46.3], ['01.03.2023 (фев)', 46.3, 46.5, 46.5],
       ['01.02.2023 (янв)', 47.3, 47.0, 47.1], ['02.01.2023 (дек)', 47.1, 47.4, 46.2],
       ['01.12.2022 (нояб)', 46.2, 46.7, 45.1], ['02.11.2022 (окт)', 45.1, 45.7, 47.8],
       ['03.10.2022 (сент)', 47.8, 48.3, 49.1], ['01.09.2022 (авг)', 49.1, 49.8, 49.3],
       ['01.08.2022 (июль)', 49.3, 49.2, 52.0], ['01.07.2022 (июнь)', 52.0, 52.0, 54.8],
       ['01.06.2022 (май)', 54.8, 54.7, 54.6], ['02.05.2022 (апр)', 54.6, 54.1, 56.9],
       ['01.04.2022 (мар)', 56.9, 57.6, 57.6], ['01.03.2022 (фев)', 58.4, 58.5, 59.8],
       ['01.02.2022 (янв)', 59.8, 60.5, 57.4], ['03.01.2022 (дек)', 57.4, 57.9, 57.4],
       ['01.12.2021 (нояб)', 57.4, 57.6, 57.6], ['02.11.2021 (окт)', 57.8, 58.2, 58.4],
       ['01.10.2021 (сент)', 58.4, 58.5, 62.6], ['01.09.2021 (авг)', 62.6, 62.7, 65.9],
       ['02.08.2021 (июль)', 65.9, 65.6, 65.1], ['01.07.2021 (июнь)', 65.1, 64.9, 64.4],
       ['01.06.2021 (май)', 64.4, 64.0, 66.2], ['03.05.2021 (апр)', 66.2, 66.4, 66.4],
       ['01.04.2021 (мар)', 66.6, 66.6, 60.7], ['01.03.2021 (фев)', 60.7, 60.6, 57.1],
       ['01.02.2021 (янв)', 57.1, 57.0, 58.3]]
pmi_manufacturing_germany_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_manufacturing_germany = pd.DataFrame(pmi_manufacturing_germany_values, 
                                        columns=pmi_manufacturing_germany_columns)
# Продолжите написание кода здесь
print(pmi_manufacturing_germany.loc[6:17]) # включительно

Создайте датафрейм, содержащий показатели за 2022 год, и в котором будут только два столбца - 'Дата выпуска' и 'Факт.'.
"Переверните" датафрейм, чтобы показатели начинались с января 2022 г.
Индексация должна идти с нуля.
Выведите итоговый датафрейм на печать.

In [ ]:
import pandas as pd
pmi_services_germany_values = [['05.07.2023 (июнь)', 54.1, 54.1, 57.2],
       ['05.06.2023 (май)', 57.2, 57.8, 56.0], ['04.05.2023 (апр)', 56.0, 55.7, 53.7],
       ['05.04.2023 (мар)', 53.7, 53.9, 50.9], ['03.03.2023 (фев)', 50.9, 51.3, 50.7],
       ['03.02.2023 (янв)', 50.7, 50.4, 49.2], ['04.01.2023 (дек)', 49.2, 49.0, 46.1],
       ['05.12.2022 (нояб)', 46.1, 46.4, 46.5], ['04.11.2022 (окт)', 46.5, 44.9, 45.0],
       ['05.10.2022 (сент)', 45.0, 45.4, 47.7], ['05.09.2022 (авг)', 47.7, 48.2, 49.7],
       ['03.08.2022 (июль)', 49.7, 49.2, 52.4], ['05.07.2022 (июнь)', 52.4, 52.4, 55.0],
       ['03.06.2022 (май)', 55.0, 56.3, 56.3], ['04.05.2022 (апр)', 57.6, 57.9, 56.1],
       ['05.04.2022 (мар)', 56.1, 55.0, 55.8], ['03.03.2022 (фев)', 55.8, 56.6, 52.2],
       ['03.02.2022 (янв)', 52.2, 52.2, 48.7], ['05.01.2022 (дек)', 48.7, 48.4, 52.7],
       ['03.12.2021 (нояб)', 52.7, 53.4, 52.4], ['04.11.2021 (окт)', 52.4, 52.4, 56.2],
       ['05.10.2021 (сент)', 56.2, 56.0, 60.8], ['03.09.2021 (авг)', 60.8, 61.5, 61.8],
       ['04.08.2021 (июль)', 61.8, 62.2, 57.5], ['05.07.2021 (июнь)', 57.5, 58.1, 52.8],
       ['03.06.2021 (май)', 52.8, 52.8, 52.8], ['05.05.2021 (апр)', 49.9, 50.1, 51.5],
       ['07.04.2021 (мар)', 51.5, 50.8, 45.7], ['03.03.2021 (фев)', 45.7, 45.9, 46.7],
       ['03.02.2021 (янв)', 46.7, 46.8, 46.8]]
pmi_services_germany_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_services_germany = pd.DataFrame(pmi_services_germany_values, 
                                        columns=pmi_services_germany_columns)
# Продолжите написание кода здесь
pmi_2022 = pmi_services_germany[['Дата выпуска', 'Факт.']][6:18][::-1] # Берем срез за 22 год и переварачиваем датафрейм
pmi_2022.reset_index(drop=True, inplace=True) # Убираем индекс
print(pmi_2022)

В датафрейме pmi_manufacturing представлена информация по индексу деловой активности в производственном секторе (PMI) 
по России, Индии, Китаю, США и еврозоне за период с января 2021 г. по июнь 2023 г. 
Выведите на печать датафрейм, содержащий столбцы 'Период', 'Факт_Россия', 'Факт_США'.

In [ ]:
import pandas as pd
pmi_manufacturing_values = [['июнь 2023', 52.6, 57.8, 49.0, 46.0, 43.4],
       ['май 2023', 53.5, 58.7, 48.8, 46.9, 44.8], ['апр 2023', 52.6, 57.2, 49.2, 47.1, 45.8],
       ['мар 2023', 53.2, 56.4, 51.9, 46.3, 47.3], ['фев 2023', 53.6, 55.3, 52.6, 47.7, 48.5],
       ['янв 2023', 52.6, 55.4, 50.1, 47.4, 48.8], ['дек 2022', 53.0, 57.8, 47.0, 48.4, 47.8],
       ['нояб 2022', 53.2, 55.7, 48.0, 49.0, 47.1], ['окт 2022', 50.7, 55.3, 49.2, 50.2, 46.4],
       ['сент 2022', 52.0, 55.1, 50.1, 50.9, 48.4], ['авг 2022', 51.7, 56.2, 49.4, 52.8, 49.6],
       ['июль 2022', 50.3, 56.4, 49.0, 52.8, 49.8], ['июнь 2022', 50.9, 53.9, 50.2, 53.0, 52.1],
       ['май 2022', 50.8, 54.6, 49.6, 56.1, 54.6], ['апр 2022', 48.2, 54.7, 47.4, 55.4, 55.5],
       ['мар 2022', 44.1, 54.0, 49.5, 57.1, 56.5], ['фев 2022', 48.6, 54.9, 50.2, 58.6, 58.2],
       ['янв 2022', 51.8, 54.0, 50.1, 57.6, 58.7], ['дек 2021', 51.6, 55.5, 50.3, 58.7, 58.0],
       ['нояб 2021', 51.7, 57.6, 50.1, 61.1, 58.4], ['окт 2021', 51.6, 55.9, 49.2, 60.8, 58.3],
       ['сент 2021', 49.8, 53.7, 49.6, 61.1, 58.6], ['авг 2021', 46.5, 52.3, 50.1, 59.9, 61.4],
       ['июль 2021', 47.5, 55.3, 50.4, 59.5, 62.8], ['июнь 2021', 49.2, 48.1, 50.9, 60.6, 63.4],
       ['май 2021', 51.9, 50.8, 51.0, 61.2, 63.1], ['апр 2021', 50.4, 55.5, 51.1, 60.7, 62.9],
       ['мар 2021', 51.1, 55.4, 51.9, 64.7, 62.5], ['фев 2021', 51.5, 57.5, 50.6, 60.8, 57.9],
       ['янв 2021', 50.9, 57.7, 51.3, 58.7, 54.8]]
pmi_manufacturing_columns = ['Период', 'Факт_Россия', 'Факт_Индия', 'Факт_Китай', 'Факт_США', 'Факт_еврозона']
pmi_manufacturing = pd.DataFrame(pmi_manufacturing_values, columns=pmi_manufacturing_columns)
# Продолжите написание кода здесь

print(pmi_manufacturing[['Период', 'Факт_Россия', 'Факт_США']])

Создайте новый датафрейм, содержащий столбцы 'Период', 'Факт_Норвегия', 'Факт_Польша'.
"Переверните" датафрейм, чтобы показатели сверху таблицы шли с января 2021 г.
Индексация должна идти сверху вниз, начинаясь с нуля.
Выведите на печать итоговый датафрейм.

In [ ]:
import pandas as pd
pmi_manufacturing_values = [['июнь 2023', 40.6, 46.0, 48.0, 45.1, 51.5],
       ['май 2023', 43.2, 45.7, 47.4, 47.0, 51.5], ['апр 2023', 44.5, 45.6, 51.2, 46.6, 51.5],
       ['мар 2023', 44.7, 47.3, 48.3, 48.3, 50.9], ['фев 2023', 46.3, 47.4, 47.5, 48.5, 50.1],
       ['янв 2023', 47.3, 50.5, 50.0, 47.5, 50.1], ['дек 2022', 47.1, 49.2, 50.0, 45.6, 48.1],
       ['нояб 2022', 46.2, 48.3, 51.2, 43.4, 45.7], ['окт 2022', 45.1, 47.2, 53.1, 42.0, 46.4],
       ['сент 2022', 47.8, 47.7, 50.0, 43.0, 46.9], ['авг 2022', 49.1, 50.6, 52.3, 40.9, 47.4],
       ['июль 2022', 49.3, 49.5, 54.6, 42.1, 46.9], ['июнь 2022', 52.0, 51.4, 56.4, 44.4, 48.1],
       ['май 2022', 54.8, 54.6, 54.9, 48.5, 49.2], ['апр 2022', 54.6, 55.7, 60.6, 52.4, 49.2],
       ['мар 2022', 56.9, 54.7, 59.6, 52.7, 49.4], ['фев 2022', 58.4, 57.2, 55.9, 54.7, 50.4],
       ['янв 2022', 59.8, 55.5, 56.5, 54.5, 50.5], ['дек 2021', 57.4, 55.6, 58.0, 56.1, 52.1],
       ['нояб 2021', 57.4, 55.9, 63.7, 54.4, 52.0], ['окт 2021', 57.8, 53.6, 58.5, 53.8, 51.2],
       ['сент 2021', 58.4, 55.0, 59.2, 53.4, 52.5], ['авг 2021', 62.6, 57.5, 62.2, 56.0, 54.1],
       ['июль 2021', 65.9, 58.0, 63.3, 57.6, 54.0], ['июнь 2021', 65.1, 59.0, 60.8, 59.4, 51.3],
       ['май 2021', 64.4, 59.4, 58.5, 57.2, 49.3], ['апр 2021', 66.2, 58.9, 59.1, 53.7, 50.4],
       ['мар 2021', 66.6, 59.3, 60.4, 54.3, 52.6], ['фев 2021', 60.7, 56.1, 56.1, 53.4, 51.7],
       ['янв 2021', 57.1, 51.6, 51.8, 51.9, 54.4]]
pmi_manufacturing_columns = ['Период', 'Факт_Германия', 'Факт_Франция', 'Факт_Норвегия', 
                             'Факт_Польша', 'Факт_Турция']
pmi_manufacturing = pd.DataFrame(pmi_manufacturing_values, columns=pmi_manufacturing_columns)
# Продолжите написание кода здесь
pmi_rel_countries = (
    pmi_manufacturing[['Период', 'Факт_Норвегия', 'Факт_Польша']]
    [::-1]
    .reset_index(drop=True)
)
print(pmi_rel_countries)

Выведите на печать датафрейм, содержащий столбцы 'Период', 'Факт_Германия', 'Факт_Франция' 
c данными за первое полугодие 2023 г.

In [ ]:
import pandas as pd
pmi_manufacturing_values = [['июнь 2023', 40.6, 46.0, 48.0, 45.1, 51.5],
       ['май 2023', 43.2, 45.7, 47.4, 47.0, 51.5], ['апр 2023', 44.5, 45.6, 51.2, 46.6, 51.5],
       ['мар 2023', 44.7, 47.3, 48.3, 48.3, 50.9], ['фев 2023', 46.3, 47.4, 47.5, 48.5, 50.1],
       ['янв 2023', 47.3, 50.5, 50.0, 47.5, 50.1], ['дек 2022', 47.1, 49.2, 50.0, 45.6, 48.1],
       ['нояб 2022', 46.2, 48.3, 51.2, 43.4, 45.7], ['окт 2022', 45.1, 47.2, 53.1, 42.0, 46.4],
       ['сент 2022', 47.8, 47.7, 50.0, 43.0, 46.9], ['авг 2022', 49.1, 50.6, 52.3, 40.9, 47.4],
       ['июль 2022', 49.3, 49.5, 54.6, 42.1, 46.9], ['июнь 2022', 52.0, 51.4, 56.4, 44.4, 48.1],
       ['май 2022', 54.8, 54.6, 54.9, 48.5, 49.2], ['апр 2022', 54.6, 55.7, 60.6, 52.4, 49.2],
       ['мар 2022', 56.9, 54.7, 59.6, 52.7, 49.4], ['фев 2022', 58.4, 57.2, 55.9, 54.7, 50.4],
       ['янв 2022', 59.8, 55.5, 56.5, 54.5, 50.5], ['дек 2021', 57.4, 55.6, 58.0, 56.1, 52.1],
       ['нояб 2021', 57.4, 55.9, 63.7, 54.4, 52.0], ['окт 2021', 57.8, 53.6, 58.5, 53.8, 51.2],
       ['сент 2021', 58.4, 55.0, 59.2, 53.4, 52.5], ['авг 2021', 62.6, 57.5, 62.2, 56.0, 54.1],
       ['июль 2021', 65.9, 58.0, 63.3, 57.6, 54.0], ['июнь 2021', 65.1, 59.0, 60.8, 59.4, 51.3],
       ['май 2021', 64.4, 59.4, 58.5, 57.2, 49.3], ['апр 2021', 66.2, 58.9, 59.1, 53.7, 50.4],
       ['мар 2021', 66.6, 59.3, 60.4, 54.3, 52.6], ['фев 2021', 60.7, 56.1, 56.1, 53.4, 51.7],
       ['янв 2021', 57.1, 51.6, 51.8, 51.9, 54.4]]
pmi_manufacturing_columns = ['Период', 'Факт_Германия', 'Факт_Франция', 'Факт_Норвегия',
                             'Факт_Польша', 'Факт_Турция']
pmi_manufacturing = pd.DataFrame(pmi_manufacturing_values, columns=pmi_manufacturing_columns)
# Продолжите написание кода здесь

print(pmi_manufacturing[['Период', 'Факт_Германия', 'Факт_Франция']].loc[pmi_manufacturing['Период'].str[-4:] == '2023'])

Используя loc добавьте новую строчку в конец датафрейма, содержащую следующие данные: 
    'Golden Silver Bank', 500_000_000, 8.20, 'O/N'. 
    Выведите итоговый датафрейм на печать.

In [ ]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь
new_row = ['Golden Silver Bank', 500_000_000, 8.20, 'O/N']
depo.loc[depo.shape[0]] = new_row
print(depo)

Датафрейм содержит информацию по уровням открытия и закрытия трех американских биржевых индексов за несколько дней. 
Выведите на печать датафрейм, содержащий информацию только по индексы NASDAQ Composite.

In [ ]:
import pandas as pd
df_values = [['S&P 500', 'Dec 01, 2023', '4,559.43', '4,594.63'],
       ['NASDAQ Composite', 'Dec 01, 2023', '14,181.35', '14,305.03'],
       ['Dow Jones Industrial Average', 'Dec 01, 2023', '35,914.45', '36,245.50'],
       ['S&P 500', 'Nov 30, 2023', '4,554.87', '4,567.80'],
       ['NASDAQ Composite', 'Nov 30, 2023', '14,265.05', '14,226.22'],
       ['Dow Jones Industrial Average', 'Nov 30, 2023', '35,596.57', '35,950.89'],
       ['S&P 500', 'Nov 29, 2023', '4,571.84', '4,550.58'],
       ['NASDAQ Composite', 'Nov 29, 2023', '14,367.11', '14,258.49'],
       ['Dow Jones Industrial Average', 'Nov 29, 2023', '35,436.80', '35,430.42'],
       ['S&P 500', 'Nov 28, 2023', '4,545.55', '4,554.89'],
       ['NASDAQ Composite', 'Nov 28, 2023', '14,224.63', '14,281.76'],
       ['Dow Jones Industrial Average', 'Nov 28, 2023', '35,332.13', '35,416.98'],
       ['S&P 500', 'Nov 27, 2023', '4,554.86', '4,550.43'],
       ['NASDAQ Composite', 'Nov 27, 2023', '14,239.31', '14,241.02'],
       ['Dow Jones Industrial Average', 'Nov 27, 2023', '35,376.44', '35,333.47']]
df_columns = ['Exchange Index', 'Date', 'Open', 'Close']
df = pd.DataFrame(df_values, columns=df_columns)
df.set_index('Exchange Index', inplace=True)
# Продолжите написание кода здесь
print(df.filter(like='NASDAQ Composite', axis=0))

Датафрейм содержит информацию по уровням открытия и закрытия трех американских биржевых индексов за несколько дней. 
Выведите на печать датафрейм, содержащий данные только за 29 ноября 2023 г.

In [ ]:
import pandas as pd
df_values = [['S&P 500', 'Dec 01, 2023', '4,559.43', '4,594.63'],
       ['NASDAQ Composite', 'Dec 01, 2023', '14,181.35', '14,305.03'],
       ['Dow Jones Industrial Average', 'Dec 01, 2023', '35,914.45', '36,245.50'],
       ['S&P 500', 'Nov 30, 2023', '4,554.87', '4,567.80'],
       ['NASDAQ Composite', 'Nov 30, 2023', '14,265.05', '14,226.22'],
       ['Dow Jones Industrial Average', 'Nov 30, 2023', '35,596.57', '35,950.89'],
       ['S&P 500', 'Nov 29, 2023', '4,571.84', '4,550.58'],
       ['NASDAQ Composite', 'Nov 29, 2023', '14,367.11', '14,258.49'],
       ['Dow Jones Industrial Average', 'Nov 29, 2023', '35,436.80', '35,430.42'],
       ['S&P 500', 'Nov 28, 2023', '4,545.55', '4,554.89'],
       ['NASDAQ Composite', 'Nov 28, 2023', '14,224.63', '14,281.76'],
       ['Dow Jones Industrial Average', 'Nov 28, 2023', '35,332.13', '35,416.98'],
       ['S&P 500', 'Nov 27, 2023', '4,554.86', '4,550.43'],
       ['NASDAQ Composite', 'Nov 27, 2023', '14,239.31', '14,241.02'],
       ['Dow Jones Industrial Average', 'Nov 27, 2023', '35,376.44', '35,333.47']]
df_columns = ['Exchange Index', 'Date', 'Open', 'Close']
df = pd.DataFrame(df_values, columns=df_columns)
df.set_index('Exchange Index', inplace=True)
# Продолжите написание кода здесь
filter_date = 'Nov 29, 2023'
print(df.query('Date == @filter_date'))

Датафрейм содержит информацию по уровням открытия и закрытия трех американских биржевых индексов за несколько дней. 
Выведите на печать датафрейм, 
содержащий данные только за 29 ноября 2023 г. и отсортируйте колонку индекса по алфавиту.

In [ ]:
import pandas as pd
df_values = [['S&P 500', 'Dec 01, 2023', '4,559.43', '4,594.63'],
       ['NASDAQ Composite', 'Dec 01, 2023', '14,181.35', '14,305.03'],
       ['Dow Jones Industrial Average', 'Dec 01, 2023', '35,914.45', '36,245.50'],
       ['S&P 500', 'Nov 30, 2023', '4,554.87', '4,567.80'],
       ['NASDAQ Composite', 'Nov 30, 2023', '14,265.05', '14,226.22'],
       ['Dow Jones Industrial Average', 'Nov 30, 2023', '35,596.57', '35,950.89'],
       ['S&P 500', 'Nov 29, 2023', '4,571.84', '4,550.58'],
       ['NASDAQ Composite', 'Nov 29, 2023', '14,367.11', '14,258.49'],
       ['Dow Jones Industrial Average', 'Nov 29, 2023', '35,436.80', '35,430.42'],
       ['S&P 500', 'Nov 28, 2023', '4,545.55', '4,554.89'],
       ['NASDAQ Composite', 'Nov 28, 2023', '14,224.63', '14,281.76'],
       ['Dow Jones Industrial Average', 'Nov 28, 2023', '35,332.13', '35,416.98'],
       ['S&P 500', 'Nov 27, 2023', '4,554.86', '4,550.43'],
       ['NASDAQ Composite', 'Nov 27, 2023', '14,239.31', '14,241.02'],
       ['Dow Jones Industrial Average', 'Nov 27, 2023', '35,376.44', '35,333.47']]
df_columns = ['Exchange Index', 'Date', 'Open', 'Close']
df = pd.DataFrame(df_values, columns=df_columns)
df.set_index('Exchange Index', inplace=True)
# Продолжите написание кода здесь
filter_date = 'Nov 29, 2023'
print(df[df['Date'].isin([filter_date])][::-1])

Объект DataFrame содержит информацию по рыночной капитализации некоторых российских компаний на конец 3-го квартала 2023 года. 
Используя метод query(), выведите на печать датафрейм, содержащий только финансовые организации.

In [ ]:
import pandas as pd
df_values = [['AMEZ', 'ПАО "Ашинский метзавод"', 'ао', 51480414016, 'металлургия'],
       ['BSPB', 'ПАО "Банк "Санкт-Петербург"', 'ао', 134333130048, 'банк'],
       ['BSPBP', 'ПАО "Банк "Санкт-Петербург"', 'ап', 1234140000, 'банк'],
       ['CHMF', 'ПАО "Северсталь"', 'ао', 1147004389272, 'металлургия'],
       ['CHMK', 'ПАО "ЧМК"', 'ао', 35398198175, 'металлургия'],
       ['GMKN', 'ПАО "ГМК "Норильский никель"', 'ао', 2474552670636, 'металлургия'],
       ['MAGN', 'ПАО "ММК"', 'ао', 583970485800, 'металлургия'],
       ['MTLR', 'ПАО "Мечел"', 'ао', 85098228400, 'металлургия'],
       ['MTLRP', 'ПАО "Мечел"', 'ап', 31456192630, 'металлургия'],
       ['NLMK', 'ПАО "НЛМК"', 'ао', 1255940700414, 'металлургия'],
       ['ROSB', 'ПАО РОСБАНК', 'ао', 158242989006, 'банк'],
       ['RUAL', 'МКПАО "ОК РУСАЛ"', 'ао', 626180107537, 'металлургия'],
       ['SBER', 'ПАО Сбербанк', 'ао', 5628796691000, 'банк'],
       ['SBERP', 'ПАО Сбербанк', 'ап', 260380000000, 'банк'],
       ['TRMK', 'ПАО "ТМК"', 'ао', 229500690203, 'металлургия'],
       ['USBN', 'ПАО "БАНК УРАЛСИБ"', 'ао', 71090589258, 'банк'],
       ['VTBR', 'Банк ВТБ (ПАО)', 'ао', 693929707327, 'банк']]
df_columns = ['Торговый код', 'Эмитент', 'Тип',
              'Капитализация, руб.', 'Отрасль']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

print(df.query('Отрасль == "банк"'))

Объект DataFrame содержит информацию по рыночной капитализации некоторых российских компаний на конец 3-го квартала 2023 года. 
Замените в столбце 'Отрасль' значения: 'металлургия' на 'М', 'банк' на 'Б'. Выведите на печать итоговый датафрейм.
Решите задание с использованием метода where()

In [ ]:
import pandas as pd
df_values = [['AMEZ', 'ПАО "Ашинский метзавод"', 'ао', 51480414016, 'металлургия'],
       ['BSPB', 'ПАО "Банк "Санкт-Петербург"', 'ао', 134333130048, 'банк'],
       ['BSPBP', 'ПАО "Банк "Санкт-Петербург"', 'ап', 1234140000, 'банк'],
       ['CHMF', 'ПАО "Северсталь"', 'ао', 1147004389272, 'металлургия'],
       ['CHMK', 'ПАО "ЧМК"', 'ао', 35398198175, 'металлургия'],
       ['GMKN', 'ПАО "ГМК "Норильский никель"', 'ао', 2474552670636, 'металлургия'],
       ['MAGN', 'ПАО "ММК"', 'ао', 583970485800, 'металлургия'],
       ['MTLR', 'ПАО "Мечел"', 'ао', 85098228400, 'металлургия'],
       ['MTLRP', 'ПАО "Мечел"', 'ап', 31456192630, 'металлургия'],
       ['NLMK', 'ПАО "НЛМК"', 'ао', 1255940700414, 'металлургия'],
       ['ROSB', 'ПАО РОСБАНК', 'ао', 158242989006, 'банк'],
       ['RUAL', 'МКПАО "ОК РУСАЛ"', 'ао', 626180107537, 'металлургия'],
       ['SBER', 'ПАО Сбербанк', 'ао', 5628796691000, 'банк'],
       ['SBERP', 'ПАО Сбербанк', 'ап', 260380000000, 'банк'],
       ['TRMK', 'ПАО "ТМК"', 'ао', 229500690203, 'металлургия'],
       ['USBN', 'ПАО "БАНК УРАЛСИБ"', 'ао', 71090589258, 'банк'],
       ['VTBR', 'Банк ВТБ (ПАО)', 'ао', 693929707327, 'банк']]
df_columns = ['Торговый код', 'Эмитент', 'Тип',
              'Капитализация, руб.', 'Отрасль']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

df['Отрасль'] = df['Отрасль'].where(df['Отрасль'] == 'металлургия', 'Б')
df['Отрасль'] = df['Отрасль'].where(df['Отрасль'] == 'Б', 'М')
print(df)

Объект DataFrame содержит информацию по рыночной капитализации некоторых российских компаний на конец 3-го квартала 2023 года. 
Выведите на печать датафрейм, содержащий все строки, 
в которых в столбце 'Торговый код' значения начинаются на букву R.

In [ ]:
import pandas as pd
df_values = [['AMEZ', 'ПАО "Ашинский метзавод"', 'ао', 51480414016, 'металлургия'],
       ['BSPB', 'ПАО "Банк "Санкт-Петербург"', 'ао', 134333130048, 'банк'],
       ['BSPBP', 'ПАО "Банк "Санкт-Петербург"', 'ап', 1234140000, 'банк'],
       ['CHMF', 'ПАО "Северсталь"', 'ао', 1147004389272, 'металлургия'],
       ['CHMK', 'ПАО "ЧМК"', 'ао', 35398198175, 'металлургия'],
       ['GMKN', 'ПАО "ГМК "Норильский никель"', 'ао', 2474552670636, 'металлургия'],
       ['MAGN', 'ПАО "ММК"', 'ао', 583970485800, 'металлургия'],
       ['MTLR', 'ПАО "Мечел"', 'ао', 85098228400, 'металлургия'],
       ['MTLRP', 'ПАО "Мечел"', 'ап', 31456192630, 'металлургия'],
       ['NLMK', 'ПАО "НЛМК"', 'ао', 1255940700414, 'металлургия'],
       ['ROSB', 'ПАО РОСБАНК', 'ао', 158242989006, 'банк'],
       ['RUAL', 'МКПАО "ОК РУСАЛ"', 'ао', 626180107537, 'металлургия'],
       ['SBER', 'ПАО Сбербанк', 'ао', 5628796691000, 'банк'],
       ['SBERP', 'ПАО Сбербанк', 'ап', 260380000000, 'банк'],
       ['TRMK', 'ПАО "ТМК"', 'ао', 229500690203, 'металлургия'],
       ['USBN', 'ПАО "БАНК УРАЛСИБ"', 'ао', 71090589258, 'банк'],
       ['VTBR', 'Банк ВТБ (ПАО)', 'ао', 693929707327, 'банк']]
df_columns = ['Торговый код', 'Эмитент', 'Тип',
              'Капитализация, руб.', 'Отрасль']
df = pd.DataFrame(df_values, columns=df_columns)
df.set_index('Торговый код', inplace=True)
# Продолжите написание кода здесь

print(df.filter(regex='^R', axis=0))

Объект DataFrame содержит информацию по рыночной капитализации 
некоторых российских компаний на конец 3-го квартала 2023 года. 
Выведите на печать датафрейм, содержащий все строки, 
в которых в столбце 'Торговый код' значения начинаются на буквы M или S.

In [ ]:
import pandas as pd
df_values = [['AMEZ', 'ПАО "Ашинский метзавод"', 'ао', 51480414016, 'металлургия'],
       ['BSPB', 'ПАО "Банк "Санкт-Петербург"', 'ао', 134333130048, 'банк'],
       ['BSPBP', 'ПАО "Банк "Санкт-Петербург"', 'ап', 1234140000, 'банк'],
       ['CHMF', 'ПАО "Северсталь"', 'ао', 1147004389272, 'металлургия'],
       ['CHMK', 'ПАО "ЧМК"', 'ао', 35398198175, 'металлургия'],
       ['GMKN', 'ПАО "ГМК "Норильский никель"', 'ао', 2474552670636, 'металлургия'],
       ['MAGN', 'ПАО "ММК"', 'ао', 583970485800, 'металлургия'],
       ['MTLR', 'ПАО "Мечел"', 'ао', 85098228400, 'металлургия'],
       ['MTLRP', 'ПАО "Мечел"', 'ап', 31456192630, 'металлургия'],
       ['NLMK', 'ПАО "НЛМК"', 'ао', 1255940700414, 'металлургия'],
       ['ROSB', 'ПАО РОСБАНК', 'ао', 158242989006, 'банк'],
       ['RUAL', 'МКПАО "ОК РУСАЛ"', 'ао', 626180107537, 'металлургия'],
       ['SBER', 'ПАО Сбербанк', 'ао', 5628796691000, 'банк'],
       ['SBERP', 'ПАО Сбербанк', 'ап', 260380000000, 'банк'],
       ['TRMK', 'ПАО "ТМК"', 'ао', 229500690203, 'металлургия'],
       ['USBN', 'ПАО "БАНК УРАЛСИБ"', 'ао', 71090589258, 'банк'],
       ['VTBR', 'Банк ВТБ (ПАО)', 'ао', 693929707327, 'банк']]
df_columns = ['Торговый код', 'Эмитент', 'Тип',
              'Капитализация, руб.', 'Отрасль']
df = pd.DataFrame(df_values, columns=df_columns)
df.set_index('Торговый код', inplace=True)
# Продолжите написание кода здесь

print(df.filter(regex='^[MS]', axis=0))

В датафрейме interest_rates представлены процентные ставки некоторых стран, 
действующие на 25.07.2023 года. Используя методы idxmax() и idxmin(), 
выведите на печать сначала страну с максимальной ставкой, а на следующей строке - 
наименование страны с наименьшей ставкой из приведенных в датафрейме

In [ ]:
import pandas as pd
interest_rates_values = [['Австралия', 'Резервный банк Австралии', 4.1, '06.06.2023'],
       ['Бразилия', 'Центральный банк Бразилии', 13.75, '04.08.2022'],
       ['Великобритания', 'Банк Англии', 5.0, '22.06.2023'],
       ['Дания', 'Национальный банк Дании', 3.25, '15.06.2023'],
       ['Еврозона', 'Европейский центральный банк', 4.0, '15.06.2023'],
       ['Индия', 'Резервный банк Индии', 6.5, '08.02.2023'],
       ['Канада', 'Банк Канады', 5.0, '12.07.2023'],
       ['Китай', 'Народный банк Китая', 3.55, '20.06.2023'],
       ['Мексика', 'Банк Мексики', 11.25, '30.03.2023'],
       ['Новая Зеландия', 'Резервный банк Новой Зеландии', 5.5,
        '24.05.2023'],
       ['Россия', 'Центральный банк Российской Федерации', 8.5,
        '24.07.2023'],
       ['США', 'Федеральная резервная система', 5.25, '04.05.2023'],
       ['Турция', 'Центральный банк Турции', 17.5, '20.07.2023'],
       ['Швейцария', 'Национальный банк Швейцарии', 1.75, '22.06.2023'],
       ['Швеция', 'Банк Швеции', 3.75, '30.06.2023'],
       ['ЮАР', 'Южно-Африканский резервный банк', 8.25, '25.05.2023'],
       ['Япония', 'Банк Японии', -0.1, '03.08.2016']]
interest_rates_columns = ['Страна', 'Банк', 'Ставка', 'Дата вступления в силу']
interest_rates = pd.DataFrame(interest_rates_values, columns=interest_rates_columns)
# Продолжите написание кода здесь

interest_rates.set_index('Страна', inplace=True)
print(interest_rates['Ставка'].idxmax())
print(interest_rates['Ставка'].idxmin())

В датафрейм pmi_manufacturing_usa представлена информация по индексу деловой активности в производственном секторе (PMI) США 
за период с января 2021 г. по июнь 2023 г. 
Создайте новую колонку, которая будет содержать результат вычитания фактических значений из прогнозных 
и назовите её 'Прогноз - Факт'. 
Выведите итоговый датафрейм на печать.

In [ ]:
import pandas as pd
pmi_manufacturing_usa_values = [['03.07.2023 (июнь)', 46.0, 47.2, 46.9],
       ['01.06.2023 (май)', 46.9, 47.0, 47.1], ['01.05.2023 (апр)', 47.1, 46.8, 46.3],
       ['03.04.2023 (мар)', 46.3, 47.5, 47.7], ['01.03.2023 (фев)', 47.7, 48.0, 47.4],
       ['01.02.2023 (янв)', 47.4, 48.0, 48.4], ['04.01.2023 (дек)', 48.4, 48.5, 49.0],
       ['01.12.2022 (нояб)', 49.0, 49.8, 50.2], ['01.11.2022 (окт)', 50.2, 50.0, 50.9],
       ['03.10.2022 (сент)', 50.9, 52.2, 52.8], ['01.09.2022 (авг)', 52.8, 52.0, 52.8],
       ['01.08.2022 (июль)', 52.8, 52.0, 53.0], ['01.07.2022 (июнь)', 53.0, 54.9, 56.1],
       ['01.06.2022 (май)', 56.1, 54.5, 55.4], ['02.05.2022 (апр)', 55.4, 57.6, 57.1],
       ['01.04.2022 (мар)', 57.1, 59.0, 58.6], ['01.03.2022 (фев)', 58.6, 58.0, 57.6],
       ['01.02.2022 (янв)', 57.6, 57.5, 58.8], ['04.01.2022 (дек)', 58.7, 60.0, 61.1],
       ['01.12.2021 (нояб)', 61.1, 61.0, 60.8], ['01.11.2021 (окт)', 60.8, 60.5, 61.1],
       ['01.10.2021 (сент)', 61.1, 59.6, 59.9], ['01.09.2021 (авг)', 59.9, 58.6, 59.5],
       ['02.08.2021 (июль)', 59.5, 60.9, 60.6], ['01.07.2021 (июнь)', 60.6, 61.0, 61.2],
       ['01.06.2021 (май)', 61.2, 60.9, 60.7], ['03.05.2021 (апр)', 60.7, 65.0, 64.7],
       ['01.04.2021 (мар)', 64.7, 61.3, 60.8], ['01.03.2021 (фев)', 60.8, 58.8, 58.7],
       ['01.02.2021 (янв)', 58.7, 60.0, 60.5]]
pmi_manufacturing_usa_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_manufacturing_usa = pd.DataFrame(pmi_manufacturing_usa_values, 
                                        columns=pmi_manufacturing_usa_columns)
# Продолжите написание кода здесь
pmi_manufacturing_usa['Прогноз - Факт'] = pmi_manufacturing_usa['Прогноз'] - pmi_manufacturing_usa['Факт.']
print(pmi_manufacturing_usa)

В датафрейм pmi_manufacturing_eurozone представлена информация по индексу деловой активности в производственном секторе (PMI) 
еврозоны за период с января 2021 г. по июнь 2023 г.

Создайте новую колонку, которая будет содержать результат вычитания фактических значений из прогнозных. 
Назовите её 'Прогноз - Факт'. Измените "направленность" датафрейма так, 
чтобы даты шли по порядку сверху вниз, начиная с '01.02.2021 (янв)'. 
Сбросьте индекс, сделав новую индексация, начинающуюся с нуля. Выведите итоговый датафрейм на печать.

In [ ]:
import pandas as pd
pmi_manufacturing_eurozone_values = [['03.07.2023 (июнь)', 43.4, 43.6, 44.8],
       ['01.06.2023 (май)', 44.8, 44.6, 45.8], ['02.05.2023 (апр)', 45.8, 45.5, 47.3],
       ['03.04.2023 (мар)', 47.3, 47.1, 48.5], ['01.03.2023 (фев)', 48.5, 48.5, 48.8],
       ['01.02.2023 (янв)', 48.8, 48.8, 47.8], ['02.01.2023 (дек)', 47.8, 47.8, 47.1],
       ['01.12.2022 (нояб)', 47.1, 47.3, 46.4], ['02.11.2022 (окт)', 46.4, 46.6, 48.4],
       ['03.10.2022 (сент)', 48.4, 48.5, 49.6], ['01.09.2022 (авг)', 49.6, 49.7, 49.7],
       ['01.08.2022 (июль)', 49.8, 49.6, 52.1], ['01.07.2022 (июнь)', 52.1, 52.0, 54.6],
       ['01.06.2022 (май)', 54.6, 54.4, 55.5], ['02.05.2022 (апр)', 55.5, 55.3, 56.5],
       ['01.04.2022 (мар)', 56.5, 57.0, 58.2], ['01.03.2022 (фев)', 58.2, 58.4, 58.7],
       ['01.02.2022 (янв)', 58.7, 59.0, 58.0], ['03.01.2022 (дек)', 58.0, 58.0, 58.4],
       ['01.12.2021 (нояб)', 58.4, 58.6, 58.6], ['02.11.2021 (окт)', 58.3, 58.5, 58.3],
       ['01.10.2021 (сент)', 58.6, 58.7, 61.4], ['01.09.2021 (авг)', 61.4, 61.5, 62.8],
       ['02.08.2021 (июль)', 62.8, 62.6, 63.4], ['01.07.2021 (июнь)', 63.4, 63.1, 63.1],
       ['01.06.2021 (май)', 63.1, 62.8, 62.8], ['03.05.2021 (апр)', 62.9, 63.3, 63.3],
       ['01.04.2021 (мар)', 62.5, 62.4, 57.9], ['01.03.2021 (фев)', 57.9, 57.7, 54.8],
       ['01.02.2021 (янв)', 54.8, 54.7, 54.7]]
pmi_manufacturing_eurozone_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_manufacturing_eurozone = pd.DataFrame(pmi_manufacturing_eurozone_values, 
                                        columns=pmi_manufacturing_eurozone_columns)
# Продолжите написание кода здесь
pmi_manufacturing_eurozone['Прогноз - Факт'] = pmi_manufacturing_eurozone['Прогноз'] - pmi_manufacturing_eurozone['Факт.']
pmi_euro = pmi_manufacturing_eurozone[::-1].reset_index(drop=True)
print(pmi_euro)

В датафрейме inflation_russia содержатся данные по инфляции в России с 1991 года по 2022 год.

Средняя цена бензина марки АИ-92 в России в 2010 году составляла 25 рублей за литр. 
Учитывая уровни инфляции с 2011 года по 2022 год, рассчитайте какое количество рублей в 2022 году 
эквивалентно 25-ти рублям 2010 года. Инфляцию 2010 года не учитывайте, начните считать с 2011 года. 
Выведите на печать полученное число, округлив его до десятых.

In [8]:
import pandas as pd
import numpy as np
inflation_russia = {'Год': [2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
                            2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001,
                            2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991],
                   'Инфляция': [11.94, 8.39, 4.91, 3.04, 4.26, 2.51, 5.39, 12.91, 11.35,
                                6.47, 6.57, 6.1 , 8.78, 8.8, 13.28, 11.87, 9.0, 10.92,
                                11.73, 11.99, 15.06, 18.58, 20.18, 36.53, 84.43, 11.03,
                                21.81, 131.30, 215.14, 839.90, 2508.84, 160.4]}
inflation_russia = pd.DataFrame(inflation_russia)
# Продолжите написание кода здесь


inflation_russia_last_10_years = inflation_russia.query('Год > 2010')[::-1].reset_index(drop=True) # Берем с 10 года
inflation_russia_last_10_years['Индекс инфляции'] = 1 + inflation_russia_last_10_years['Инфляция'] / 100 # Добавляем новую колонку
ans = round(inflation_russia_last_10_years['Индекс инфляции'].prod() * 25, 1)
print(ans)

55.9

Имеются данные с официального сайта Московской биржи в разрезе торговых секций 
с разбивкой по месяцам за период с января 2022 г. по июль 2023 г. 
Просуммируйте объемы торгов по всем рынкам по каждому месяцу и добавьте результаты в столбец 'Итого, млрд руб.'. 
Выведите на печать датафрейм, содержащий данные из двух столбцов: 'месяц год' и 'Итого, млрд руб.'

In [20]:
import pandas as pd
moex_volumes_values = [['июль 2023', 3602.5, 6000, 27400, 65200, 53.5],
       ['июнь 2023', 3072.9, 6900, 23800, 61700, 29.0],
       ['май 2023', 3212.3, 5900, 21000, 62900, 25.5],
       ['апрель 2023', 3015.6, 5000, 21900, 59400, 40.2],
       ['март 2023', 3186.0, 5900, 24700, 70800, 21.2],
       ['февраль 2023', 2487.9, 4300, 19400, 56800, 12.9],
       ['январь 2023', 1599.7, 3500, 16900, 59300, 12.1],
       ['декабрь 2022', 4206.9, 4700, 21000, 63400, 19.0],
       ['ноябрь 2022', 3169.5, 3000, 14800, 52400, 13.6],
       ['октябрь 2022', 1953.6, 3600, 14900, 50100, 10.7],
       ['сентябрь 2022', 2506.4, 4700, 19500, 46900, 13.1],
       ['август 2022', 1872.1, 4900, 20900, 52900, 12.3],
       ['июль 2022', 1492.7, 6400, 17300, 50200, 10.1],
       ['июнь 2022', 1531.1, 5300, 17800, 48400, 8.7],
       ['май 2022', 995.4, 5600, 16100, 55400, 4.1],
       ['апрель 2022', 1446.0, 4200, 22000, 60400, 4.6],
       ['март 2022', 635.3, 2300, 41000, 110300, 6.4],
       ['февраль 2022', 5648.8, 16300, 34500, 40200, 12.3],
       ['январь 2022', 5002.6, 16700, 27000, 37800, 7.9]]
moex_volumes_columns = ['месяц год', 'Объем торгов на фондовом рынке, млрд руб.',
       'Срочный рынок, млрд руб.', 'Объем торгов на валютном рынке, млрд руб.',
       'Объем торгов на денежном рынке, млрд руб.',
       'Объем торгов драгоценными металлами (спот и своп), млрд руб.']
moex_volumes = pd.DataFrame(moex_volumes_values, columns=moex_volumes_columns)
# Продолжите написание кода здесь

moex_volumes['Итого, млрд руб.'] = moex_volumes.iloc[:,1:].sum(axis=1)
print(moex_volumes[['месяц год', 'Итого, млрд руб.']])

        месяц год  Итого, млрд руб.
0       июль 2023          102256.0
1       июнь 2023           95501.9
2        май 2023           93037.8
3     апрель 2023           89355.8
4       март 2023          104607.2
5    февраль 2023           83000.8
6     январь 2023           81311.8
7    декабрь 2022           93325.9
8     ноябрь 2022           73383.1
9    октябрь 2022           70564.3
10  сентябрь 2022           73619.5
11    август 2022           80584.4
12      июль 2022           75402.8
13      июнь 2022           73039.8
14       май 2022           78099.5
15    апрель 2022           88050.6
16      март 2022          154241.7
17   февраль 2022           96661.1
18    январь 2022           86510.5

В датафрейме brent_wti представлены недельные цены закрытия нефти марок brent и WTI. 
Добавьте новый столбец 'spread_brent_wti', 
который будет содержать разницы цен между brent и WTI. 
Выведите на печать итоговый датафрейм.

In [23]:
import pandas as pd
brent_wti_values = [['30.07.2023', 86.24, 82.82], ['23.07.2023', 84.99, 80.58],
                    ['16.07.2023', 81.07, 77.07], ['09.07.2023', 79.87, 75.42],
                    ['02.07.2023', 78.47, 73.86], ['25.06.2023', 74.9, 70.64],
                    ['18.06.2023', 73.85, 69.16], ['11.06.2023', 76.61, 71.78],
                    ['04.06.2023', 74.79, 70.17], ['28.05.2023', 76.13, 71.74],
                    ['21.05.2023', 76.95, 72.67], ['14.05.2023', 75.58, 71.55],
                    ['07.05.2023', 74.17, 70.04], ['30.04.2023', 75.3, 71.34],
                    ['23.04.2023', 79.54, 76.78], ['16.04.2023', 81.66, 77.71],
                    ['09.04.2023', 85.87, 82.52], ['02.04.2023', 85.12, 80.7],       
                    ['26.03.2023', 79.89, 75.67], ['19.03.2023', 74.99, 69.26],       
                    ['12.03.2023', 72.97, 66.74], ['05.03.2023', 82.78, 76.68],       
                    ['26.02.2023', 85.83, 79.68], ['19.02.2023', 83.16, 76.47],       
                    ['12.02.2023', 83.0, 76.34], ['05.02.2023', 86.39, 79.75],       
                    ['29.01.2023', 79.94, 73.2], ['22.01.2023', 86.66, 79.41],       
                    ['15.01.2023', 87.63, 81.64], ['08.01.2023', 85.28, 80.11],
                    ['01.01.2023', 78.75, 73.69]]
brent_wti_columns = ['Дата', 'Закр._brent', 'Закр._wti']
brent_wti = pd.DataFrame(brent_wti_values, columns=brent_wti_columns)
# Продолжите написание кода здесь

brent_wti['spread_brent_wti'] = brent_wti['Закр._brent'] - brent_wti['Закр._wti']
print(brent_wti)

          Дата  Закр._brent  Закр._wti  spread_brent_wti
0   30.07.2023        86.24      82.82              3.42
1   23.07.2023        84.99      80.58              4.41
2   16.07.2023        81.07      77.07              4.00
3   09.07.2023        79.87      75.42              4.45
4   02.07.2023        78.47      73.86              4.61
5   25.06.2023        74.90      70.64              4.26
6   18.06.2023        73.85      69.16              4.69
7   11.06.2023        76.61      71.78              4.83
8   04.06.2023        74.79      70.17              4.62
9   28.05.2023        76.13      71.74              4.39
10  21.05.2023        76.95      72.67              4.28
11  14.05.2023        75.58      71.55              4.03
12  07.05.2023        74.17      70.04              4.13
13  30.04.2023        75.30      71.34              3.96
14  23.04.2023        79.54      76.78              2.76
15  16.04.2023        81.66      77.71              3.95
16  09.04.2023        85.87      82.52              3.35
17  02.04.2023        85.12      80.70              4.42
18  26.03.2023        79.89      75.67              4.22
19  19.03.2023        74.99      69.26              5.73
20  12.03.2023        72.97      66.74              6.23
21  05.03.2023        82.78      76.68              6.10
22  26.02.2023        85.83      79.68              6.15
23  19.02.2023        83.16      76.47              6.69
24  12.02.2023        83.00      76.34              6.66
25  05.02.2023        86.39      79.75              6.64
26  29.01.2023        79.94      73.20              6.74
27  22.01.2023        86.66      79.41              7.25
28  15.01.2023        87.63      81.64              5.99
29  08.01.2023        85.28      80.11              5.17
30  01.01.2023        78.75      73.69              5.06

Имеются данные по процентным ставкам Центробанков и инфляции некоторых стран (информация была актуальна на 05.08.2023 г.). 

Создайте столбец 'Реальная ставка', который будет содержать разность между процентными ставками ЦБ и инфляцией.
Выведите итоговый датафрейм на печать.
Распечатайте пустую строчку.
Выведите на печать строку, в которой реальная ставка максимальна.
Распечатайте пустую строчку.
Выведите на печать строку, в которой реальная ставка минимальна.

In [44]:
import pandas as pd
rates_values = [['Япония', -0.1, 3.3], ['Швейцария', 1.75, 1.6],
                ['Южная Корея', 3.5, 2.3], ['Сингапур', 3.51, 4.5],
                ['Китай', 3.55, 0.0], ['Австралия', 4.1, 6.0],
                ['еврозона', 4.25, 5.3], ['Канада', 5.0, 2.8],
                ['Великобритания', 5.25, 7.9], ['Соединенные Штаты', 5.5, 3.3],
                ['Индонезия', 5.75, 3.08], ['Саудовская Аравия', 6.0, 2.7],
                ['Индия', 6.5, 4.81], ['ЮАР', 8.25, 5.4], ['Россия', 8.5, 3.2],
                ['Мексика', 11.25, 5.06], ['Бразилия', 13.25, 3.16], ['Турция', 17.5, 47.83]]
rates_columns = ['Страна', 'Процентная ставка ЦБ', 'Инфляция']
rates = pd.DataFrame(rates_values, columns=rates_columns)
# Продолжите написание кода здесь

rates['Реальная ставка'] = rates['Процентная ставка ЦБ'] - rates['Инфляция']
print(rates)
print()
print(rates.loc[rates['Реальная ставка'] == rates['Реальная ставка'].max()])
print()
print(rates.loc[rates['Реальная ставка'] == rates['Реальная ставка'].min()])

               Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
0              Япония                 -0.10      3.30            -3.40
1           Швейцария                  1.75      1.60             0.15
2         Южная Корея                  3.50      2.30             1.20
3            Сингапур                  3.51      4.50            -0.99
4               Китай                  3.55      0.00             3.55
5           Австралия                  4.10      6.00            -1.90
6            еврозона                  4.25      5.30            -1.05
7              Канада                  5.00      2.80             2.20
8      Великобритания                  5.25      7.90            -2.65
9   Соединенные Штаты                  5.50      3.30             2.20
10          Индонезия                  5.75      3.08             2.67
11  Саудовская Аравия                  6.00      2.70             3.30
12              Индия                  6.50      4.81             1.69
13                ЮАР                  8.25      5.40             2.85
14             Россия                  8.50      3.20             5.30
15            Мексика                 11.25      5.06             6.19
16           Бразилия                 13.25      3.16            10.09
17             Турция                 17.50     47.83           -30.33

      Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
16  Бразилия                 13.25      3.16            10.09

    Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
17  Турция                  17.5     47.83           -30.33

Дилер банка "Royal Oil Bank" в течение рабочего дня разместил денежные средства на депозиты 
на разные сроки в несколько банков-контрагентов. Сделки представлены в датафрейме depo. 
Сроки: O/N - на один рабочий день (овернайт); 1W - на 1 неделю; 1M - на 1 месяц; 3M - на 3 месяца.

In [48]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

print(depo.query('Срок == "O/N"')['Сумма, руб.'].sum())

21000000000

Дилер банка "Royal Oil Bank" в течение рабочего дня разместил денежные средства на 
депозиты овернайт в несколько банков-контрагентов. 
Сделки представлены в датафрейме depo

Посчитайте проценты к получению за один день (база 365 дней), 
округлите результаты до сотых и добавьте в колонку 'Проценты к получению'. Выведите итоговый датафрейм на печать

In [56]:
import pandas as pd
import numpy as np
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['Allmoneybank', 5_900_000_000, 8.45, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Big Business Bank', 2_500_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.31, 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo['Проценты к получению'] = round(depo['Сумма, руб.'] * depo['Ставка'] / (100 * 365), 2)
print(depo)

                   Банк  Сумма, руб.  Ставка Срок  Проценты к получению
0       New Energy Bank   1000000000    8.30  O/N             227397.26
1    Cryptocurrencybank   2700000000    8.30  O/N             613972.60
2     Big Business Bank   1500000000    8.27  O/N             339863.01
3       GreenEnergyBank   1800000000    8.35  O/N             411780.82
4          Allmoneybank   5900000000    8.45  O/N            1365890.41
5        ClearWaterBank   3000000000    8.40  O/N             690410.96
6   First Ecologic Bank   3000000000    8.41  O/N             691232.88
7    Cryptocurrencybank   7500000000    8.50  O/N            1746575.34
8     Big Business Bank   2500000000    8.30  O/N             568493.15
9          AgroFoodBank    700000000    8.25  O/N             158219.18
10   Golden Silver Bank   4300000000    8.40  O/N             989589.04
11    SmallBusinessBank   2000000000    8.31  O/N             455342.47

В датафрейме df представлена информация по количеству 
и типам магазинов Магнит по состоянию на сентябрь 2023 года в разбивке по федеральным округам. 
Выведите на печать объект Series, в котором колонка индексов будет включать в себя типы магазинов, 
а значениями будут суммарные количества магазинов каждого типа по всем федеральным округам.

In [69]:
import pandas as pd
df_values = [['Северо-Кавказский', 576, 19, 265], ['Южный', 2860, 122, 1352],
             ['Центральный', 4826, 83, 1965], ['Приволжский', 4826, 123, 1904],
             ['Северо-Западный', 2146, 35, 740], ['Уральский', 1932, 82, 867],
             ['Сибирский', 1211, 24, 490]]
df_columns = ['Федеральный округ', 'Магазины у дома', 'Супермаркеты', 'Дрогери']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

print(df[['Магазины у дома', 'Супермаркеты', 'Дрогери']].sum(axis=0))

Магазины у дома    18377
Супермаркеты         488
Дрогери             7583
dtype: int64

 В датафрейме df представлена информация по количеству 
и типам магазинов Магнит по состоянию на сентябрь 2023 года в разбивке по федеральным округам. 

Выведите на печать объект Series, в котором колонка индексов будет включать в себя наименования федеральных округов, 
а значениями будут суммарное количество магазинов по каждому федеральному округу.

In [78]:
import pandas as pd
df_values = [['Северо-Кавказский', 576, 19, 265], ['Южный', 2860, 122, 1352],
             ['Центральный', 4826, 83, 1965], ['Приволжский', 4826, 123, 1904],
             ['Северо-Западный', 2146, 35, 740], ['Уральский', 1932, 82, 867],
             ['Сибирский', 1211, 24, 490]]
df_columns = ['Федеральный округ', 'Магазины у дома', 'Супермаркеты', 'Дрогери']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

print(df.set_index('Федеральный округ').sum(axis=1))

Федеральный округ
Северо-Кавказский     860
Южный                4334
Центральный          6874
Приволжский          6853
Северо-Западный      2921
Уральский            2881
Сибирский            1725
dtype: int64

Дилер банка "Royal Oil Bank" в течение рабочего дня привлекал и 
размещал денежные средства на депозиты овернайт у нескольких банков-контрагентов. 
Сделки представлены в датафрейме depo. 
В колонке 'Направление' содержатся следующие значения: П - привлечение, Р - размещение.

    Добавьте колонку 'Проценты', в которую внесите значения процентов по сделкам, округленные до сотых. 
    В зависимости от направления сделки, проценты будут либо со знаком "минус" - 
    по операциям привлечения, либо со знаком "плюс" - по операциям размещения.
    Выведите итоговый датафрейм на печать.
    Затем распечатайте пустую строчку.
    Просуммируйте значения по столбцу 'Проценты' , округлите полученный результат до сотых и выведите его на печать. 
    Полученное значение будет являться финансовым результатом операций дилера за день.

In [29]:
import pandas as pd
depo_values = [['New Energy Bank', 500_000_000, 8.15, 'П', 'O/N'],
               ['AgroFoodBank', 1_000_000_000, 8.20, 'П', 'O/N'],
               ['First Ecologic Bank', 400_000_000, 8.11, 'П', 'O/N'],
               ['Cryptocurrencybank', 700_000_000, 8.15, 'П', 'O/N'],
               ['Big Business Bank', 2_600_000_000, 8.30, 'Р', 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.20, 'П', 'O/N'],
               ['GreenEnergyBank', 1_000_000_000, 8.10, 'П', 'O/N'],
               ['Allmoneybank', 3_000_000_000, 8.27, 'Р', 'O/N'],
               ['ClearWaterBank', 300_000_000, 8.00, 'П', 'O/N'],
               ['First Ecologic Bank', 700_000_000, 8.15, 'П', 'O/N'],
               ['Cryptocurrencybank', 500_000_000, 8.15, 'П', 'O/N'],
               ['Allmoneybank', 1_500_000_000, 8.20, 'Р', 'O/N'],
               ['Golden Silver Bank', 800_000_000, 8.05, 'П', 'O/N'],
               ['New Energy Bank', 300_000_000, 8.00, 'П', 'O/N'],
               ['AgroFoodBank', 400_000_000, 8.00, 'П', 'O/N'],
               ['Golden Silver Bank', 500_000_000, 8.03, 'П', 'O/N'],
               ['SmallBusinessBank', 400_000_000, 8.00, 'П', 'O/N'],
               ['New Energy Bank', 500_000_000, 7.90, 'П', 'O/N'],
               ['Big Business Bank', 2_900_000_000, 8.15, 'Р', 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Направление', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo['Проценты'] = round(depo['Сумма, руб.'] * (depo['Ставка'] / (100 * 365)), 2)
depo['Проценты'] = depo['Проценты'].where(depo['Направление'] == 'Р', -depo['Проценты'])
print(depo)
print()
print(depo['Проценты'].sum().round(2))

                   Банк  Сумма, руб.  Ставка Направление Срок   Проценты
0       New Energy Bank    500000000    8.15           П  O/N -111643.84
1          AgroFoodBank   1000000000    8.20           П  O/N -224657.53
2   First Ecologic Bank    400000000    8.11           П  O/N  -88876.71
3    Cryptocurrencybank    700000000    8.15           П  O/N -156301.37
4     Big Business Bank   2600000000    8.30           Р  O/N  591232.88
5     SmallBusinessBank   2000000000    8.20           П  O/N -449315.07
6       GreenEnergyBank   1000000000    8.10           П  O/N -221917.81
7          Allmoneybank   3000000000    8.27           Р  O/N  679726.03
8        ClearWaterBank    300000000    8.00           П  O/N  -65753.42
9   First Ecologic Bank    700000000    8.15           П  O/N -156301.37
10   Cryptocurrencybank    500000000    8.15           П  O/N -111643.84
11         Allmoneybank   1500000000    8.20           Р  O/N  336986.30
12   Golden Silver Bank    800000000    8.05           П  O/N -176438.36
13      New Energy Bank    300000000    8.00           П  O/N  -65753.42
14         AgroFoodBank    400000000    8.00           П  O/N  -87671.23
15   Golden Silver Bank    500000000    8.03           П  O/N -110000.00
16    SmallBusinessBank    400000000    8.00           П  O/N  -87671.23
17      New Energy Bank    500000000    7.90           П  O/N -108219.18
18    Big Business Bank   2900000000    8.15           Р  O/N  647534.25

33315.08

Дилер банка "Royal Oil Bank" в течение рабочего дня разместил денежные средства 
на депозиты овернайт в несколько банков-контрагентов. Сделки представлены в датафрейме depo. 

Выведите на печать средневзвешенную процентную ставку по всем сделкам, округленную до сотых.

В данном случае, каждая сумма умножается на ставку. 
Это каждое произведение суммируется. 
И эта полученная сумма делится на сумму всех депозитов. 
В итоге получается средневзвешенная ставка.

In [53]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['Cryptocurrencybank', 2_700_000_000, 8.35, 'O/N'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['Allmoneybank', 5_900_000_000, 8.45, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Big Business Bank', 2_500_000_000, 8.35, 'O/N'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.42, 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.31, 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

revenue = (depo['Сумма, руб.'] * depo['Ставка'] / 100).sum() # Прибыль
total_depo = depo['Сумма, руб.'].sum() # Общая сумма депозитов
ans = round((revenue / total_depo) * 100, 2)
print(ans)

8.41

Трейдер совершил несколько сделок по купле-продаже доллара США за рубли, представленные в датафрейме currency. Посчитайте общие суммы покупок (buy) и продаж (sell), а также средневзвешенные курсы покупок и продаж, округленные до четырех знаков после запятой. 

Выведите результат в следующем виде:
Куплено <общая сумма покупок> USDRUB_TOM по курсу <средневзвешенный курс покупок>
Продано <общая сумма продаж> USDRUB_TOM по курсу <средневзвешенный курс продаж>

In [67]:
import pandas as pd
import numpy as np
currency_values = [['USDRUB_TOM', 'buy', 1_000_000, 96.80],
               ['USDRUB_TOM', 'sell', 100_000, 96.90],
               ['USDRUB_TOM', 'sell', 200_000, 97.20],
               ['USDRUB_TOM', 'sell', 500_000, 97.50],
               ['USDRUB_TOM', 'sell', 200_000, 97.30],
               ['USDRUB_TOM', 'buy', 2_000_000, 97.00],
               ['USDRUB_TOM', 'buy', 5_000_000, 96.85],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.05],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.10],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.15],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.20],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.25]]
currency_columns = ['Валюта', 'Направление сделки', 'Объем валюты', 'Цена']
currency = pd.DataFrame(currency_values, columns=currency_columns)
# Продолжите написание кода здесь
currency_buy = currency.query('`Направление сделки` == "buy"')
currency_sell = currency.query('`Направление сделки` == "sell"')

total_buy = currency_buy['Объем валюты'].sum()
total_sell = currency_sell['Объем валюты'].sum()
wa_buy = round((currency_buy['Объем валюты'] * currency_buy['Цена']).sum() / currency_buy['Объем валюты'].sum(), 4)
wa_sell = round((currency_sell['Объем валюты'] * currency_sell['Цена']).sum() / currency_sell['Объем валюты'].sum(), 4)

print(f'Куплено {total_buy} USDRUB_TOM по курсу {wa_buy}')
print(f'Продано {total_sell} USDRUB_TOM по курсу {wa_sell}')

Куплено 8000000 USDRUB_TOM по курсу 96.8812
Продано 6000000 USDRUB_TOM по курсу 97.1817

Выведите на печать строку, в которой объем торгов 'volume' по индексу NASDAQ был максимальным.

In [76]:
import pandas as pd
data = [[1,15732.5,15852.14,14877.63,14935.9,23621810000],
[2,14751.78,15319.03,14530.23,14893.75,22722460000],
[3,14681.83,14740.54,13764.24,13768.92,20699010000],
[4,13481.5,14002.65,13094.65,13770.57,27938600000],
[5,13812.19,14504.82,13767.71,14098.01,22917570000],
[6,14118.79,14509.56,13733.16,13791.15,23742060000],
[7,13768.97,14163.73,13465.56,13548.07,21783060000],
[8,13424.36,13696.86,12587.88,13694.62,20297420000],
[9,13570.83,13837.59,13224.98,13313.44,27742350000],
[10,13328.36,13353.28,12670.08,12843.81,28635340000],
[11,12795.12,13899.28,12555.35,13893.84,31630400000],
[12,13860.39,14218.76,13682.55,14169.3,26877890000],
[13,14177.21,14646.9,14101.34,14261.5,27126270000],
[14,14304.35,14534.38,13689.23,13711.0,24148400000],
[15,13547.29,13685.95,13317.74,13351.08,19490360000],
[16,13319.39,13710.7,12828.02,12839.29,23315200000],
[17,12749.17,13011.45,12315.74,12334.64,24624260000],
[18,12331.69,12985.01,11990.15,12144.66,25596970000],
[19,11923.03,11990.61,11108.76,11805.0,30883260000],
[20,11727.14,11988.43,11035.69,11354.62,25677110000],
[21,11396.28,12131.66,11092.48,12131.13,23262840000],
[22,12137.54,12320.12,11901.43,12012.73,19341280000],
[23,12200.33,12245.4,11328.27,11340.02,24327710000],
[24,10986.85,11244.26,10565.14,10798.35,29275170000],
[25,10974.05,11613.23,10938.06,11607.62,25190770000],
[26,11661.02,11677.49,10850.01,11127.85,26652190000],
[27,10964.18,11689.7,10911.45,11635.31,19116360000],
[28,11524.49,11541.1,11005.93,11452.42,21963960000],
[29,11561.64,12093.02,11322.84,11834.11,25230550000],
[30,11837.96,12426.26,11533.37,12390.69,23117120000],
[31,12317.96,12736.19,12260.48,12657.55,25219290000],
[32,12703.72,13047.19,12438.86,13047.19,26340720000],
[33,12996.63,13181.09,12674.87,12705.22,24086490000],
[34,12523.16,12655.84,12141.52,12141.71,20877800000],
[35,12021.05,12124.87,11546.52,11630.86,22893680000],
[36,11643.03,12132.67,11471.5,12112.31,17800080000],
[37,12174.94,12270.19,11316.92,11448.4,26454340000],
[38,11338.57,11613.57,10732.72,10867.93,22718590000],
[39,10833.38,11101.5,10572.33,10575.62,22865220000],
[40,10659.01,11230.44,10577.89,10652.4,22569590000],
[41,10659.95,10766.69,10088.83,10321.39,22512590000],
[42,10575.65,10972.97,10542.43,10859.72,23776090000],
[43,10867.07,11210.38,10713.33,11102.45,24680370000],
[44,11028.43,11156.35,10262.93,10475.25,25423620000],
[45,10516.94,11352.43,10344.01,11323.33,26869400000],
[46,11233.9,11492.62,11006.21,11146.06,23736340000],
[47,11091.01,11310.82,10975.66,11226.36,14779100000],
[48,11147.57,11546.77,10944.37,11461.5,25198780000],
[49,11380.99,11425.51,10910.62,11004.62,22186460000],
[50,11015.48,11571.64,10642.1,10705.41,29946270000],
[51,10707.44,10753.57,10313.32,10497.86,22410180000],
[52,10462.19,10502.08,10207.47,10466.48,15783390000]]
col = ['week','open','high','low','close','volume']
nasdaq_weekly_2022 = pd.DataFrame(data, columns=col)
# Продолжите написание кода здесь
print(nasdaq_weekly_2022.loc[nasdaq_weekly_2022['volume'] == nasdaq_weekly_2022['volume'].max()])

    week      open      high       low     close       volume
10    11  12795.12  13899.28  12555.35  13893.84  31630400000

Имеется информация по индексу потребительских цен в России с 1991 по 2022 годы, представленная в датафрейме cpi_russia:
    
Проведите следующие манипуляции с данными:

    сделайте колонку 'месяц' индексом в датафрейме;
     транспонируйте датафрейм;
    создайте столбец 'итого', который будет содержать итоговые индексы потребительских цен (их нужно рассчитать) за каждый год и округлите данные в этой колонке до сотых;
    выведите на печать данные из колонки 'итого' за период с 2010 по 2022 (включительно) в виде объекта Series;
    выведите пустую строку;
    распечатайте данные из колонки 'итого' за период с 2010 по 2022 (включительно) в виде объекта DataFrame.

Данные для столбца 'итого' вычислите по следующему принципу.

Руководствуясь теорией статистики, для получения ИПЦ 
за произвольный период необходимо перемножить все входящие 
в этот временной промежуток индексы, характеризующие изменение цен в отчетном периоде по сравнению с предыдущим. 
Так, например, индекс потребительских цен по Российской Федерации за период апрель 2022 г. - сентябрь 2022 г. 
рассчитывается следующим образом:

In [57]:
import pandas as pd
cpi_russia = [['январь', 106.2, 345.3, 125.8, 117.9, 117.77, 104.11, 102.34,
        101.51, 108.38, 102.33, 102.76, 103.09, 102.4, 101.75, 102.62,
        102.43, 101.68, 102.31, 102.37, 101.64, 102.37, 100.5, 100.97,
        100.59, 103.85, 100.96, 100.62, 100.31, 101.01, 100.4, 100.67,
        100.99],
       ['февраль', 104.8, 138.0, 124.7, 110.82, 111.02, 102.79, 101.54,
        100.89, 104.13, 101.04, 102.28, 101.16, 101.63, 100.99, 101.23,
        101.66, 101.11, 101.2, 101.65, 100.86, 100.78, 100.37, 100.56,
        100.7, 102.22, 100.63, 100.22, 100.21, 100.44, 100.33, 100.78,
        101.17],
       ['март', 106.3, 129.9, 120.1, 107.41, 108.94, 102.8, 101.43,
        100.64, 102.79, 100.64, 101.86, 101.08, 101.05, 100.75, 101.34,
        100.82, 100.59, 101.2, 101.31, 100.63, 100.62, 100.58, 100.34,
        101.02, 101.21, 100.46, 100.13, 100.29, 100.32, 100.55, 100.66,
        107.61],
       ['апрель', 163.5, 121.7, 118.7, 108.49, 108.47, 102.16, 100.96,
        100.38, 103.03, 100.89, 101.79, 101.16, 101.02, 100.99, 101.12,
        100.35, 100.57, 101.42, 100.69, 100.29, 100.43, 100.31, 100.51,
        100.9, 100.46, 100.44, 100.33, 100.38, 100.29, 100.83, 100.58,
        101.56],
       ['май', 103.0, 111.9, 118.1, 106.91, 107.93, 101.6, 100.94, 100.5,
        102.22, 101.75, 101.78, 101.69, 100.8, 100.74, 100.8, 100.48,
        100.63, 101.35, 100.57, 100.5, 100.48, 100.52, 100.66, 100.9,
        100.35, 100.41, 100.37, 100.38, 100.34, 100.27, 100.74, 100.12],
       ['июнь', 101.2, 119.1, 119.9, 106.0, 106.66, 101.17, 101.1,
        100.08, 101.91, 102.55, 101.62, 100.53, 100.8, 100.78, 100.64,
        100.28, 100.95, 100.97, 100.6, 100.39, 100.23, 100.89, 100.42,
        100.62, 100.19, 100.36, 100.61, 100.49, 100.04, 100.22, 100.69,
        99.65],
       ['июль', 100.6, 110.6, 122.39, 105.33, 105.38, 100.72, 100.93,
        100.17, 102.82, 101.79, 100.45, 100.72, 100.71, 100.92, 100.46,
        100.67, 100.87, 100.51, 100.63, 100.36, 99.99, 101.23, 100.82,
        100.49, 100.8, 100.54, 100.07, 100.27, 100.2, 100.35, 100.31,
        99.61],
       ['август', 100.5, 108.6, 126.0, 104.62, 104.56, 99.79, 99.86,
        103.67, 101.16, 100.98, 100.01, 100.09, 99.59, 100.42, 99.86,
        100.19, 100.09, 100.36, 100.0, 100.55, 99.76, 100.1, 100.14,
        100.24, 100.35, 100.01, 99.46, 100.01, 99.76, 99.96, 100.17,
        99.48],
       ['сентябрь', 101.1, 111.5, 123.0, 107.96, 104.46, 100.33, 99.7,
        138.43, 101.48, 101.32, 100.6, 100.4, 100.34, 100.43, 100.25,
        100.09, 100.79, 100.8, 99.97, 100.84, 99.96, 100.55, 100.21,
        100.65, 100.57, 100.17, 99.85, 100.16, 99.84, 99.93, 100.6,
        100.05],
       ['октябрь', 103.5, 122.9, 119.5, 115.0, 104.72, 101.2, 100.17,
        104.54, 101.37, 102.11, 101.09, 101.07, 101.0, 101.14, 100.55,
        100.28, 101.64, 100.91, 100.0, 100.5, 100.48, 100.46, 100.57,
        100.82, 100.74, 100.43, 100.2, 100.35, 100.13, 100.43, 101.11,
        100.18],
       ['ноябрь', 108.9, 126.1, 116.39, 114.61, 104.56, 101.88, 100.61,
        105.67, 101.23, 101.52, 101.36, 101.61, 100.96, 101.11, 100.74,
        100.63, 101.23, 100.83, 100.29, 100.81, 100.42, 100.34, 100.56,
        101.28, 100.75, 100.44, 100.22, 100.5, 100.28, 100.71, 100.96,
        100.37],
       ['декабрь', 112.1, 125.2, 112.5, 116.44, 103.2, 101.42, 100.96,
        111.61, 101.26, 101.64, 101.6, 101.54, 101.1, 101.14, 100.82,
        100.79, 101.13, 100.69, 100.41, 101.08, 100.44, 100.54, 100.51,
        102.62, 100.77, 100.4, 100.42, 100.84, 100.36, 100.83, 100.82,
        100.78]]
col = ['месяц', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022']
cpi_russia = pd.DataFrame(cpi_russia, columns=col)
# Продолжите написание кода здесь

cpi_russia_months = cpi_russia.set_index('месяц').transpose()
cpi_russia_months['итого'] = (cpi_russia_months.prod(axis=1) / pow(100, 11)).astype('float').round(2)

cpi_russia_months.columns.name = None
print(cpi_russia_months.loc['2010':]['итого'])
print()
print(cpi_russia_months[['итого']].loc['2010':])

2010    108.78
2011    106.10
2012    106.58
2013    106.45
2014    111.36
2015    112.91
2016    105.38
2017    102.52
2018    104.27
2019    103.05
2020    104.91
2021    108.39
2022    111.92
Name: итого, dtype: float64

       итого
2010  108.78
2011  106.10
2012  106.58
2013  106.45
2014  111.36
2015  112.91
2016  105.38
2017  102.52
2018  104.27
2019  103.05
2020  104.91
2021  108.39
2022  111.92

1. Добавьте в датафрейм новые столбцы:

'spread_close_open'  - разница между ценами закрытия и открытия;
'spread_high_low' - разница между максимальной и минимальной ценами. 
2. Округлите данные в этих новых колонках до сотых.
3. Распечатайте первые пять строк датафрейма, который 
будет содержать только столбцы: 'week',  'spread_close_open',  'spread_high_low'.

4. Распечатайте пустую строчку.
5. Затем выведите на печать датафрейм, 
который будет содержать три строки: строку с минимальным отрицательным значением по столбцу spread_close_open; 
    строку с максимальным значением по столбцу spread_close_open и 
    строку с минимальным, взятым по модулю, значением по столбцу spread_close_open.

6. Далее выведите на печать датафрейм, который также будет содержать две строки: строку с максимальным значением по столбцу spread_high_low и строку с минимальным значением по столбцу spread_high_low.

In [89]:
import pandas as pd
data = [[1,15732.5,15852.14,14877.63,14935.9,23621810000],
[2,14751.78,15319.03,14530.23,14893.75,22722460000],
[3,14681.83,14740.54,13764.24,13768.92,20699010000],
[4,13481.5,14002.65,13094.65,13770.57,27938600000],
[5,13812.19,14504.82,13767.71,14098.01,22917570000],
[6,14118.79,14509.56,13733.16,13791.15,23742060000],
[7,13768.97,14163.73,13465.56,13548.07,21783060000],
[8,13424.36,13696.86,12587.88,13694.62,20297420000],
[9,13570.83,13837.59,13224.98,13313.44,27742350000],
[10,13328.36,13353.28,12670.08,12843.81,28635340000],
[11,12795.12,13899.28,12555.35,13893.84,31630400000],
[12,13860.39,14218.76,13682.55,14169.3,26877890000],
[13,14177.21,14646.9,14101.34,14261.5,27126270000],
[14,14304.35,14534.38,13689.23,13711.0,24148400000],
[15,13547.29,13685.95,13317.74,13351.08,19490360000],
[16,13319.39,13710.7,12828.02,12839.29,23315200000],
[17,12749.17,13011.45,12315.74,12334.64,24624260000],
[18,12331.69,12985.01,11990.15,12144.66,25596970000],
[19,11923.03,11990.61,11108.76,11805.0,30883260000],
[20,11727.14,11988.43,11035.69,11354.62,25677110000],
[21,11396.28,12131.66,11092.48,12131.13,23262840000],
[22,12137.54,12320.12,11901.43,12012.73,19341280000],
[23,12200.33,12245.4,11328.27,11340.02,24327710000],
[24,10986.85,11244.26,10565.14,10798.35,29275170000],
[25,10974.05,11613.23,10938.06,11607.62,25190770000],
[26,11661.02,11677.49,10850.01,11127.85,26652190000],
[27,10964.18,11689.7,10911.45,11635.31,19116360000],
[28,11524.49,11541.1,11005.93,11452.42,21963960000],
[29,11561.64,12093.02,11322.84,11834.11,25230550000],
[30,11837.96,12426.26,11533.37,12390.69,23117120000],
[31,12317.96,12736.19,12260.48,12657.55,25219290000],
[32,12703.72,13047.19,12438.86,13047.19,26340720000],
[33,12996.63,13181.09,12674.87,12705.22,24086490000],
[34,12523.16,12655.84,12141.52,12141.71,20877800000],
[35,12021.05,12124.87,11546.52,11630.86,22893680000],
[36,11643.03,12132.67,11471.5,12112.31,17800080000],
[37,12174.94,12270.19,11316.92,11448.4,26454340000],
[38,11338.57,11613.57,10732.72,10867.93,22718590000],
[39,10833.38,11101.5,10572.33,10575.62,22865220000],
[40,10659.01,11230.44,10577.89,10652.4,22569590000],
[41,10659.95,10766.69,10088.83,10321.39,22512590000],
[42,10575.65,10972.97,10542.43,10859.72,23776090000],
[43,10867.07,11210.38,10713.33,11102.45,24680370000],
[44,11028.43,11156.35,10262.93,10475.25,25423620000],
[45,10516.94,11352.43,10344.01,11323.33,26869400000],
[46,11233.9,11492.62,11006.21,11146.06,23736340000],
[47,11091.01,11310.82,10975.66,11226.36,14779100000],
[48,11147.57,11546.77,10944.37,11461.5,25198780000],
[49,11380.99,11425.51,10910.62,11004.62,22186460000],
[50,11015.48,11571.64,10642.1,10705.41,29946270000],
[51,10707.44,10753.57,10313.32,10497.86,22410180000],
[52,10462.19,10502.08,10207.47,10466.48,15783390000]]
col = ['week','open','high','low','close','volume']
nasdaq_weekly_2022 = pd.DataFrame(data, columns=col)
# Продолжите написание кода здесь
nasdaq_weekly_2022['spread_close_open'] = nasdaq_weekly_2022['close'] - nasdaq_weekly_2022['open'].round(2)
nasdaq_weekly_2022['spread_high_low'] = (nasdaq_weekly_2022['high'] - nasdaq_weekly_2022['low']).round(2)
print(nasdaq_weekly_2022[['week',  'spread_close_open',  'spread_high_low']].head())
print()
print(nasdaq_weekly_2022.query(
    'spread_close_open == spread_close_open.min() or spread_close_open == spread_close_open.max() or spread_close_open == spread_close_open.abs().min()' 
)[['week', 'spread_close_open']])
print()
print(nasdaq_weekly_2022.query(
    'spread_high_low == spread_high_low.max() or spread_high_low == spread_high_low.min()'
)[['week', 'spread_high_low']])

   week  spread_close_open  spread_high_low
0     1            -796.60           974.51
1     2             141.97           788.80
2     3            -912.91           976.30
3     4             289.07           908.00
4     5             285.82           737.11

    week  spread_close_open
2      3            -912.91
10    11            1098.72
51    52               4.29
    week  spread_high_low
10    11          1343.93
51    52           294.61

In [5]:
import pandas as pd
bitcoin_values = [['2022-01-01', 46311.75, 47881.41, 33184.06, 38483.12, 923979037681],
       ['2022-02-01', 38481.77, 45661.17, 34459.22, 43193.23, 671335993325],
       ['2022-03-01', 43194.5, 48086.84, 37260.2, 45538.68, 830943838435],
       ['2022-04-01', 45554.16, 47313.48, 37697.94, 37714.88, 830115888649],
       ['2022-05-01', 37713.27, 39902.95, 26350.49, 31792.31, 1105689315990],
       ['2022-06-01', 31792.55, 31957.29, 17708.62, 19784.73, 923939211678],
       ['2022-07-01', 19820.47, 24572.58, 18966.95, 23336.9, 927582363389],
       ['2022-08-01', 23336.72, 25135.59, 19600.79, 20049.76, 894192654543],
       ['2022-09-01', 20050.5, 22673.82, 18290.31, 19431.79, 1123272250385],
       ['2022-10-01', 19431.11, 20988.39, 18319.82, 20495.77, 957903424925],
       ['2022-11-01', 20494.9, 21446.89, 15599.05, 17168.57, 1224531549126],
       ['2022-12-01', 17168.0, 18318.53, 16398.14, 16547.5, 541356716034],
       ['2023-01-01', 16547.91, 23919.89, 16521.23, 23139.28, 690994018045],
       ['2023-02-01', 23137.84, 25134.12, 21460.09, 23147.35, 723968574897],
       ['2023-03-01', 23150.93, 29159.9, 19628.25, 28478.48, 883299703608],
       ['2023-04-01', 28473.33, 31005.61, 27070.85, 29268.81, 511540319004],
       ['2023-05-01', 29227.1, 29820.13, 25878.43, 27219.66, 443473015479],
       ['2023-06-01', 27218.41, 31389.54, 24797.17, 30477.25, 481734214225]]
bitcoin_columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
bitcoin = pd.DataFrame(bitcoin_values, columns=bitcoin_columns)
# Продолжите написание кода здесь

bitcoin.drop('Volume', axis=1, inplace=True)
print(bitcoin.tail(6))

          Date      Open      High       Low     Close
12  2023-01-01  16547.91  23919.89  16521.23  23139.28
13  2023-02-01  23137.84  25134.12  21460.09  23147.35
14  2023-03-01  23150.93  29159.90  19628.25  28478.48
15  2023-04-01  28473.33  31005.61  27070.85  29268.81
16  2023-05-01  29227.10  29820.13  25878.43  27219.66
17  2023-06-01  27218.41  31389.54  24797.17  30477.25

В датафрейме moex представлена информация по индексу Московской биржи за несколько дней. 
Удалите столбцы 'Unnamed: 6' и 'Unnamed: 7'. Выведите итоговый датафрейм на печать.

In [7]:
import pandas as pd
import numpy as np
moscow_exchange_values = [['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61, np.nan, np.nan],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24, np.nan, np.nan],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06, np.nan, np.nan],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96, np.nan, np.nan],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79, np.nan, np.nan],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11, np.nan, np.nan],
       ['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18, np.nan, np.nan]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %', 'Unnamed: 6', 'Unnamed: 7']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex.drop(['Unnamed: 6', 'Unnamed: 7'], axis=1, inplace=True)
print(moex)

         Дата     Цена    Откр.    Макс.     Мин.  Изм. %
0  2023-03-10  2276.25  2272.61  2283.18  2266.33   -0.61
1  2023-03-09  2290.14  2295.03  2302.10  2278.95   -0.24
2  2023-03-07  2295.60  2294.32  2298.93  2281.46    0.06
3  2023-03-06  2294.12  2286.20  2297.86  2283.40    0.96
4  2023-03-03  2272.20  2250.12  2273.52  2249.81    0.79
5  2023-03-02  2254.30  2284.87  2286.27  2235.43   -1.11
6  2023-03-01  2279.65  2258.89  2287.48  2255.45    1.18

Датафрейм pmi_manufacturing_russia содержит информацию по индексу деловой активности в производственном секторе (PMI) 
России за период с января 2023 г. по июнь 2024 г. 
Удалите столбцы 'Прогноз' и 'Пред.', выведите итоговый датафрейм на печать

In [8]:
import pandas as pd
import numpy as np
pmi_manufacturing_russia_values = [['01.07.2024 (июнь)', 54.9, np.nan, 54.4],
                                   ['03.06.2024 (май)', 54.4, np.nan, 54.3],
                                   ['02.05.2024 (апр)', 54.3, np.nan, 55.7],
                                   ['01.04.2024 (мар)', 55.7, np.nan, 54.7],
                                   ['01.03.2024 (фев)', 54.7, np.nan, 52.4],
                                   ['01.02.2024 (янв)', 52.4, np.nan, 54.6],
                                   ['29.12.2023 (дек)', 54.6, np.nan, 53.8],
                                   ['01.12.2023 (нояб)', 53.8, np.nan, 53.8],
                                   ['01.11.2023 (окт)', 53.8, np.nan, 54.5],
                                   ['02.10.2023 (сент)', 54.5, np.nan, 52.7],
                                   ['01.09.2023 (авг)', 52.7, np.nan, 52.1],
                                   ['01.08.2023 (июль)', 52.1, np.nan, 52.6],
                                   ['03.07.2023 (июнь)', 52.6, np.nan, 53.5],
                                   ['01.06.2023 (май)', 53.5, np.nan, 52.6],
                                   ['02.05.2023 (апр)', 52.6, np.nan, 53.2],
                                   ['03.04.2023 (мар)', 53.2, np.nan, 53.6],
                                   ['01.03.2023 (фев)', 53.6, np.nan, 52.6],
                                   ['01.02.2023 (янв)', 52.6, np.nan, 53.0]]
pmi_manufacturing_russia_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_manufacturing_russia = pd.DataFrame(pmi_manufacturing_russia_values, columns=pmi_manufacturing_russia_columns)
# Продолжите написание кода здесь
print(pmi_manufacturing_russia.drop(columns=['Прогноз', 'Пред.']))

         Дата выпуска  Факт.
0   01.07.2024 (июнь)   54.9
1    03.06.2024 (май)   54.4
2    02.05.2024 (апр)   54.3
3    01.04.2024 (мар)   55.7
4    01.03.2024 (фев)   54.7
5    01.02.2024 (янв)   52.4
6    29.12.2023 (дек)   54.6
7   01.12.2023 (нояб)   53.8
8    01.11.2023 (окт)   53.8
9   02.10.2023 (сент)   54.5
10   01.09.2023 (авг)   52.7
11  01.08.2023 (июль)   52.1
12  03.07.2023 (июнь)   52.6
13   01.06.2023 (май)   53.5
14   02.05.2023 (апр)   52.6
15   03.04.2023 (мар)   53.2
16   01.03.2023 (фев)   53.6
17   01.02.2023 (янв)   52.6

 Датафрейм interest_rates содержатся процентные ставки некоторых стран, действующие на 25.07.2023 г.

    Создайте новый датафрейм, содержащий только те строки, в которых процентная ставка выше 8%.
    Сбросьте индекс, сделав новую индексация, начинающуюся с нуля.
    Удалите столбец 'Банк'.
    Выведите на печать итоговый датафрейм.

In [20]:
import pandas as pd
interest_rates_values = [['Австралия', 'Резервный банк Австралии', 4.1, '06.06.2023'],
       ['Бразилия', 'Центральный банк Бразилии', 13.75, '04.08.2022'],
       ['Великобритания', 'Банк Англии', 5.0, '22.06.2023'],
       ['Дания', 'Национальный банк Дании', 3.25, '15.06.2023'],
       ['Еврозона', 'Европейский центральный банк', 4.0, '15.06.2023'],
       ['Индия', 'Резервный банк Индии', 6.5, '08.02.2023'],
       ['Канада', 'Банк Канады', 5.0, '12.07.2023'],
       ['Китай', 'Народный банк Китая', 3.55, '20.06.2023'],
       ['Мексика', 'Банк Мексики', 11.25, '30.03.2023'],
       ['Новая Зеландия', 'Резервный банк Новой Зеландии', 5.5,
        '24.05.2023'],
       ['Россия', 'Центральный банк Российской Федерации', 8.5,
        '24.07.2023'],
       ['США', 'Федеральная резервная система', 5.25, '04.05.2023'],
       ['Турция', 'Центральный банк Турции', 17.5, '20.07.2023'],
       ['Швейцария', 'Национальный банк Швейцарии', 1.75, '22.06.2023'],
       ['Швеция', 'Банк Швеции', 3.75, '30.06.2023'],
       ['ЮАР', 'Южно-Африканский резервный банк', 8.25, '25.05.2023'],
       ['Япония', 'Банк Японии', -0.1, '03.08.2016']]
interest_rates_columns = ['Страна', 'Банк', 'Ставка', 'Дата вступления в силу']
interest_rates = pd.DataFrame(interest_rates_values, columns=interest_rates_columns)
# Продолжите написание кода здесь

high_rates = interest_rates.query('Ставка > 8')
rates = high_rates.reset_index(drop=True).drop(columns='Банк')
print(rates)

 В датафрейме df представлена информация по количеству и типам магазинов Магнит по состоянию на сентябрь 2023 года в разбивке по федеральным округам. Набор данных содержит пропущенные значения. Выведите на печать объект DataFrame, содержащий только те строки, в которых имеются пропуски.

In [20]:
import pandas as pd
import numpy as np

df_values = [['Северо-Кавказский', 576, 19, 265], ['Южный', 2860, 122, np.nan],
             ['Центральный', 4826, 83, 1965], ['Приволжский', 4826, 123, np.nan],
             ['Северо-Западный', 2146, 35, 740], ['Уральский', 1932, 82, 867],
             ['Сибирский', 1211, 24, 490]]
df_columns = ['Федеральный округ', 'Магазины у дома', 'Супермаркеты', 'Дрогери']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

print(df[df['Дрогери'].isna()])

  Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
1             Южный             2860           122      NaN
3       Приволжский             4826           123      NaN

Выведите на печать объект DataFrame, содержащий только те строки, 
в которых нет пропущенных значений. Все числовые значения должны иметь целочисленный тип данных.

In [31]:
import pandas as pd
import numpy as np

df_values = [['Северо-Кавказский', 576, 19, 265], ['Южный', 2860, 122, np.nan],
             ['Центральный', 4826, 83, 1965], ['Приволжский', 4826, 123, np.nan],
             ['Северо-Западный', 2146, 35, 740], ['Уральский', 1932, 82, 867],
             ['Сибирский', 1211, 24, 490]]
df_columns = ['Федеральный округ', 'Магазины у дома', 'Супермаркеты', 'Дрогери']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

df2 = df[df.notna().sum(axis=1) == df.shape[1]].copy()
df2['Дрогери'] = df2['Дрогери'].astype('int')
print(df2)

   Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
0  Северо-Кавказский              576            19      265
2        Центральный             4826            83     1965
4    Северо-Западный             2146            35      740
5          Уральский             1932            82      867
6          Сибирский             1211            24      490

 В датафрейме df представлена информация по количеству и типам магазинов 
    Магнит по состоянию на сентябрь 2023 года в разбивке по федеральным округам. 
    Набор данных содержит пропущенные значения. 
 
    Замените пропущенные значения для Южного ФО на 1352, для Приволжского ФО на 1904. 
    Все числовые значения в датафрейме должны иметь целочисленный тип данных. 
    Выведите итоговый объект DataFrame на печать

In [64]:
import pandas as pd
import numpy as np

df_values = [['Северо-Кавказский', 576, 19, 265], ['Южный', 2860, 122, np.nan],
             ['Центральный', 4826, 83, 1965], ['Приволжский', 4826, 123, np.nan],
             ['Северо-Западный', 2146, 35, 740], ['Уральский', 1932, 82, 867],
             ['Сибирский', 1211, 24, 490]]
df_columns = ['Федеральный округ', 'Магазины у дома', 'Супермаркеты', 'Дрогери']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

df.loc[df['Федеральный округ'] == 'Южный','Дрогери'] = 1352
df.loc[df['Федеральный округ'] == 'Приволжский','Дрогери'] = 1904
df['Дрогери'] = df['Дрогери'].astype('int')
print(df)

   Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
0  Северо-Кавказский              576            19      265
1              Южный             2860           122     1352
2        Центральный             4826            83     1965
3        Приволжский             4826           123     1904
4    Северо-Западный             2146            35      740
5          Уральский             1932            82      867
6          Сибирский             1211            24      490

Имеется датафрейм с ценами на драгметаллы, содержащий пропущенные значения. 
Замените пропуски на средние значения и выведите итоговый датафрейм на печать. 
Сделайте округление данных в столбцах 'Silver' и 'Platinum' до сотых.

In [12]:
import pandas as pd
import numpy as np
df_values = [['Nov 30, 2023', 2038.10, 25.29, 931.20],
             ['Nov 29, 2023', 2047.10, 25.07, 936.40],
             ['Nov 28, 2023', 2039.70, 24.93, 944.10],
             ['Nov 27, 2023', 2011.80, 24.67, 917.10],
             ['Nov 24, 2023', 2002.20, 24.33, 931.10],
             ['Nov 23, 2023', 1991.50, np.nan, np.nan],
             ['Nov 22, 2023', 1991.40, 23.67, 924.60],
             ['Nov 21, 2023', 1999.30, 23.84, 940.00],
             ['Nov 20, 2023', 1977.70, 23.58, 921.50],
             ['Nov 17, 2023', 1981.60, 23.81, 894.70],
             ['Nov 16, 2023', 1983.90, 23.89, 897.10],
             ['Nov 15, 2023', 1960.10, 23.48, 895.30]]
df_columns = ['Date', 'Gold', 'Silver', 'Platinum']
df = pd.DataFrame(df_values, columns=df_columns).set_index('Date')
# Продолжите написание кода здесь

ans = df.fillna(df.mean().round(2))
print(ans)

                Gold  Silver  Platinum
Date
Nov 30, 2023  2038.1   25.29    931.20
Nov 29, 2023  2047.1   25.07    936.40
Nov 28, 2023  2039.7   24.93    944.10
Nov 27, 2023  2011.8   24.67    917.10
Nov 24, 2023  2002.2   24.33    931.10
Nov 23, 2023  1991.5   24.23    921.19
Nov 22, 2023  1991.4   23.67    924.60
Nov 21, 2023  1999.3   23.84    940.00
Nov 20, 2023  1977.7   23.58    921.50
Nov 17, 2023  1981.6   23.81    894.70
Nov 16, 2023  1983.9   23.89    897.10
Nov 15, 2023  1960.1   23.48    895.30

Проведем манипуляции с уже известными вам данными о некоторых крупнейших мировых биржах. 
Проведите сортировку по возрастанию, сначала по столбцу 'Страна', а затем по столбцу 'Год основания'. 
Выведите на печать только две колонки итогового датафрейма: 'Наименование биржи' и 'Год основания'

In [3]:
import pandas as pd
import numpy as np
exchanges_values = [['Нью-Йоркская биржа New York Stock Exchange(NYSE)', 'США', '1817', 
             'Dow Jones, NYSE Composite, S&P500', 'доллар США', 'фондовый, срочный, товарный'],
             ['Чикагская биржа (CME)', 'США', '1874', np.nan, 'доллар США', 
              'товарный, валютный, рынок драгоценных металлов, срочный'],
             ['NASDAQ (National Association of Securities Dealers Automated Quotation)', 'США',
              '1971', 'NASDAQ Composite, NASDAQ-100, S&P500', 'доллар США', 'фондовый, срочный'],
             ['Лондонская биржа London Stock Exchange (LSE)', 'Великобритания', '1698', 
              'FTSE 100', 'английский фунт', 'фондовый, срочный'], 
             ['Japan Exchange Group (JPX)', 'Япония', '1878', 'NIKKEI 225', 
              'японская йена', 'фондовый, срочный'],
             ['Гонконгская биржа Hong Kong Stock Exchange (HKEX)', 'Китай', '1891', 
              'Hang Seng', 'гонконгский доллар', 'фондовый, срочный'],
             ['Deutsche Börse', 'Германия', '1585', 'DAX', 'евро', 'фондовый, срочный'],
             ['Euronext', 'Европейский союз', '2000', 'Euronext 100, CAC 40', 'евро', 
              'фондовый, срочный'],
             ['Шанхайская биржа Shanghai Stock Exchange (SSE)', 'Китай', '1860', 
              'SSE Composite', 'китайский юань', 'фондовый, срочный'],
             ['Шэньчжэньская фондовая биржа Shenzhen Stock Exchange (SZSE)', 'Китай', '1990', 
              'SZSE Component', 'китайский юань', 'фондовый, срочный'],
             ['Национальная фондовая биржа Индии National Stock Exchange of India (NSE)', 
              'Индия', '1992', 'NIFTY 50', 'индийская рупия', 'фондовый, срочный'],
             ['Бомбейская фондовая биржа Bombay Stock Exchange (BSE)', 'Индия', '1875', 
              'BSE SENSEX', 'индийская рупия', 'фондовый, срочный']]
exchanges_columns = ['Наименование биржи', 'Страна', 'Год основания', 'Индексы', 'Валюта', 'Рынки']
exchanges = pd.DataFrame(exchanges_values, columns=exchanges_columns)
# Продолжите написание кода здесь
print(exchanges.sort_values(['Страна', 'Год основания'])[['Наименование биржи','Год основания']])

                                   Наименование биржи Год основания
3        Лондонская биржа London Stock Exchange (LSE)          1698
6                                      Deutsche Börse          1585
7                                            Euronext          2000
11  Бомбейская фондовая биржа Bombay Stock Exchang...          1875
10  Национальная фондовая биржа Индии National Sto...          1992
8      Шанхайская биржа Shanghai Stock Exchange (SSE)          1860
5   Гонконгская биржа Hong Kong Stock Exchange (HKEX)          1891
9   Шэньчжэньская фондовая биржа Shenzhen Stock Ex...          1990
0    Нью-Йоркская биржа New York Stock Exchange(NYSE)          1817
1                               Чикагская биржа (CME)          1874
2   NASDAQ (National Association of Securities Dea...          1971
4                          Japan Exchange Group (JPX)          1878

Имеются данные по процентным ставкам Центробанков и инфляции некоторых стран 
(информация была актуальна на 05.08.2023 г.). 
Отсортируйте данные таким образом, чтобы сортировка шла по убыванию, сначала по столбцу 'Инфляция', 
а затем по колонке 'Процентная ставка ЦБ'. 
"Сбросьте" индекс - индексация должна идти сверху вниз, начинаясь с нуля. Выведите итоговый датафрейм на печать.

In [6]:
import pandas as pd
rates_values = [['Япония', -0.1, 3.3], ['Швейцария', 1.75, 1.6],
                ['Южная Корея', 3.5, 2.3], ['Сингапур', 3.51, 4.5],
                ['Китай', 3.55, 0.0], ['Австралия', 4.1, 6.0],
                ['еврозона', 4.25, 5.3], ['Канада', 5.0, 2.8],
                ['Великобритания', 5.25, 7.9], ['Соединенные Штаты', 5.5, 3.3],
                ['Индонезия', 5.75, 3.08], ['Саудовская Аравия', 6.0, 2.7],
                ['Индия', 6.5, 4.81], ['ЮАР', 8.25, 5.4], ['Россия', 8.5, 3.2],
                ['Мексика', 11.25, 5.06], ['Бразилия', 13.25, 3.16], ['Турция', 17.5, 47.83]]
rates_columns = ['Страна', 'Процентная ставка ЦБ', 'Инфляция']
rates = pd.DataFrame(rates_values, columns=rates_columns)
# Продолжите написание кода здесь
print(rates.sort_values(['Инфляция','Процентная ставка ЦБ'], ascending=False).reset_index(drop=True))

               Страна  Процентная ставка ЦБ  Инфляция
0              Турция                 17.50     47.83
1      Великобритания                  5.25      7.90
2           Австралия                  4.10      6.00
3                 ЮАР                  8.25      5.40
4            еврозона                  4.25      5.30
5             Мексика                 11.25      5.06
6               Индия                  6.50      4.81
7            Сингапур                  3.51      4.50
8   Соединенные Штаты                  5.50      3.30
9              Япония                 -0.10      3.30
10             Россия                  8.50      3.20
11           Бразилия                 13.25      3.16
12          Индонезия                  5.75      3.08
13             Канада                  5.00      2.80
14  Саудовская Аравия                  6.00      2.70
15        Южная Корея                  3.50      2.30
16          Швейцария                  1.75      1.60
17              Китай                  3.55      0.00

Отсортируйте датафрейм по убыванию по сумме и выведите результат на печать

In [2]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

print(depo.sort_values(['Сумма, руб.'], ascending=False))

                   Банк  Сумма, руб.  Ставка Срок
7    Cryptocurrencybank   7500000000    8.50  O/N
1          AgroFoodBank   5000000000    8.50   1W
2   First Ecologic Bank   4500000000    8.60   1M
11   Golden Silver Bank   4300000000    8.40  O/N
12      New Energy Bank   4000000000    8.80   3M
5        ClearWaterBank   3000000000    8.40  O/N
6   First Ecologic Bank   3000000000    8.41  O/N
3    Cryptocurrencybank   2700000000    8.30  O/N
8    Golden Silver Bank   2500000000    8.65   1M
9       New Energy Bank   2000000000    8.45   1W
4       GreenEnergyBank   1800000000    8.35  O/N
0       New Energy Bank   1000000000    8.30  O/N
10         AgroFoodBank    700000000    8.25  O/N

Отсортируйте датафрейм сначала по наименованию в алфавитном порядке, 
а затем по убыванию по ставке. Выведите итоговый датафрейм на печать.

In [3]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['Allmoneybank', 5_900_000_000, 8.45, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Allmoneybank', 2_400_000_000, 9.00, '3M'],
               ['Big Business Bank', 2_500_000_000, 8.30, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.31, 'O/N'],
               ['SmallBusinessBank', 8_000_000_000, 8.70, '1M'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь
print(depo.sort_values(['Банк', 'Ставка'], ascending=[True, False]))

                   Банк  Сумма, руб.  Ставка Срок
1          AgroFoodBank   5000000000    8.50   1W
14         AgroFoodBank    700000000    8.25  O/N
10         Allmoneybank   2400000000    9.00   3M
6          Allmoneybank   5900000000    8.45  O/N
11    Big Business Bank   2500000000    8.30  O/N
4     Big Business Bank   1500000000    8.27  O/N
7        ClearWaterBank   3000000000    8.40  O/N
9    Cryptocurrencybank   7500000000    8.50  O/N
3    Cryptocurrencybank   2700000000    8.30  O/N
2   First Ecologic Bank   4500000000    8.60   1M
8   First Ecologic Bank   3000000000    8.41  O/N
12   Golden Silver Bank   2500000000    8.65   1M
15   Golden Silver Bank   4300000000    8.40  O/N
5       GreenEnergyBank   1800000000    8.35  O/N
18      New Energy Bank   4000000000    8.80   3M
13      New Energy Bank   2000000000    8.45   1W
0       New Energy Bank   1000000000    8.30  O/N
17    SmallBusinessBank   8000000000    8.70   1M
16    SmallBusinessBank   2000000000    8.31  O/N

Преобразуйте датафрейм таким образом, чтобы он принял вид, как показано на рисунке справа. 
Выведите итоговый датафрейм на печать.

In [1]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

print(depo.sort_values(['Срок', 'Сумма, руб.'], ascending=[True, True]).reset_index(drop=True))

                   Банк  Сумма, руб.  Ставка Срок
0    Golden Silver Bank   2500000000    8.65   1M
1   First Ecologic Bank   4500000000    8.60   1M
2       New Energy Bank   2000000000    8.45   1W
3          AgroFoodBank   5000000000    8.50   1W
4       New Energy Bank   4000000000    8.80   3M
5          AgroFoodBank    700000000    8.25  O/N
6       New Energy Bank   1000000000    8.30  O/N
7       GreenEnergyBank   1800000000    8.35  O/N
8    Cryptocurrencybank   2700000000    8.30  O/N
9        ClearWaterBank   3000000000    8.40  O/N
10  First Ecologic Bank   3000000000    8.41  O/N
11   Golden Silver Bank   4300000000    8.40  O/N
12   Cryptocurrencybank   7500000000    8.50  O/N

Объект DataFrame содержит информацию по рыночной капитализации 
некоторых российских компаний на конец 3-го квартала 2023 года. 
Выведите на печать датафрейм, содержащий только строки с теми компаниями, 
у которых имеются и обыкновенные акции, и привилегированные. 
Датафрейм должен содержать только следующие столбцы: 'Эмитент', 'Тип', 'Капитализация, руб.'.

In [22]:
import pandas as pd
df_values = [['AMEZ', 'ПАО "Ашинский метзавод"', 'ао', 51480414016, 'металлургия'],
       ['BSPB', 'ПАО "Банк "Санкт-Петербург"', 'ао', 134333130048, 'банк'],
       ['BSPBP', 'ПАО "Банк "Санкт-Петербург"', 'ап', 1234140000, 'банк'],
       ['CHMF', 'ПАО "Северсталь"', 'ао', 1147004389272, 'металлургия'],
       ['CHMK', 'ПАО "ЧМК"', 'ао', 35398198175, 'металлургия'],
       ['GMKN', 'ПАО "ГМК "Норильский никель"', 'ао', 2474552670636, 'металлургия'],
       ['MAGN', 'ПАО "ММК"', 'ао', 583970485800, 'металлургия'],
       ['MTLR', 'ПАО "Мечел"', 'ао', 85098228400, 'металлургия'],
       ['MTLRP', 'ПАО "Мечел"', 'ап', 31456192630, 'металлургия'],
       ['NLMK', 'ПАО "НЛМК"', 'ао', 1255940700414, 'металлургия'],
       ['ROSB', 'ПАО РОСБАНК', 'ао', 158242989006, 'банк'],
       ['RUAL', 'МКПАО "ОК РУСАЛ"', 'ао', 626180107537, 'металлургия'],
       ['SBER', 'ПАО Сбербанк', 'ао', 5628796691000, 'банк'],
       ['SBERP', 'ПАО Сбербанк', 'ап', 260380000000, 'банк'],
       ['TRMK', 'ПАО "ТМК"', 'ао', 229500690203, 'металлургия'],
       ['USBN', 'ПАО "БАНК УРАЛСИБ"', 'ао', 71090589258, 'банк'],
       ['VTBR', 'Банк ВТБ (ПАО)', 'ао', 693929707327, 'банк']]
df_columns = ['Торговый код', 'Эмитент', 'Тип',
              'Капитализация, руб.', 'Отрасль']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

df_ans = df[df.duplicated(['Эмитент'], keep=False)].reset_index(drop=True)
print(df_ans[['Эмитент', 'Тип',
              'Капитализация, руб.']])

                       Эмитент Тип  Капитализация, руб.
0  ПАО "Банк "Санкт-Петербург"  ао         134333130048
1  ПАО "Банк "Санкт-Петербург"  ап           1234140000
2                  ПАО "Мечел"  ао          85098228400
3                  ПАО "Мечел"  ап          31456192630
4                 ПАО Сбербанк  ао        5628796691000
5                 ПАО Сбербанк  ап         260380000000

Дилер банка "Royal Oil Bank" в течение рабочего дня привлекал и размещал денежные средства на межбанковском рынке. 
Сделки представлены в датафрейме depo. 
В колонке 'Направление' содержатся следующие значения:  
    П - привлечение,  Р - размещение.
    
Сначала выведите на печать список, содержащий наименования банков в алфавитном порядке (без повторений), у которых были привлечены денежные средства.
Распечатайте пустую строчку.
Выведите на печать список, содержащий наименования банков в алфавитном порядке (без повторений), в которые были размещены денежные средства.

In [37]:
import pandas as pd
depo_values = [['New Energy Bank', 500_000_000, 8.15, 'П', 'O/N'],
               ['AgroFoodBank', 1_000_000_000, 8.20, 'П', 'O/N'],
               ['First Ecologic Bank', 400_000_000, 8.11, 'П', 'O/N'],
               ['Cryptocurrencybank', 700_000_000, 8.15, 'П', 'O/N'],
               ['Big Business Bank', 2_600_000_000, 8.30, 'Р', 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.20, 'П', 'O/N'],
               ['GreenEnergyBank', 1_000_000_000, 8.10, 'П', 'O/N'],
               ['Allmoneybank', 3_000_000_000, 8.27, 'Р', 'O/N'],
               ['ClearWaterBank', 300_000_000, 8.00, 'П', 'O/N'],
               ['First Ecologic Bank', 700_000_000, 8.15, 'П', 'O/N'],
               ['Cryptocurrencybank', 500_000_000, 8.15, 'П', 'O/N'],
               ['Allmoneybank', 1_500_000_000, 8.20, 'Р', 'O/N'],
               ['Golden Silver Bank', 800_000_000, 8.05, 'П', 'O/N'],
               ['New Energy Bank', 300_000_000, 8.00, 'П', 'O/N'],
               ['AgroFoodBank', 400_000_000, 8.00, 'П', 'O/N'],
               ['Golden Silver Bank', 500_000_000, 8.03, 'П', 'O/N'],
               ['SmallBusinessBank', 400_000_000, 8.00, 'П', 'O/N'],
               ['New Energy Bank', 500_000_000, 7.90, 'П', 'O/N'],
               ['Big Business Bank', 2_900_000_000, 8.15, 'Р', 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Направление', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

banks = depo.query('Направление == "П"')['Банк'].unique()
banks = sorted(list(banks))
print(banks)
print()
banks2 = depo.query('Направление == "Р"')['Банк'].unique()
banks2 = sorted(list(banks2))
print(banks2)

['AgroFoodBank', 'ClearWaterBank', 'Cryptocurrencybank', 'First Ecologic Bank', 'Golden Silver Bank', 'GreenEnergyBank', 'New Energy Bank', 'SmallBusinessBank']

['Allmoneybank', 'Big Business Bank']

 Датафрейм содержит информацию по погащенным выпускам облигаций 
    ПАО "Магнит" и ООО "Магнит Финанс" по состоянию на 01.01.2024 г. 
    Выведите на печать список, содержащий уникальные значения по столбцу 'Объем выпуска'

In [38]:
import pandas as pd

df_values = [['БО-002Р-03', 'ПАО «Магнит»', '22.05.2020', '19.05.2023', '15 млрд. руб.', '5,90%'],
             ['БО-002Р-02', 'ПАО «Магнит»', '29.04.2020', '26.04.2023', '10 млрд. руб.', '6,70%'],
             ['БО-002Р-01', 'ПАО «Магнит»', '05.03.2020', '02.03.2023', '15 млрд. руб.', '6,20%'],
             ['БО-003Р-05', 'ПАО «Магнит»', '26.12.2019', '22.12.2022', '10 млрд. руб.', '6,60%'],
             ['БО-003Р-04', 'ПАО «Магнит»', '05.11.2019', '03.05.2022', '10 млрд. руб.', '6,90%'],
             ['БО-003Р-01', 'ПАО «Магнит»', '05.02.2019', '01.02.2022', '10 млрд. руб.', '8,70%'],
             ['БО-003Р-02', 'ПАО «Магнит»', '26.02.2019', '23.02.2021', '10 млрд. руб.', '8,50%'],
             ['БО-003Р-03', 'ПАО «Магнит»', '27.06.2019', '24.12.2020', '10 млрд. руб.', '7,85%'],
             ['БО-001Р-04', 'ПАО «Магнит»', '05.07.2016', '28.12.2017', '10 млрд. руб.', '10,00%'],
             ['БО-001Р-03', 'ПАО «Магнит»', '12.04.2016', '10.04.2018', '10 млрд. руб.', '10,60%'],
             ['БО-001Р-02', 'ПАО «Магнит»', '29.02.2016', '26.02.2018', '10 млрд. руб.', '11,20%'],
             ['БО-001Р-01', 'ПАО «Магнит»', '11.11.2015', '10.05.2017', '10 млрд. руб.', '11,20%'],
             ['БO-11', 'ПАО «Магнит»', '20.10.2015', '18.04.2017', '10 млрд. руб.', '11,70%'],
             ['БO-10', 'ПАО «Магнит»', '23.07.2015', '21.07.2016', '10 млрд. руб.', '11,60%'],
             ['03', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['02', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['БO-09', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['БO-08', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['01', 'ПАО «Магнит»', '26.02.2013', '23.02.2016', '5 млрд. руб.', '8,50%'],
             ['БO-07', 'ПАО «Магнит»', '24.09.2012', '21.09.2015', '5 млрд. руб.', '8,90%'],
             ['БO-06', 'ПАО «Магнит»', '26.04.2011', '22.04.2014', '5 млрд. руб.', '7,75%'],
             ['БO-05', 'ПАО «Магнит»', '04.03.2011', '28.02.2014', '5 млрд. руб.', '8,00%'],
             ['БO-04', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '2 млрд. руб.', '8,25%'],
             ['БO-03', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1,5 млрд. руб.', '8,25%'],
             ['БO-02', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['БO-01', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['02', 'ООО «Магнит Финанс»', '30.03.2007', '23.03.2012', '5 млрд. руб.', '8,20%'],
             ['01', 'ООО «Магнит Финанс»', '23.11.2005', '19.11.2008', '2 млрд. руб.', '9,34%']]
df_columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
              'Объем выпуска', 'Ставка купона']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

print(list(df['Объем выпуска'].unique()))

['15 млрд. руб.', '10 млрд. руб.', '5 млрд. руб.', '2 млрд. руб.', '1,5 млрд. руб.', '1 млрд. руб.']

Датафрейм содержит информацию по погащенным выпускам облигаций ПАО "Магнит" по состоянию на 01.01.2024 г. 
Выведите на печать количество уникальных значений в столбце 'Ставка купона'

In [40]:
import pandas as pd
df_values = [['БО-002Р-03', 'ПАО «Магнит»', '22.05.2020', '19.05.2023', '15 млрд. руб.', '5,90%'],
             ['БО-002Р-02', 'ПАО «Магнит»', '29.04.2020', '26.04.2023', '10 млрд. руб.', '6,70%'],
             ['БО-002Р-01', 'ПАО «Магнит»', '05.03.2020', '02.03.2023', '15 млрд. руб.', '6,20%'],
             ['БО-003Р-05', 'ПАО «Магнит»', '26.12.2019', '22.12.2022', '10 млрд. руб.', '6,60%'],
             ['БО-003Р-04', 'ПАО «Магнит»', '05.11.2019', '03.05.2022', '10 млрд. руб.', '6,90%'],
             ['БО-003Р-01', 'ПАО «Магнит»', '05.02.2019', '01.02.2022', '10 млрд. руб.', '8,70%'],
             ['БО-003Р-02', 'ПАО «Магнит»', '26.02.2019', '23.02.2021', '10 млрд. руб.', '8,50%'],
             ['БО-003Р-03', 'ПАО «Магнит»', '27.06.2019', '24.12.2020', '10 млрд. руб.', '7,85%'],
             ['БО-001Р-04', 'ПАО «Магнит»', '05.07.2016', '28.12.2017', '10 млрд. руб.', '10,00%'],
             ['БО-001Р-03', 'ПАО «Магнит»', '12.04.2016', '10.04.2018', '10 млрд. руб.', '10,60%'],
             ['БО-001Р-02', 'ПАО «Магнит»', '29.02.2016', '26.02.2018', '10 млрд. руб.', '11,20%'],
             ['БО-001Р-01', 'ПАО «Магнит»', '11.11.2015', '10.05.2017', '10 млрд. руб.', '11,20%'],
             ['БO-11', 'ПАО «Магнит»', '20.10.2015', '18.04.2017', '10 млрд. руб.', '11,70%'],
             ['БO-10', 'ПАО «Магнит»', '23.07.2015', '21.07.2016', '10 млрд. руб.', '11,60%'],
             ['03', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['02', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['БO-09', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['БO-08', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['01', 'ПАО «Магнит»', '26.02.2013', '23.02.2016', '5 млрд. руб.', '8,50%'],
             ['БO-07', 'ПАО «Магнит»', '24.09.2012', '21.09.2015', '5 млрд. руб.', '8,90%'],
             ['БO-06', 'ПАО «Магнит»', '26.04.2011', '22.04.2014', '5 млрд. руб.', '7,75%'],
             ['БO-05', 'ПАО «Магнит»', '04.03.2011', '28.02.2014', '5 млрд. руб.', '8,00%'],
             ['БO-04', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '2 млрд. руб.', '8,25%'],
             ['БO-03', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1,5 млрд. руб.', '8,25%'],
             ['БO-02', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['БO-01', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['02', 'ООО «Магнит Финанс»', '30.03.2007', '23.03.2012', '5 млрд. руб.', '8,20%'],
             ['01', 'ООО «Магнит Финанс»', '23.11.2005', '19.11.2008', '2 млрд. руб.', '9,34%']]
df_columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
              'Объем выпуска', 'Ставка купона']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

print(df['Ставка купона'].nunique())

21

 Датафрейм содержит информацию по погащенным выпускам облигаций ПАО "Магнит" по состоянию на 01.01.2024 г. 
    Выведите на печать суммарное количество уникальных значений во всех столбцах датафрейма.

In [43]:
import pandas as pd
df_values = [['БО-002Р-03', 'ПАО «Магнит»', '22.05.2020', '19.05.2023', '15 млрд. руб.', '5,90%'],
             ['БО-002Р-02', 'ПАО «Магнит»', '29.04.2020', '26.04.2023', '10 млрд. руб.', '6,70%'],
             ['БО-002Р-01', 'ПАО «Магнит»', '05.03.2020', '02.03.2023', '15 млрд. руб.', '6,20%'],
             ['БО-003Р-05', 'ПАО «Магнит»', '26.12.2019', '22.12.2022', '10 млрд. руб.', '6,60%'],
             ['БО-003Р-04', 'ПАО «Магнит»', '05.11.2019', '03.05.2022', '10 млрд. руб.', '6,90%'],
             ['БО-003Р-01', 'ПАО «Магнит»', '05.02.2019', '01.02.2022', '10 млрд. руб.', '8,70%'],
             ['БО-003Р-02', 'ПАО «Магнит»', '26.02.2019', '23.02.2021', '10 млрд. руб.', '8,50%'],
             ['БО-003Р-03', 'ПАО «Магнит»', '27.06.2019', '24.12.2020', '10 млрд. руб.', '7,85%'],
             ['БО-001Р-04', 'ПАО «Магнит»', '05.07.2016', '28.12.2017', '10 млрд. руб.', '10,00%'],
             ['БО-001Р-03', 'ПАО «Магнит»', '12.04.2016', '10.04.2018', '10 млрд. руб.', '10,60%'],
             ['БО-001Р-02', 'ПАО «Магнит»', '29.02.2016', '26.02.2018', '10 млрд. руб.', '11,20%'],
             ['БО-001Р-01', 'ПАО «Магнит»', '11.11.2015', '10.05.2017', '10 млрд. руб.', '11,20%'],
             ['БO-11', 'ПАО «Магнит»', '20.10.2015', '18.04.2017', '10 млрд. руб.', '11,70%'],
             ['БO-10', 'ПАО «Магнит»', '23.07.2015', '21.07.2016', '10 млрд. руб.', '11,60%'],
             ['03', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['02', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['БO-09', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['БO-08', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['01', 'ПАО «Магнит»', '26.02.2013', '23.02.2016', '5 млрд. руб.', '8,50%'],
             ['БO-07', 'ПАО «Магнит»', '24.09.2012', '21.09.2015', '5 млрд. руб.', '8,90%'],
             ['БO-06', 'ПАО «Магнит»', '26.04.2011', '22.04.2014', '5 млрд. руб.', '7,75%'],
             ['БO-05', 'ПАО «Магнит»', '04.03.2011', '28.02.2014', '5 млрд. руб.', '8,00%'],
             ['БO-04', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '2 млрд. руб.', '8,25%'],
             ['БO-03', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1,5 млрд. руб.', '8,25%'],
             ['БO-02', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['БO-01', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['02', 'ООО «Магнит Финанс»', '30.03.2007', '23.03.2012', '5 млрд. руб.', '8,20%'],
             ['01', 'ООО «Магнит Финанс»', '23.11.2005', '19.11.2008', '2 млрд. руб.', '9,34%']]
df_columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
              'Объем выпуска', 'Ставка купона']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

print(df.nunique().sum())

101

Датафрейм содержит информацию по погащенным выпускам облигаций ПАО "Магнит" по состоянию на 01.01.2024 г. 
Выведите на печать объект Series, 
содержащий количество каждого уникального значения в столбце 'Объем выпуска', расположенных по возрастанию.

In [55]:
import pandas as pd
df_values = [['БО-002Р-03', 'ПАО «Магнит»', '22.05.2020', '19.05.2023', '15 млрд. руб.', '5,90%'],
             ['БО-002Р-02', 'ПАО «Магнит»', '29.04.2020', '26.04.2023', '10 млрд. руб.', '6,70%'],
             ['БО-002Р-01', 'ПАО «Магнит»', '05.03.2020', '02.03.2023', '15 млрд. руб.', '6,20%'],
             ['БО-003Р-05', 'ПАО «Магнит»', '26.12.2019', '22.12.2022', '10 млрд. руб.', '6,60%'],
             ['БО-003Р-04', 'ПАО «Магнит»', '05.11.2019', '03.05.2022', '10 млрд. руб.', '6,90%'],
             ['БО-003Р-01', 'ПАО «Магнит»', '05.02.2019', '01.02.2022', '10 млрд. руб.', '8,70%'],
             ['БО-003Р-02', 'ПАО «Магнит»', '26.02.2019', '23.02.2021', '10 млрд. руб.', '8,50%'],
             ['БО-003Р-03', 'ПАО «Магнит»', '27.06.2019', '24.12.2020', '10 млрд. руб.', '7,85%'],
             ['БО-001Р-04', 'ПАО «Магнит»', '05.07.2016', '28.12.2017', '10 млрд. руб.', '10,00%'],
             ['БО-001Р-03', 'ПАО «Магнит»', '12.04.2016', '10.04.2018', '10 млрд. руб.', '10,60%'],
             ['БО-001Р-02', 'ПАО «Магнит»', '29.02.2016', '26.02.2018', '10 млрд. руб.', '11,20%'],
             ['БО-001Р-01', 'ПАО «Магнит»', '11.11.2015', '10.05.2017', '10 млрд. руб.', '11,20%'],
             ['БO-11', 'ПАО «Магнит»', '20.10.2015', '18.04.2017', '10 млрд. руб.', '11,70%'],
             ['БO-10', 'ПАО «Магнит»', '23.07.2015', '21.07.2016', '10 млрд. руб.', '11,60%'],
             ['03', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['02', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['БO-09', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['БO-08', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['01', 'ПАО «Магнит»', '26.02.2013', '23.02.2016', '5 млрд. руб.', '8,50%'],
             ['БO-07', 'ПАО «Магнит»', '24.09.2012', '21.09.2015', '5 млрд. руб.', '8,90%'],
             ['БO-06', 'ПАО «Магнит»', '26.04.2011', '22.04.2014', '5 млрд. руб.', '7,75%'],
             ['БO-05', 'ПАО «Магнит»', '04.03.2011', '28.02.2014', '5 млрд. руб.', '8,00%'],
             ['БO-04', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '2 млрд. руб.', '8,25%'],
             ['БO-03', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1,5 млрд. руб.', '8,25%'],
             ['БO-02', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['БO-01', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['02', 'ООО «Магнит Финанс»', '30.03.2007', '23.03.2012', '5 млрд. руб.', '8,20%'],
             ['01', 'ООО «Магнит Финанс»', '23.11.2005', '19.11.2008', '2 млрд. руб.', '9,34%']]
df_columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
              'Объем выпуска', 'Ставка купона']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

print(df.value_counts(subset='Объем выпуска', ascending=True))

Объем выпуска
1,5 млрд. руб.     1
1 млрд. руб.       2
15 млрд. руб.      2
2 млрд. руб.       2
5 млрд. руб.       9
10 млрд. руб.     12
dtype: int64

Имеется датафрейм ruonia_june_2023, 
в котором приведены ставки RUONIA за июнь 2023 года. 
Но в нашем датафрейме по каким-то причинам величины ставок указаны с запятой, а не с точкой.
Используя метод apply(), поменяйте запятые на точки в столбце  'Ставка RUONIA, %'. Тип данных оставьте 'object'. Выведите датафрейм  ruonia_june_2023 на печать.

In [59]:
import pandas as pd
d = {
    'Дата ставки': ['2023-06-30','2023-06-29','2023-06-28','2023-06-27','2023-06-26','2023-06-23',
                    '2023-06-22','2023-06-21','2023-06-20','2023-06-19','2023-06-16','2023-06-15',
                    '2023-06-14','2023-06-13','2023-06-09','2023-06-08','2023-06-07','2023-06-06',
                    '2023-06-05','2023-06-02','2023-06-01'],
    'Ставка RUONIA, %': ['7,45','7,41','7,26','7,14','7,15','7,13','7,15','7,25','7,22','7,25','7,3',
                         '7,35','7,34','7,49','7,28','7,31','7,39','7,32','7,36','7,33','7,27'],
    'Объем сделок RUONIA, млрд руб.': [313.89,419.67,355.3,294.9,231.6,388.45,367.95,413.78,379.94,
                                       435.33,464.74,419.42,381.66,362.81,439.99,488.14,523.5,736.87,
                                       627.03,774.02,543.35]
    }
ruonia_june_2023 = pd.DataFrame(d)
# Продолжите написание кода здесь

ruonia_june_2023['Ставка RUONIA, %'] = ruonia_june_2023['Ставка RUONIA, %'].apply(lambda x: x.replace(',', '.'))
print(ruonia_june_2023)

   Дата ставки Ставка RUONIA, %  Объем сделок RUONIA, млрд руб.
0   2023-06-30             7.45                          313.89
1   2023-06-29             7.41                          419.67
2   2023-06-28             7.26                          355.30
3   2023-06-27             7.14                          294.90
4   2023-06-26             7.15                          231.60
5   2023-06-23             7.13                          388.45
6   2023-06-22             7.15                          367.95
7   2023-06-21             7.25                          413.78
8   2023-06-20             7.22                          379.94
9   2023-06-19             7.25                          435.33
10  2023-06-16              7.3                          464.74
11  2023-06-15             7.35                          419.42
12  2023-06-14             7.34                          381.66
13  2023-06-13             7.49                          362.81
14  2023-06-09             7.28                          439.99
15  2023-06-08             7.31                          488.14
16  2023-06-07             7.39                          523.50
17  2023-06-06             7.32                          736.87
18  2023-06-05             7.36                          627.03
19  2023-06-02             7.33                          774.02
20  2023-06-01             7.27                          543.35

Имеется датафрейм 'pmi_usa' (на рисунке слева) с данными по индексу деловой активности в сфере услуг в США (PMI) 
за период с января 2022 года по июнь 2023 года. 
Преобразуйте датафрейм так, чтобы он выглядел, как показано на рисунке справа. Выведите его на печать.

In [67]:
import pandas as pd
pmi_usa_values = [['Июнь 2023', 54.4, 54.1], ['Май 2023', 54.9, 55.1], ['Апрель 2023', 53.6, 53.7],
              ['Март 2023', 52.6, 53.8], ['Февраль 2023', 50.6, 50.5], ['Январь 2023', 46.8, 46.6],
              ['Декабрь 2022', 44.7, 44.4], ['Ноябрь 2022', 46.2, 46.1], ['Октябрь 2022', 47.8, 46.6],
              ['Сентябрь 2022', 49.3, 49.2], ['Август 2022', 43.7, 44.3], ['Июль 2022', 47.3, 47.0],
              ['Июнь 2022', 52.7, 51.6], ['Май 2022', 53.4, 53.5], ['Апрель 2022', 55.6, 54.7],
              ['Март 2022', 58.0, 58.9], ['Февраль 2022', 56.5, 56.7], ['Январь 2022', 51.2, 50.9]]
pmi_usa_columns = ['месяц', 'факт', 'прогноз']
pmi_usa = pd.DataFrame(pmi_usa_values, columns=pmi_usa_columns)
# Продолжите написание кода здесь

pmi_usa.insert(0, 'год', pmi_usa['месяц'].apply(lambda x: x[-4:]))
pmi_usa['месяц'] = pmi_usa['месяц'].apply(lambda x: x[:-5])
print(pmi_usa)

     год     месяц  факт  прогноз
0   2023      Июнь  54.4     54.1
1   2023       Май  54.9     55.1
2   2023    Апрель  53.6     53.7
3   2023      Март  52.6     53.8
4   2023   Февраль  50.6     50.5
5   2023    Январь  46.8     46.6
6   2022   Декабрь  44.7     44.4
7   2022    Ноябрь  46.2     46.1
8   2022   Октябрь  47.8     46.6
9   2022  Сентябрь  49.3     49.2
10  2022    Август  43.7     44.3
11  2022      Июль  47.3     47.0
12  2022      Июнь  52.7     51.6
13  2022       Май  53.4     53.5
14  2022    Апрель  55.6     54.7
15  2022      Март  58.0     58.9
16  2022   Февраль  56.5     56.7
17  2022    Январь  51.2     50.9

В датафрейме 'moex' представлена информация по индексу Московской биржи за период с 01.03.2023 по 31.03.2023 года 
(дневной таймфрейм). 

Измените тип данных в колонке 'Дата'  на 'datetime64[ns]'.
В столбцах 'Цена', 'Откр.', 'Макс.', 'Мин.' замените тип данных на 'float64'.
Выведите на печать первые пять строк итогового датафрейма.
Затем распечатайте пустую строчку.
Выведите информацию о датафрейме info().

В продолжение предыдущей задачи. Сделайте в столбце 'Изм. %' тип данных 'float64'.
Выведите датафрейм на печать.

In [115]:
import pandas as pd
def delete_dot(x):
    x = x.replace('.', '').replace(',', '.')
    return float(x)

moscow_exchange_values = [['2023-03-31', '2.450,67', '2.470,12', '2.472,53', '2.424,45', '-0.62%'],
                          ['2023-03-30', '2.465,93', '2.458,06', '2.467,97', '2.450,46', '+0.21%'],
                          ['2023-03-29', '2.460,87', '2.449,96', '2.468,48', '2.437,52', '+0.76%'],
                          ['2023-03-28', '2.442,19', '2.453,26', '2.458,37', '2.421,39', '+0.06%'],
                          ['2023-03-27', '2.440,68', '2.400,84', '2.440,68', '2.400,84', '+2.06%'],
                          ['2023-03-24', '2.391,53', '2.386,53', '2.394,03', '2.384,29', '+0.13%'],
                          ['2023-03-23', '2.388,35', '2.386,70', '2.396,50', '2.379,88', '-0.23%'],
                          ['2023-03-22', '2.393,88', '2.387,81', '2.398,76', '2.374,46', '-0.18%'],
                          ['2023-03-21', '2.398,15', '2.417,43', '2.431,23', '2.383,08', '+0.04%'],
                          ['2023-03-20', '2.397,16', '2.337,83', '2.397,16', '2.332,80', '+3.20%'],
                          ['2023-03-17', '2.322,78', '2.284,78', '2.322,78', '2.275,48', '+2.86%'],
                          ['2023-03-16', '2.258,22', '2.262,61', '2.269,01', '2.236,77', '-0.17%'],
                          ['2023-03-15', '2.262,07', '2.287,16', '2.295,06', '2.257,00', '-1.23%'],
                          ['2023-03-14', '2.290,32', '2.266,78', '2.290,32', '2.261,65', '+0.92%'],
                          ['2023-03-13', '2.269,47', '2.279,13', '2.289,70', '2.250,14', '-0.30%'],
                          ['2023-03-10', '2.276,25', '2.272,61', '2.283,18', '2.266,33', '-0.61%'],
                          ['2023-03-09', '2.290,14', '2.295,03', '2.302,10', '2.278,95', '-0.24%'],
                          ['2023-03-07', '2.295,60', '2.294,32', '2.298,93', '2.281,46', '+0.06%'],
                          ['2023-03-06', '2.294,12', '2.286,20', '2.297,86', '2.283,40', '+0.96%'],
                          ['2023-03-03', '2.272,20', '2.250,12', '2.273,52', '2.249,81', '+0.79%'],
                          ['2023-03-02', '2.254,30', '2.284,87', '2.286,27', '2.235,43', '-1.11%'],
                          ['2023-03-01', '2.279,65', '2.258,89', '2.287,48', '2.255,45', '+1.18%']]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)
# Продолжите написание кода здесь

moex['Дата'] = pd.to_datetime(moex['Дата'])
moex[['Цена', 'Откр.', 'Макс.', 'Мин.']] = moex[['Цена', 'Откр.', 'Макс.', 'Мин.']].applymap(delete_dot)

print(moex.head())
print()
moex.info()

moex['Изм. %'] = moex['Изм. %'].apply(lambda x: float(x[:-1]))
print(moex)

        Дата     Цена    Откр.    Макс.     Мин.  Изм. %
0 2023-03-31  2450.67  2470.12  2472.53  2424.45  -0.62%
1 2023-03-30  2465.93  2458.06  2467.97  2450.46  +0.21%
2 2023-03-29  2460.87  2449.96  2468.48  2437.52  +0.76%
3 2023-03-28  2442.19  2453.26  2458.37  2421.39  +0.06%
4 2023-03-27  2440.68  2400.84  2440.68  2400.84  +2.06%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Дата    22 non-null     datetime64[ns]
 1   Цена    22 non-null     float64
 2   Откр.   22 non-null     float64
 3   Макс.   22 non-null     float64
 4   Мин.    22 non-null     float64
 5   Изм. %  22 non-null     object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 1.2+ KB

В датафрейм pmi_manufacturing_india представлена информация по индексу деловой активности в производственном секторе (PMI) 
Индии за период с января 2021 г. по июнь 2023 г. 
Преобразуйте столбец 'Дата выпуска' таким образом, 
чтобы он принял вид, как показано на рисунке ниже. 
Выведите итоговый датафрейм на печать.

Обратите внимание, что данные, вышедшие в январе, но относящиеся к декабрю прошлого года, 
нужно преобразовать в декабрьские прошлого года. Например, 02.01.2023 (дек) преобразуются в (дек) 2022

In [125]:
import pandas as pd
import numpy as np


def replace_date(d):
    new_d = ''
    d1, d2 = d.split()
    if d2 == '(дек)':
        d1 = str(int(d1[-4:]) - 1)
    else:
        d1 = d1[-4:]
    new_d = d2 + ' ' + d1
    return new_d


pmi_manufacturing_india_values = [['03.07.2023 (июнь)', 57.8, 58, 58.7],
       ['01.06.2023 (май)', 58.7, 56.5, 57.2], ['01.05.2023 (апр)', 57.2, 55.8, 56.4],
       ['03.04.2023 (мар)', 56.4, 55, 55.3], ['01.03.2023 (фев)', 55.3, 54.3, 55.4],
       ['01.02.2023 (янв)', 55.4, 57.4, 57.8], ['02.01.2023 (дек)', 57.8, 54.3, 55.7],
       ['01.12.2022 (нояб)', 55.7, 55, 55.3], ['01.11.2022 (окт)', 55.3, 54.9, 55.1],
       ['03.10.2022 (сент)', 55.1, 55.8, 56.2], ['01.09.2022 (авг)', 56.2, 55, 56.4],
       ['01.08.2022 (июль)', 56.4, 53.8, 53.9], ['01.07.2022 (июнь)', 53.9, 54.5, 54.6],
       ['01.06.2022 (май)', 54.6, 54.2, 54.7], ['02.05.2022 (апр)', 54.7, 53.8, 54.0],
       ['04.04.2022 (мар)', 54.0, 55.2, 54.9], ['02.03.2022 (фев)', 54.9, 54.3, 54.0],
       ['01.02.2022 (янв)', 54.0, 54.6, 55.5], ['03.01.2022 (дек)', 55.5, np.nan, 57.6],
       ['01.12.2021 (нояб)', 57.6, 55.1, 55.9], ['01.11.2021 (окт)', 55.9, 54, 53.7],
       ['01.10.2021 (сент)', 53.7, 51.8, 52.3], ['01.09.2021 (авг)', 52.3, 55, 55.3],
       ['02.08.2021 (июль)', 55.3, 50.5, 48.1], ['01.07.2021 (июнь)', 48.1, np.nan, 50.8],
       ['01.06.2021 (май)', 50.8, 52, 55.5], ['03.05.2021 (апр)', 55.5, 51.6, 55.4],
       ['05.04.2021 (мар)', 55.4, 57.5, 57.5], ['01.03.2021 (фев)', 57.5, 57.5, 57.7],
       ['01.02.2021 (янв)', 57.7, 56, 56.4]] 
pmi_manufacturing_india_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_manufacturing_india = pd.DataFrame(pmi_manufacturing_india_values, 
                                        columns=pmi_manufacturing_india_columns)
# Продолжите написание кода здесь
pmi_manufacturing_india['Дата выпуска'] = pmi_manufacturing_india['Дата выпуска'].apply(replace_date)
print(pmi_manufacturing_india)

   Дата выпуска  Факт.  Прогноз  Пред.
0   (июнь) 2023   57.8     58.0   58.7
1    (май) 2023   58.7     56.5   57.2
2    (апр) 2023   57.2     55.8   56.4
3    (мар) 2023   56.4     55.0   55.3
4    (фев) 2023   55.3     54.3   55.4
5    (янв) 2023   55.4     57.4   57.8
6    (дек) 2022   57.8     54.3   55.7
7   (нояб) 2022   55.7     55.0   55.3
8    (окт) 2022   55.3     54.9   55.1
9   (сент) 2022   55.1     55.8   56.2
10   (авг) 2022   56.2     55.0   56.4
11  (июль) 2022   56.4     53.8   53.9
12  (июнь) 2022   53.9     54.5   54.6
13   (май) 2022   54.6     54.2   54.7
14   (апр) 2022   54.7     53.8   54.0
15   (мар) 2022   54.0     55.2   54.9
16   (фев) 2022   54.9     54.3   54.0
17   (янв) 2022   54.0     54.6   55.5
18   (дек) 2021   55.5      NaN   57.6
19  (нояб) 2021   57.6     55.1   55.9
20   (окт) 2021   55.9     54.0   53.7
21  (сент) 2021   53.7     51.8   52.3
22   (авг) 2021   52.3     55.0   55.3
23  (июль) 2021   55.3     50.5   48.1
24  (июнь) 2021   48.1      NaN   50.8
25   (май) 2021   50.8     52.0   55.5
26   (апр) 2021   55.5     51.6   55.4
27   (мар) 2021   55.4     57.5   57.5
28   (фев) 2021   57.5     57.5   57.7
29   (янв) 2021   57.7     56.0   56.4

В датафрейме pmi_manufacturing_turkey представлена информация по индексу деловой активности в производственном секторе (PMI) 
Турции за период с января 2021 г. по июнь 2023 г. 
Приведите датафрейм к такому виду, как показано на рисунке ниже.
    Итоговый датафрейм должен содержать три столбца: 'Дата выпуска', 'Период', 'Факт.'.
    Столбец 'Дата выпуска' содержит дату в формате 'datetime64[ns]'.
    В колонке 'Период' содержится месяц в сокращенном варианте без скобок, и через пробел следует год.
    Выведите итоговый датафрейм на печать.
    Распечатайте пустую строчку.
    Выведите информацию о датафрейме info().

In [149]:
import pandas as pd
from datetime import datetime

def replace_date(d):
    new_d = ''
    d1, d2 = d.split()
    if d2 == '(дек)':
        d1 = str(int(d1[-4:]) - 1)
    else:
        d1 = d1[-4:]
    new_d = d2.replace('(', '').replace(')','') + ' ' + d1
    return new_d

pmi_manufacturing_turkey_values = [['03.07.2023 (июнь)', 51.5], ['01.06.2023 (май)', 51.5],
       ['02.05.2023 (апр)', 51.5], ['03.04.2023 (мар)', 50.9], ['01.03.2023 (фев)', 50.1],
       ['01.02.2023 (янв)', 50.1], ['02.01.2023 (дек)', 48.1], ['01.12.2022 (нояб)', 45.7],
       ['01.11.2022 (окт)', 46.4], ['03.10.2022 (сент)', 46.9], ['01.09.2022 (авг)', 47.4],
       ['01.08.2022 (июль)', 46.9], ['01.07.2022 (июнь)', 48.1], ['01.06.2022 (май)', 49.2],
       ['05.05.2022 (апр)', 49.2], ['01.04.2022 (мар)', 49.4], ['01.03.2022 (фев)', 50.4],
       ['01.02.2022 (янв)', 50.5], ['03.01.2022 (дек)', 52.1], ['01.12.2021 (нояб)', 52.0],
       ['01.11.2021 (окт)', 51.2], ['01.10.2021 (сент)', 52.5], ['01.09.2021 (авг)', 54.1],
       ['02.08.2021 (июль)', 54.0], ['01.07.2021 (июнь)', 51.3], ['01.06.2021 (май)', 49.3],
       ['03.05.2021 (апр)', 50.4], ['01.04.2021 (мар)', 52.6], ['01.03.2021 (фев)', 51.7],
       ['01.02.2021 (янв)', 54.4]]
pmi_manufacturing_turkey_columns = ['Дата выпуска', 'Факт.']
pmi_manufacturing_turkey = pd.DataFrame(pmi_manufacturing_turkey_values, 
                                        columns=pmi_manufacturing_turkey_columns)
# Продолжите написание кода здесь

pmi_manufacturing_turkey.insert(1, 'Период', pmi_manufacturing_turkey['Дата выпуска'].apply(replace_date))
pmi_manufacturing_turkey['Дата выпуска'] = pmi_manufacturing_turkey['Дата выпуска'].apply(lambda d: d.split()[0])
pmi_manufacturing_turkey['Дата выпуска'] = pd.to_datetime(pmi_manufacturing_turkey['Дата выпуска'], dayfirst=True)
print(pmi_manufacturing_turkey)
print()
pmi_manufacturing_turkey.info()

   Дата выпуска     Период  Факт.
0    2023-07-03  июнь 2023   51.5
1    2023-06-01   май 2023   51.5
2    2023-05-02   апр 2023   51.5
3    2023-04-03   мар 2023   50.9
4    2023-03-01   фев 2023   50.1
5    2023-02-01   янв 2023   50.1
6    2023-01-02   дек 2022   48.1
7    2022-12-01  нояб 2022   45.7
8    2022-11-01   окт 2022   46.4
9    2022-10-03  сент 2022   46.9
10   2022-09-01   авг 2022   47.4
11   2022-08-01  июль 2022   46.9
12   2022-07-01  июнь 2022   48.1
13   2022-06-01   май 2022   49.2
14   2022-05-05   апр 2022   49.2
15   2022-04-01   мар 2022   49.4
16   2022-03-01   фев 2022   50.4
17   2022-02-01   янв 2022   50.5
18   2022-01-03   дек 2021   52.1
19   2021-12-01  нояб 2021   52.0
20   2021-11-01   окт 2021   51.2
21   2021-10-01  сент 2021   52.5
22   2021-09-01   авг 2021   54.1
23   2021-08-02  июль 2021   54.0
24   2021-07-01  июнь 2021   51.3
25   2021-06-01   май 2021   49.3
26   2021-05-03   апр 2021   50.4
27   2021-04-01   мар 2021   52.6
28   2021-03-01   фев 2021   51.7
29   2021-02-01   янв 2021   54.4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата выпуска  30 non-null     datetime64[ns]
 1   Период        30 non-null     object
 2   Факт.         30 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 848.0+ bytes

В датафрейме lithium представлены данные по разведанным запасам лития по странам-лидерам по этому показателю
    Приведите данные в колонке 'Разведанные запасы' к типу 'float64' и переименуйте ее в 'Разведанные запасы, млн тонн'.
    Отсортируйте данные по убыванию по столбцу 'Разведанные запасы, млн тонн'.
    "Сбросьте" индекс, нумерация должна идти последовательно с нуля по возрастанию.
    Выведите на печать итоговый датафрейм.
    Распечатайте пустую строчку.
    Выведите информацию о датафрейме info().

In [24]:
import pandas as pd
lithium_values = [['Боливия', '21 млн тонн'], ['Аргентина', '19 млн тонн'],
                  ['Чили', '11 млн тонн'], ['Австралия', '7,9 млн тонн'],
                  ['США', '9,1 млн тонн'], ['Иран', '8,5 млн тонн'],
                  ['Китай', '6,8 млн тонн'], ['Германия', '3,2 млн тонн'],
                  ['Конго', '3 млн тонн'], ['Канада', '2,9 млн тонн'],
                  ['Мексика', '1,7 млн тонн'], ['Бразилия', '0,47 млн тонн'],
                  ['Чехия', '1,3 млн тонн'], ['Сербия', '1,2 млн тонн'],
                  ['Россия', '1 млн тонн'], ['Перу', '0,88 млн тонн'],
                  ['Зимбабве', '0,69 млн тонн'], ['Мали', '0,84 млн тонн']]
lithium_columns = ['Страна', 'Разведанные запасы']
lithium = pd.DataFrame(lithium_values, columns=lithium_columns)
# Продолжите написание кода здесь

lithium['Разведанные запасы'] = lithium['Разведанные запасы'].apply(lambda x: float(x.split()[0].replace(',', '.')))
lithium.sort_values('Разведанные запасы', ascending=False, inplace=True)
lithium.columns = ['Страна', 'Разведанные запасы, млн тонн'] # Переименование колонки
lithium.reset_index(drop=True, inplace=True)
print(lithium)
print()
lithium.info()

       Страна  Разведанные запасы, млн тонн
0     Боливия                         21.00
1   Аргентина                         19.00
2        Чили                         11.00
3         США                          9.10
4        Иран                          8.50
5   Австралия                          7.90
6       Китай                          6.80
7    Германия                          3.20
8       Конго                          3.00
9      Канада                          2.90
10    Мексика                          1.70
11      Чехия                          1.30
12     Сербия                          1.20
13     Россия                          1.00
14       Перу                          0.88
15       Мали                          0.84
16   Зимбабве                          0.69
17   Бразилия                          0.47

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Страна                        18 non-null     object
 1   Разведанные запасы, млн тонн  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 416.0+ bytes

Датафрейм содержит информацию по погашенным выпускам облигаций ПАО "Магнит" по состоянию на 01.01.2024 г.

Оставьте в столбцах 'Объем выпуска' и 'Ставка купона' только числа, и измените тип данных в этих колонках на 'float64'.
Поменяйте наименования столбцов 'Объем выпуска' и 'Ставка купона' на 'Объем выпуска, млрд руб.' и 'Ставка купона, %'.
Выведите на печать датафрейм, состоящий из трех столбцов: 'Серия', 'Объем выпуска, млрд руб.', 'Ставка купона, %', 
    отсортированный по убыванию сначала по колонке 'Объем выпуска, млрд руб.', 
    а затем по убыванию по колонке 'Ставка купона, %'. Также произведите сброс индекса.

In [40]:
import pandas as pd
df_values = [['БО-002Р-03', 'ПАО «Магнит»', '22.05.2020', '19.05.2023', '15 млрд. руб.', '5,90%'],
             ['БО-002Р-02', 'ПАО «Магнит»', '29.04.2020', '26.04.2023', '10 млрд. руб.', '6,70%'],
             ['БО-002Р-01', 'ПАО «Магнит»', '05.03.2020', '02.03.2023', '15 млрд. руб.', '6,20%'],
             ['БО-003Р-05', 'ПАО «Магнит»', '26.12.2019', '22.12.2022', '10 млрд. руб.', '6,60%'],
             ['БО-003Р-04', 'ПАО «Магнит»', '05.11.2019', '03.05.2022', '10 млрд. руб.', '6,90%'],
             ['БО-003Р-01', 'ПАО «Магнит»', '05.02.2019', '01.02.2022', '10 млрд. руб.', '8,70%'],
             ['БО-003Р-02', 'ПАО «Магнит»', '26.02.2019', '23.02.2021', '10 млрд. руб.', '8,50%'],
             ['БО-003Р-03', 'ПАО «Магнит»', '27.06.2019', '24.12.2020', '10 млрд. руб.', '7,85%'],
             ['БО-001Р-04', 'ПАО «Магнит»', '05.07.2016', '28.12.2017', '10 млрд. руб.', '10,00%'],
             ['БО-001Р-03', 'ПАО «Магнит»', '12.04.2016', '10.04.2018', '10 млрд. руб.', '10,60%'],
             ['БО-001Р-02', 'ПАО «Магнит»', '29.02.2016', '26.02.2018', '10 млрд. руб.', '11,20%'],
             ['БО-001Р-01', 'ПАО «Магнит»', '11.11.2015', '10.05.2017', '10 млрд. руб.', '11,20%'],
             ['БO-11', 'ПАО «Магнит»', '20.10.2015', '18.04.2017', '10 млрд. руб.', '11,70%'],
             ['БO-10', 'ПАО «Магнит»', '23.07.2015', '21.07.2016', '10 млрд. руб.', '11,60%'],
             ['03', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['02', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['БO-09', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['БO-08', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['01', 'ПАО «Магнит»', '26.02.2013', '23.02.2016', '5 млрд. руб.', '8,50%'],
             ['БO-07', 'ПАО «Магнит»', '24.09.2012', '21.09.2015', '5 млрд. руб.', '8,90%'],
             ['БO-06', 'ПАО «Магнит»', '26.04.2011', '22.04.2014', '5 млрд. руб.', '7,75%'],
             ['БO-05', 'ПАО «Магнит»', '04.03.2011', '28.02.2014', '5 млрд. руб.', '8,00%'],
             ['БO-04', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '2 млрд. руб.', '8,25%'],
             ['БO-03', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1,5 млрд. руб.', '8,25%'],
             ['БO-02', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['БO-01', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['02', 'ООО «Магнит Финанс»', '30.03.2007', '23.03.2012', '5 млрд. руб.', '8,20%'],
             ['01', 'ООО «Магнит Финанс»', '23.11.2005', '19.11.2008', '2 млрд. руб.', '9,34%']]
df_columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
              'Объем выпуска', 'Ставка купона']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

df['Объем выпуска'] = df['Объем выпуска'].apply(lambda x: float(x.split()[0].replace(',', '.')))
df['Ставка купона'] = df['Ставка купона'].apply(lambda x: float(x[:-1].replace(',', '.')))
df.columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
       'Объем выпуска, млрд руб.', 'Ставка купона, %']
df_ans = (
    df[['Серия', 'Объем выпуска, млрд руб.', 'Ставка купона, %']]
    .sort_values(['Объем выпуска, млрд руб.', 'Ставка купона, %'], ascending = [False, False])
    .reset_index(drop=True)
)
print(df_ans)

         Серия  Объем выпуска, млрд руб.  Ставка купона, %
0   БО-002Р-01                      15.0              6.20
1   БО-002Р-03                      15.0              5.90
2        БO-11                      10.0             11.70
3        БO-10                      10.0             11.60
4   БО-001Р-02                      10.0             11.20
5   БО-001Р-01                      10.0             11.20
6   БО-001Р-03                      10.0             10.60
7   БО-001Р-04                      10.0             10.00
8   БО-003Р-01                      10.0              8.70
9   БО-003Р-02                      10.0              8.50
10  БО-003Р-03                      10.0              7.85
11  БО-003Р-04                      10.0              6.90
12  БО-002Р-02                      10.0              6.70
13  БО-003Р-05                      10.0              6.60
14          03                       5.0             12.10
15          02                       5.0             12.10
16       БO-07                       5.0              8.90
17          01                       5.0              8.50
18       БO-09                       5.0              8.40
19       БO-08                       5.0              8.40
20          02                       5.0              8.20
21       БO-05                       5.0              8.00
22       БO-06                       5.0              7.75
23          01                       2.0              9.34
24       БO-04                       2.0              8.25
25       БO-03                       1.5              8.25
26       БO-02                       1.0              8.25
27       БO-01                       1.0              8.25

В датафрейме представлена информация о размере дивидендных выплат за период с 2017 по 2021 год.
Произведите преобразования в датафрейме так, чтобы получился следующий результат:

In [51]:
import pandas as pd
df_values = [['2017 год (за полугодие, 9 месяцев и год)', 2.786,
              '31 132 ₽ млн / 521 $ млн'],
             ['2018 год (за 1 квартал, полугодие, 9 месяцев и год)', 5.902,
              '65 951 ₽ млн / 1 007 $ млн'],
             ['2019 год (за 1 квартал, полугодие, 9 месяцев и год)', 5.335,
              '59 615 ₽ млн / 911 $ млн'],
             ['2020 год (за полугодие, 9 месяцев и год)', 3.943,
              '44 060 ₽ млн / 593 $ млн'],
             ['2021 год (за 1 квартал, полугодие и 9 месяцев)', 7.988,
              '89 261 ₽ млн / 1 223 $ млн']]
df_columns = ['Год', 'Размер дивиденда на 1 акцию, руб.', 'Начислено дивидендов']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

df['Начислено дивидендов'] = df['Начислено дивидендов'].apply(lambda x: x[:x.find('/')-1])
df['Год'] = df['Год'].apply(lambda x: x[:x.find('(')-1])
print(df)

        Год  Размер дивиденда на 1 акцию, руб. Начислено дивидендов
0  2017 год                              2.786         31 132 ₽ млн
1  2018 год                              5.902         65 951 ₽ млн
2  2019 год                              5.335         59 615 ₽ млн
3  2020 год                              3.943         44 060 ₽ млн
4  2021 год                              7.988         89 261 ₽ млн

Добавьте столбец 'Количество дней', который заполните числами в зависимости от срока депозита:  
    O/N = 1,   1W = 7,   1M = 30;   3M = 90.  Выведите итоговый датафрейм на печать

In [58]:
import pandas as pd

duration_depo = {'O/N':1, '1W':7, '1M': 30, '3M':90}

depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['Allmoneybank', 5_900_000_000, 8.45, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Allmoneybank', 2_400_000_000, 9.00, '3M'],
               ['Big Business Bank', 2_500_000_000, 8.30, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.31, 'O/N'],
               ['SmallBusinessBank', 8_000_000_000, 8.70, '1M'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo['Количество дней'] = depo['Срок'].apply(lambda x: duration_depo[x])
print(depo)

                   Банк  Сумма, руб.  Ставка Срок  Количество дней
0       New Energy Bank   1000000000    8.30  O/N                1
1          AgroFoodBank   5000000000    8.50   1W                7
2   First Ecologic Bank   4500000000    8.60   1M               30
3    Cryptocurrencybank   2700000000    8.30  O/N                1
4     Big Business Bank   1500000000    8.27  O/N                1
5       GreenEnergyBank   1800000000    8.35  O/N                1
6          Allmoneybank   5900000000    8.45  O/N                1
7        ClearWaterBank   3000000000    8.40  O/N                1
8   First Ecologic Bank   3000000000    8.41  O/N                1
9    Cryptocurrencybank   7500000000    8.50  O/N                1
10         Allmoneybank   2400000000    9.00   3M               90
11    Big Business Bank   2500000000    8.30  O/N                1
12   Golden Silver Bank   2500000000    8.65   1M               30
13      New Energy Bank   2000000000    8.45   1W                7
14         AgroFoodBank    700000000    8.25  O/N                1
15   Golden Silver Bank   4300000000    8.40  O/N                1
16    SmallBusinessBank   2000000000    8.31  O/N                1
17    SmallBusinessBank   8000000000    8.70   1M               30
18      New Energy Bank   4000000000    8.80   3M               90

Посчитайте проценты к получению (база 365 дней), округлите результаты до сотых и добавьте в колонку 'Проценты к получению'. 
Выведите итоговый датафрейм на печать.

In [74]:
import pandas as pd
import numpy as np

duration_depo = {'O/N':1, '1W':7, '1M': 30, '3M':90}

depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['Allmoneybank', 5_900_000_000, 8.45, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Allmoneybank', 2_400_000_000, 9.00, '3M'],
               ['Big Business Bank', 2_500_000_000, 8.30, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.31, 'O/N'],
               ['SmallBusinessBank', 8_000_000_000, 8.70, '1M'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo['Проценты к получению'] = round(
    depo['Сумма, руб.'] * (depo['Ставка']/100) * (depo['Срок'].apply(lambda x: duration_depo[x]) /365)
, 2)
print(depo)

                   Банк  Сумма, руб.  Ставка Срок  Проценты к получению
0       New Energy Bank   1000000000    8.30  O/N             227397.26
1          AgroFoodBank   5000000000    8.50   1W            8150684.93
2   First Ecologic Bank   4500000000    8.60   1M           31808219.18
3    Cryptocurrencybank   2700000000    8.30  O/N             613972.60
4     Big Business Bank   1500000000    8.27  O/N             339863.01
5       GreenEnergyBank   1800000000    8.35  O/N             411780.82
6          Allmoneybank   5900000000    8.45  O/N            1365890.41
7        ClearWaterBank   3000000000    8.40  O/N             690410.96
8   First Ecologic Bank   3000000000    8.41  O/N             691232.88
9    Cryptocurrencybank   7500000000    8.50  O/N            1746575.34
10         Allmoneybank   2400000000    9.00   3M           53260273.97
11    Big Business Bank   2500000000    8.30  O/N             568493.15
12   Golden Silver Bank   2500000000    8.65   1M           17773972.60
13      New Energy Bank   2000000000    8.45   1W            3241095.89
14         AgroFoodBank    700000000    8.25  O/N             158219.18
15   Golden Silver Bank   4300000000    8.40  O/N             989589.04
16    SmallBusinessBank   2000000000    8.31  O/N             455342.47
17    SmallBusinessBank   8000000000    8.70   1M           57205479.45
18      New Energy Bank   4000000000    8.80   3M           86794520.55

На вход подается строка в формате 'YYYY-mm-dd'. Создайте из этой строки временную метку.

Выведите на печать сам объект Timestamp, а на следующей строке распечатайте его тип.

In [1]:
import pandas as pd

s = input()

ans = pd.Timestamp(s)
print(ans)
print(type(ans))

2020-01-10
2020-01-10 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

На вход подается строка в формате 'mm/dd/yy HH:MM:SS'. Создайте из этой строки временную метку.

Выведите на печать сам объект Timestamp, а на следующей строке распечатайте его тип.

In [2]:
import pandas as pd

s = input()
ans = pd.Timestamp(s)
print(ans)
print(type(ans))

03/01/23 10:00:00
2023-03-01 10:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

На вход подается строка в формате 'dd.mm.YYYY'.

Создайте из этой строки временную метку в формате YYYY-mm-dd HH:MM:SS.

Выведите на печать сам объект Timestamp, а на следующей строке распечатайте его тип.

In [7]:
import pandas as pd

s = input()
ans = pd.to_datetime(s, format='%d.%m.%Y')
print(ans)
print(type(ans))

01.01.2023
2023-01-01 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

На вход подается строка, содержащая число - дату в формате unix в секундах.

Создайте объект Timestamp и выведите его на печать.

In [16]:
import pandas as pd

s = int(input())
ans = pd.Timestamp(s, unit='s')
print(ans)

28328
1970-01-01 07:52:08

Имеется объект Timestamp, который выведен на печать. Используя метод to_datetime64(), проведите его преобразование.

Выведите на печать результат, а на второй строке распечатайте тип полученного объекта.

In [14]:
import pandas as pd

s = input()
ts = pd.Timestamp(s)
print(ts)
print(type(ts))
print()
# Продолжите написание кода здесь

ts2 = ts.to_datetime64()
print(ts2)
print(type(ts2))

2023-01-31
2023-01-31 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

2023-01-31T00:00:00.000000000
<class 'numpy.datetime64'>

Имеется объект Timestamp, который выведен на печать. 
Используя метод strftime(), проведите его преобразование в формат 'dd.mm.yy'.

In [17]:
import pandas as pd

s = input()
ts = pd.Timestamp(s)
print(ts)
print(type(ts))
print()
# Продолжите написание кода здесь

ans = ts.strftime('%d.%m.%y')
print(ans)
print(type(ans))

2022-07-01
2022-07-01 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

01.07.22
<class 'str'>

Имеется объект Timestamp, который выведен на печать. 
Используя метод strftime(), проведите его преобразование в формат 
'dd.mm.YYYY (день недели (полностью, без сокращений) на англ.)'.

Выведите на печать результат, а на второй строке распечатайте тип полученного объекта.

In [20]:
import pandas as pd

s = input()
ts = pd.Timestamp(s)
print(ts)
print(type(ts))
print()
# Продолжите написание кода здесь

ans = ts.strftime('%d.%m.%Y (%A)')
print(ans)
print(type(ans))

2022-07-01
2022-07-01 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

01.07.2022 (Friday)
<class 'str'>

С помощью функции date_range() 
создайте ряд временных меток с 27.02.2023 по 03.03.2023 с шагом в один день. 
Выведите полученный объект на печать.

In [24]:
import pandas as pd

dates = pd.date_range(start='2023-02-27', end='2023-03-03', freq='d')
print(dates)

DatetimeIndex(['2023-02-27', '2023-02-28', '2023-03-01', '2023-03-02',
               '2023-03-03'],
              dtype='datetime64[ns]', freq='D')

С помощью функции date_range() создайте ряд временных меток с 2000 г. по 2020 г. с шагом в один год. 
Выведите полученный объект на печать.

In [1]:
import pandas as pd

print(pd.date_range(start=pd.Timestamp(year=2000, month=1, day=1), end=pd.Timestamp(year=2020, month=12, day=31), freq='y'))

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31', '2010-12-31', '2011-12-31',
               '2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

Используя функцию date_range(), создайте ряд временных меток за 01.09.2023 с 10:00 по 21:00 с шагом в один час.

Выведите полученный объект на печать.

In [2]:
import pandas as pd

print(pd.date_range(start=pd.Timestamp('2023-09-01 10:00:00'), end=pd.Timestamp('2023-09-01 21:00:00'), freq = 'h'))

DatetimeIndex(['2023-09-01 10:00:00', '2023-09-01 11:00:00',
               '2023-09-01 12:00:00', '2023-09-01 13:00:00',
               '2023-09-01 14:00:00', '2023-09-01 15:00:00',
               '2023-09-01 16:00:00', '2023-09-01 17:00:00',
               '2023-09-01 18:00:00', '2023-09-01 19:00:00',
               '2023-09-01 20:00:00', '2023-09-01 21:00:00'],
              dtype='datetime64[ns]', freq='H')

Используя функцию date_range(), создайте ряд временных меток за 01.10.2023 
с 08:00 по 20:00 с шагом в один час с учетом часового пояса Нью-Йорка ('America/New_York').

In [4]:
import pandas as pd

print(pd.date_range(start='2023-10-01 08:00:00', end='2023-10-01 20:00:00', freq='h', tz='America/New_York'))

DatetimeIndex(['2023-10-01 08:00:00-04:00', '2023-10-01 09:00:00-04:00',
               '2023-10-01 10:00:00-04:00', '2023-10-01 11:00:00-04:00',
               '2023-10-01 12:00:00-04:00', '2023-10-01 13:00:00-04:00',
               '2023-10-01 14:00:00-04:00', '2023-10-01 15:00:00-04:00',
               '2023-10-01 16:00:00-04:00', '2023-10-01 17:00:00-04:00',
               '2023-10-01 18:00:00-04:00', '2023-10-01 19:00:00-04:00',
               '2023-10-01 20:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', freq='H')

Используя функцию date_range(), 
создайте ряд временных меток за 01.09.2023 с 10:00 
    через каждые 5 минут, состоящий из 30 периодов

In [9]:
import pandas as pd
print(pd.date_range(start='2023-09-01 10:00:00', periods=30, freq='5T'))

DatetimeIndex(['2023-09-01 10:00:00', '2023-09-01 10:05:00',
               '2023-09-01 10:10:00', '2023-09-01 10:15:00',
               '2023-09-01 10:20:00', '2023-09-01 10:25:00',
               '2023-09-01 10:30:00', '2023-09-01 10:35:00',
               '2023-09-01 10:40:00', '2023-09-01 10:45:00',
               '2023-09-01 10:50:00', '2023-09-01 10:55:00',
               '2023-09-01 11:00:00', '2023-09-01 11:05:00',
               '2023-09-01 11:10:00', '2023-09-01 11:15:00',
               '2023-09-01 11:20:00', '2023-09-01 11:25:00',
               '2023-09-01 11:30:00', '2023-09-01 11:35:00',
               '2023-09-01 11:40:00', '2023-09-01 11:45:00',
               '2023-09-01 11:50:00', '2023-09-01 11:55:00',
               '2023-09-01 12:00:00', '2023-09-01 12:05:00',
               '2023-09-01 12:10:00', '2023-09-01 12:15:00',
               '2023-09-01 12:20:00', '2023-09-01 12:25:00'],
              dtype='datetime64[ns]', freq='5T')

Используя функцию date_range(), 
создайте ряд временных меток за 01.09.2023, 
состоящий из 30 десятиминутных периодов, предшествующих 18:00 включительно.
Выведите полученный объект на печать.

In [12]:
import pandas as pd

print(pd.date_range(end='2023-09-01 18:00:00', periods=30, freq='10T'))

DatetimeIndex(['2023-09-01 13:10:00', '2023-09-01 13:20:00',
               '2023-09-01 13:30:00', '2023-09-01 13:40:00',
               '2023-09-01 13:50:00', '2023-09-01 14:00:00',
               '2023-09-01 14:10:00', '2023-09-01 14:20:00',
               '2023-09-01 14:30:00', '2023-09-01 14:40:00',
               '2023-09-01 14:50:00', '2023-09-01 15:00:00',
               '2023-09-01 15:10:00', '2023-09-01 15:20:00',
               '2023-09-01 15:30:00', '2023-09-01 15:40:00',
               '2023-09-01 15:50:00', '2023-09-01 16:00:00',
               '2023-09-01 16:10:00', '2023-09-01 16:20:00',
               '2023-09-01 16:30:00', '2023-09-01 16:40:00',
               '2023-09-01 16:50:00', '2023-09-01 17:00:00',
               '2023-09-01 17:10:00', '2023-09-01 17:20:00',
               '2023-09-01 17:30:00', '2023-09-01 17:40:00',
               '2023-09-01 17:50:00', '2023-09-01 18:00:00'],
              dtype='datetime64[ns]', freq='10T')

Используя функцию bdate_range(), создайте ряд временных меток, содержащий рабочие дни октября 2022 года.

Выведите полученный объект DatetimeIndex на печать.

In [17]:
import pandas as pd

print(pd.bdate_range(start='2022-10-01', end='2022-10-31'))

DatetimeIndex(['2022-10-03', '2022-10-04', '2022-10-05', '2022-10-06',
               '2022-10-07', '2022-10-10', '2022-10-11', '2022-10-12',
               '2022-10-13', '2022-10-14', '2022-10-17', '2022-10-18',
               '2022-10-19', '2022-10-20', '2022-10-21', '2022-10-24',
               '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28',
               '2022-10-31'],
              dtype='datetime64[ns]', freq='B')

Используя функцию bdate_range(), создайте ряд временных меток, содержащий последние рабочие дни каждого месяца в 2019 году.

In [19]:
import pandas as pd

print(pd.bdate_range(start='2019-01-01', end='2019-12-31', freq='BM'))

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-29', '2019-04-30',
               '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30',
               '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31'],
              dtype='datetime64[ns]', freq='BM')

Используя функцию bdate_range(), создайте ряд временных меток, содержащий даты всех понедельников в 1990 году.

In [22]:
import pandas as pd

print(pd.bdate_range(start='1990-01-01', end='1990-12-31', freq='C', weekmask='1000000'))

DatetimeIndex(['1990-01-01', '1990-01-08', '1990-01-15', '1990-01-22',
               '1990-01-29', '1990-02-05', '1990-02-12', '1990-02-19',
               '1990-02-26', '1990-03-05', '1990-03-12', '1990-03-19',
               '1990-03-26', '1990-04-02', '1990-04-09', '1990-04-16',
               '1990-04-23', '1990-04-30', '1990-05-07', '1990-05-14',
               '1990-05-21', '1990-05-28', '1990-06-04', '1990-06-11',
               '1990-06-18', '1990-06-25', '1990-07-02', '1990-07-09',
               '1990-07-16', '1990-07-23', '1990-07-30', '1990-08-06',
               '1990-08-13', '1990-08-20', '1990-08-27', '1990-09-03',
               '1990-09-10', '1990-09-17', '1990-09-24', '1990-10-01',
               '1990-10-08', '1990-10-15', '1990-10-22', '1990-10-29',
               '1990-11-05', '1990-11-12', '1990-11-19', '1990-11-26',
               '1990-12-03', '1990-12-10', '1990-12-17', '1990-12-24',
               '1990-12-31'],
              dtype='datetime64[ns]', freq='C')

Используя функцию bdate_range(), создайте ряд временных меток,  
содержащий даты всех рабочих дней марта 2023 года, с учетом праздничного дня - 8 марта.

In [25]:
import pandas as pd

print(pd.bdate_range(start='2023-03-01', end='2023-03-31', freq='C', holidays=['2023-03-08']))

DatetimeIndex(['2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06',
               '2023-03-07', '2023-03-09', '2023-03-10', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',
               '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23',
               '2023-03-24', '2023-03-27', '2023-03-28', '2023-03-29',
               '2023-03-30', '2023-03-31'],
              dtype='datetime64[ns]', freq='C')

Создайте столбец 'Срок обращения', 
содержащий количество дней обращения облигаций в формате 'timedelta64[ns]'.
Выведите на печать датафрейм, содержащий только следующие столбцы: 'Серия', 'Объем выпуска', 'Ставка купона', 'Срок обращения'

In [37]:
import pandas as pd
df_values = [['БО-002Р-03', 'ПАО «Магнит»', '22.05.2020', '19.05.2023', '15 млрд. руб.', '5,90%'],
             ['БО-002Р-02', 'ПАО «Магнит»', '29.04.2020', '26.04.2023', '10 млрд. руб.', '6,70%'],
             ['БО-002Р-01', 'ПАО «Магнит»', '05.03.2020', '02.03.2023', '15 млрд. руб.', '6,20%'],
             ['БО-003Р-05', 'ПАО «Магнит»', '26.12.2019', '22.12.2022', '10 млрд. руб.', '6,60%'],
             ['БО-003Р-04', 'ПАО «Магнит»', '05.11.2019', '03.05.2022', '10 млрд. руб.', '6,90%'],
             ['БО-003Р-01', 'ПАО «Магнит»', '05.02.2019', '01.02.2022', '10 млрд. руб.', '8,70%'],
             ['БО-003Р-02', 'ПАО «Магнит»', '26.02.2019', '23.02.2021', '10 млрд. руб.', '8,50%'],
             ['БО-003Р-03', 'ПАО «Магнит»', '27.06.2019', '24.12.2020', '10 млрд. руб.', '7,85%'],
             ['БО-001Р-04', 'ПАО «Магнит»', '05.07.2016', '28.12.2017', '10 млрд. руб.', '10,00%'],
             ['БО-001Р-03', 'ПАО «Магнит»', '12.04.2016', '10.04.2018', '10 млрд. руб.', '10,60%'],
             ['БО-001Р-02', 'ПАО «Магнит»', '29.02.2016', '26.02.2018', '10 млрд. руб.', '11,20%'],
             ['БО-001Р-01', 'ПАО «Магнит»', '11.11.2015', '10.05.2017', '10 млрд. руб.', '11,20%'],
             ['БO-11', 'ПАО «Магнит»', '20.10.2015', '18.04.2017', '10 млрд. руб.', '11,70%'],
             ['БO-10', 'ПАО «Магнит»', '23.07.2015', '21.07.2016', '10 млрд. руб.', '11,60%'],
             ['03', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['02', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['БO-09', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['БO-08', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['01', 'ПАО «Магнит»', '26.02.2013', '23.02.2016', '5 млрд. руб.', '8,50%'],
             ['БO-07', 'ПАО «Магнит»', '24.09.2012', '21.09.2015', '5 млрд. руб.', '8,90%'],
             ['БO-06', 'ПАО «Магнит»', '26.04.2011', '22.04.2014', '5 млрд. руб.', '7,75%'],
             ['БO-05', 'ПАО «Магнит»', '04.03.2011', '28.02.2014', '5 млрд. руб.', '8,00%'],
             ['БO-04', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '2 млрд. руб.', '8,25%'],
             ['БO-03', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1,5 млрд. руб.', '8,25%'],
             ['БO-02', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['БO-01', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['02', 'ООО «Магнит Финанс»', '30.03.2007', '23.03.2012', '5 млрд. руб.', '8,20%'],
             ['01', 'ООО «Магнит Финанс»', '23.11.2005', '19.11.2008', '2 млрд. руб.', '9,34%']]
df_columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
              'Объем выпуска', 'Ставка купона']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь
df['Дата размещения'] = pd.to_datetime(df['Дата размещения'], dayfirst=True)
df['Дата погашения'] = pd.to_datetime(df['Дата погашения'], dayfirst=True)
df['Срок обращения'] = df['Дата погашения'] - df['Дата размещения']
print(df[['Серия', 'Объем выпуска', 'Ставка купона', 'Срок обращения']])

         Серия   Объем выпуска Ставка купона Срок обращения
0   БО-002Р-03   15 млрд. руб.         5,90%      1092 days
1   БО-002Р-02   10 млрд. руб.         6,70%      1092 days
2   БО-002Р-01   15 млрд. руб.         6,20%      1092 days
3   БО-003Р-05   10 млрд. руб.         6,60%      1092 days
4   БО-003Р-04   10 млрд. руб.         6,90%       910 days
5   БО-003Р-01   10 млрд. руб.         8,70%      1092 days
6   БО-003Р-02   10 млрд. руб.         8,50%       728 days
7   БО-003Р-03   10 млрд. руб.         7,85%       546 days
8   БО-001Р-04   10 млрд. руб.        10,00%       541 days
9   БО-001Р-03   10 млрд. руб.        10,60%       728 days
10  БО-001Р-02   10 млрд. руб.        11,20%       728 days
11  БО-001Р-01   10 млрд. руб.        11,20%       546 days
12       БO-11   10 млрд. руб.        11,70%       546 days
13       БO-10   10 млрд. руб.        11,60%       364 days
14          03    5 млрд. руб.        12,10%       364 days
15          02    5 млрд. руб.        12,10%       364 days
16       БO-09    5 млрд. руб.         8,40%      1092 days
17       БO-08    5 млрд. руб.         8,40%      1092 days
18          01    5 млрд. руб.         8,50%      1092 days
19       БO-07    5 млрд. руб.         8,90%      1092 days
20       БO-06    5 млрд. руб.         7,75%      1092 days
21       БO-05    5 млрд. руб.         8,00%      1092 days
22       БO-04    2 млрд. руб.         8,25%      1092 days
23       БO-03  1,5 млрд. руб.         8,25%      1092 days
24       БO-02    1 млрд. руб.         8,25%      1092 days
25       БO-01    1 млрд. руб.         8,25%      1092 days
26          02    5 млрд. руб.         8,20%      1820 days
27          01    2 млрд. руб.         9,34%      1092 days

 Датафрейм содержит информацию по погащенным выпускам облигаций ПАО "Магнит" по состоянию на 01.01.2024 г.
    Создайте столбец 'Срок обращения, дни', содержащий количество дней обращения облигаций и имеющий тип данных 'int64'.
Выведите на печать датафрейм, содержащий только следующие столбцы: 'Серия', 'Эмитент', 'Срок обращения, дни'.

In [43]:
import pandas as pd
df_values = [['БО-002Р-03', 'ПАО «Магнит»', '22.05.2020', '19.05.2023', '15 млрд. руб.', '5,90%'],
             ['БО-002Р-02', 'ПАО «Магнит»', '29.04.2020', '26.04.2023', '10 млрд. руб.', '6,70%'],
             ['БО-002Р-01', 'ПАО «Магнит»', '05.03.2020', '02.03.2023', '15 млрд. руб.', '6,20%'],
             ['БО-003Р-05', 'ПАО «Магнит»', '26.12.2019', '22.12.2022', '10 млрд. руб.', '6,60%'],
             ['БО-003Р-04', 'ПАО «Магнит»', '05.11.2019', '03.05.2022', '10 млрд. руб.', '6,90%'],
             ['БО-003Р-01', 'ПАО «Магнит»', '05.02.2019', '01.02.2022', '10 млрд. руб.', '8,70%'],
             ['БО-003Р-02', 'ПАО «Магнит»', '26.02.2019', '23.02.2021', '10 млрд. руб.', '8,50%'],
             ['БО-003Р-03', 'ПАО «Магнит»', '27.06.2019', '24.12.2020', '10 млрд. руб.', '7,85%'],
             ['БО-001Р-04', 'ПАО «Магнит»', '05.07.2016', '28.12.2017', '10 млрд. руб.', '10,00%'],
             ['БО-001Р-03', 'ПАО «Магнит»', '12.04.2016', '10.04.2018', '10 млрд. руб.', '10,60%'],
             ['БО-001Р-02', 'ПАО «Магнит»', '29.02.2016', '26.02.2018', '10 млрд. руб.', '11,20%'],
             ['БО-001Р-01', 'ПАО «Магнит»', '11.11.2015', '10.05.2017', '10 млрд. руб.', '11,20%'],
             ['БO-11', 'ПАО «Магнит»', '20.10.2015', '18.04.2017', '10 млрд. руб.', '11,70%'],
             ['БO-10', 'ПАО «Магнит»', '23.07.2015', '21.07.2016', '10 млрд. руб.', '11,60%'],
             ['03', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['02', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['БO-09', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['БO-08', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['01', 'ПАО «Магнит»', '26.02.2013', '23.02.2016', '5 млрд. руб.', '8,50%'],
             ['БO-07', 'ПАО «Магнит»', '24.09.2012', '21.09.2015', '5 млрд. руб.', '8,90%'],
             ['БO-06', 'ПАО «Магнит»', '26.04.2011', '22.04.2014', '5 млрд. руб.', '7,75%'],
             ['БO-05', 'ПАО «Магнит»', '04.03.2011', '28.02.2014', '5 млрд. руб.', '8,00%'],
             ['БO-04', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '2 млрд. руб.', '8,25%'],
             ['БO-03', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1,5 млрд. руб.', '8,25%'],
             ['БO-02', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['БO-01', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['02', 'ООО «Магнит Финанс»', '30.03.2007', '23.03.2012', '5 млрд. руб.', '8,20%'],
             ['01', 'ООО «Магнит Финанс»', '23.11.2005', '19.11.2008', '2 млрд. руб.', '9,34%']]
df_columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
              'Объем выпуска', 'Ставка купона']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь
df['Дата размещения'] = pd.to_datetime(df['Дата размещения'], dayfirst=True)
df['Дата погашения'] = pd.to_datetime(df['Дата погашения'], dayfirst=True)
df['Срок обращения, дни'] = (df['Дата погашения'] - df['Дата размещения']).dt.days
print(df[['Серия', 'Эмитент', 'Срок обращения, дни']])

         Серия              Эмитент  Срок обращения, дни
0   БО-002Р-03         ПАО «Магнит»                 1092
1   БО-002Р-02         ПАО «Магнит»                 1092
2   БО-002Р-01         ПАО «Магнит»                 1092
3   БО-003Р-05         ПАО «Магнит»                 1092
4   БО-003Р-04         ПАО «Магнит»                  910
5   БО-003Р-01         ПАО «Магнит»                 1092
6   БО-003Р-02         ПАО «Магнит»                  728
7   БО-003Р-03         ПАО «Магнит»                  546
8   БО-001Р-04         ПАО «Магнит»                  541
9   БО-001Р-03         ПАО «Магнит»                  728
10  БО-001Р-02         ПАО «Магнит»                  728
11  БО-001Р-01         ПАО «Магнит»                  546
12       БO-11         ПАО «Магнит»                  546
13       БO-10         ПАО «Магнит»                  364
14          03         ПАО «Магнит»                  364
15          02         ПАО «Магнит»                  364
16       БO-09         ПАО «Магнит»                 1092
17       БO-08         ПАО «Магнит»                 1092
18          01         ПАО «Магнит»                 1092
19       БO-07         ПАО «Магнит»                 1092
20       БO-06         ПАО «Магнит»                 1092
21       БO-05         ПАО «Магнит»                 1092
22       БO-04         ПАО «Магнит»                 1092
23       БO-03         ПАО «Магнит»                 1092
24       БO-02         ПАО «Магнит»                 1092
25       БO-01         ПАО «Магнит»                 1092
26          02  ООО «Магнит Финанс»                 1820
27          01  ООО «Магнит Финанс»                 1092

Дан список usd_jpy с ценами закрытия по валютной паре "доллар США/японская иена" за сентябрь 2023 года в порядке возрастания дат. Торговые дни – каждые понедельник-пятница. Создайте объект Series, индексом в котором будет объект DatetimeIndex с рабочими днями сентября 2023 года, а значениями – цены закрытия.

In [48]:
import pandas as pd

usd_jpy = [145.47, 146.06, 146.54, 147.47, 147.71, 147.33, 147.11, 146.68,
           147.16, 147.35, 147.48, 147.87, 147.6 , 147.74, 148.32, 147.64,
           148.43, 148.81, 149.04, 149.5 , 149.34]
# Продолжите написание кода здесь

print(pd.Series(usd_jpy, index=pd.bdate_range(start='2023-09-01', end='2023-09-30', freq='B')))

2023-09-01    145.47
2023-09-04    146.06
2023-09-05    146.54
2023-09-06    147.47
2023-09-07    147.71
2023-09-08    147.33
2023-09-11    147.11
2023-09-12    146.68
2023-09-13    147.16
2023-09-14    147.35
2023-09-15    147.48
2023-09-18    147.87
2023-09-19    147.60
2023-09-20    147.74
2023-09-21    148.32
2023-09-22    147.64
2023-09-25    148.43
2023-09-26    148.81
2023-09-27    149.04
2023-09-28    149.50
2023-09-29    149.34
Freq: B, dtype: float64

Дан список списков alibaba с ценами открытия и закрытия по акциями компании 
Alibaba Group Holding Limited за июль 2023 года с порядке возрастания дат. 
Торговые дни – каждые понедельник-пятница, кроме праздничного неторгового дня – 04.07.2023 г. 
Создайте объект DataFrame, индексом в котором будет объект DatetimeIndex с рабочими днями июля 2023 года, 
а значениями – два столбца: с ценами открытия 'Open' и ценами закрытия 'Close'.

In [51]:
import pandas as pd

alibaba = [[84.87, 84.07], [83.98, 84.3 ], [83.12, 83.84], [86.76, 90.55],
           [90.05, 90.56], [91.02, 91.79], [94.11, 94.00], [95.03, 96.61],
           [95.22, 94.56], [92.25, 93.41], [91.54, 91.20], [93.57, 92.09],
           [91.69, 91.90], [92.89, 92.17], [92.07, 96.35], [98.17, 94.98],
           [94.95, 97.14], [97.75, 95.44], [98.07,100.55], [99.79,102.16]]
name_columns = ['Open', 'Close']
# Продолжите написание кода здесь
df = pd.DataFrame(data=alibaba, columns=name_columns, index=pd.bdate_range(start='2023-07-01', end='2023-07-31', freq='C', holidays=['2023-07-04']))
print(df)

             Open   Close
2023-07-03  84.87   84.07
2023-07-05  83.98   84.30
2023-07-06  83.12   83.84
2023-07-07  86.76   90.55
2023-07-10  90.05   90.56
2023-07-11  91.02   91.79
2023-07-12  94.11   94.00
2023-07-13  95.03   96.61
2023-07-14  95.22   94.56
2023-07-17  92.25   93.41
2023-07-18  91.54   91.20
2023-07-19  93.57   92.09
2023-07-20  91.69   91.90
2023-07-21  92.89   92.17
2023-07-24  92.07   96.35
2023-07-25  98.17   94.98
2023-07-26  94.95   97.14
2023-07-27  97.75   95.44
2023-07-28  98.07  100.55
2023-07-31  99.79  102.16

По данным из предыдущей задачи создайте объект DataFrame, 
который будет иметь числовую индексацию и три столбца: 'Date', 'Open' и 'Close'. 
    Столбец 'Date' должен иметь тип данных object, 
    а даты, содержащиеся в нем, должны быть в формате 'dd.mm.YYYY'.

In [65]:
import pandas as pd

alibaba = [[84.87, 84.07], [83.98, 84.3 ], [83.12, 83.84], [86.76, 90.55],
           [90.05, 90.56], [91.02, 91.79], [94.11, 94.00], [95.03, 96.61],
           [95.22, 94.56], [92.25, 93.41], [91.54, 91.20], [93.57, 92.09],
           [91.69, 91.90], [92.89, 92.17], [92.07, 96.35], [98.17, 94.98],
           [94.95, 97.14], [97.75, 95.44], [98.07,100.55], [99.79,102.16]]
name_columns = ['Open', 'Close']
# Продолжите написание кода здесь
df = pd.DataFrame(data=alibaba, columns=name_columns, index=pd.bdate_range(start='2023-07-01', end='2023-07-31', freq='C', holidays=['2023-07-04']))
df = (
    df.reset_index()
    .rename(columns={'index':'Date'})
)
df['Date'] = df['Date'].astype('object').apply(lambda t: t.strftime('%d.%m.%Y'))
print(df)

0     03.07.2023
1     05.07.2023
2     06.07.2023
3     07.07.2023
4     10.07.2023
5     11.07.2023
6     12.07.2023
7     13.07.2023
8     14.07.2023
9     17.07.2023
10    18.07.2023
11    19.07.2023
12    20.07.2023
13    21.07.2023
14    24.07.2023
15    25.07.2023
16    26.07.2023
17    27.07.2023
18    28.07.2023
19    31.07.2023
Name: Date, dtype: object

Имеется датафрейм - результат предыдущей задачи.

Сделайте столбец 'Date' индексом датафрейма (индекс должен быть объектом DatetimeIndex).
Добавьте столбец 'Day_of_week', содержащий дни недели на английском языке в полном формате.
Выведите итоговый датафрейм на печать.
Распечатайте пустую строчку.
Выведите на печать все строки, в которых днём недели является пятница.

In [87]:
import pandas as pd
alibaba_values = [['03.07.2023', 84.87, 84.07], ['05.07.2023', 83.98, 84.30],
                  ['06.07.2023', 83.12, 83.84], ['07.07.2023', 86.76, 90.55],
                  ['10.07.2023', 90.05, 90.56], ['11.07.2023', 91.02, 91.79],
                  ['12.07.2023', 94.11, 94.00], ['13.07.2023', 95.03, 96.61],
                  ['14.07.2023', 95.22, 94.56], ['17.07.2023', 92.25, 93.41],
                  ['18.07.2023', 91.54, 91.20], ['19.07.2023', 93.57, 92.09],
                  ['20.07.2023', 91.69, 91.90], ['21.07.2023', 92.89, 92.17],
                  ['24.07.2023', 92.07, 96.35], ['25.07.2023', 98.17, 94.98],
                  ['26.07.2023', 94.95, 97.14], ['27.07.2023', 97.75, 95.44],
                  ['28.07.2023', 98.07,100.55], ['31.07.2023', 99.79,102.16]]
alibaba_columns = ['Date', 'Open', 'Close']
alibaba = pd.DataFrame(alibaba_values, columns=alibaba_columns)
# Продолжите написание кода здесь

alibaba['Date'] = pd.to_datetime(alibaba['Date'], dayfirst=True)
alibaba['Day_of_week'] = alibaba['Date'].dt.day_name()
alibaba.set_index('Date', inplace=True)
print(alibaba)
print()
alibaba_friday = alibaba.query('Day_of_week == "Friday"')
print(alibaba_friday)

             Open   Close Day_of_week
Date
2023-07-03  84.87   84.07      Monday
2023-07-05  83.98   84.30   Wednesday
2023-07-06  83.12   83.84    Thursday
2023-07-07  86.76   90.55      Friday
2023-07-10  90.05   90.56      Monday
2023-07-11  91.02   91.79     Tuesday
2023-07-12  94.11   94.00   Wednesday
2023-07-13  95.03   96.61    Thursday
2023-07-14  95.22   94.56      Friday
2023-07-17  92.25   93.41      Monday
2023-07-18  91.54   91.20     Tuesday
2023-07-19  93.57   92.09   Wednesday
2023-07-20  91.69   91.90    Thursday
2023-07-21  92.89   92.17      Friday
2023-07-24  92.07   96.35      Monday
2023-07-25  98.17   94.98     Tuesday
2023-07-26  94.95   97.14   Wednesday
2023-07-27  97.75   95.44    Thursday
2023-07-28  98.07  100.55      Friday
2023-07-31  99.79  102.16      Monday

             Open   Close Day_of_week
Date
2023-07-07  86.76   90.55      Friday
2023-07-14  95.22   94.56      Friday
2023-07-21  92.89   92.17      Friday
2023-07-28  98.07  100.55      Friday

Имеется датафрейм usd_jpy с ценами открытия по валютной паре "доллар США/японская иена" за 3-й квартал 2023 года.

Сделайте столбец 'Date' индексом датафрейма (индекс должен быть объектом DatetimeIndex).
Выведите на печать объект DataFrame, содержащий данные за первую декаду (с 1-го по 10-е числа) каждого месяца.

In [94]:
import pandas as pd
usd_jpy_values = [['2023-07-03', 144.4], ['2023-07-04', 144.58], ['2023-07-05', 144.41],
                  ['2023-07-06', 144.49], ['2023-07-07', 143.95], ['2023-07-10', 142.21],
                  ['2023-07-11', 141.3], ['2023-07-12', 140.12], ['2023-07-13', 138.32],
                  ['2023-07-14', 138.07], ['2023-07-17', 138.68], ['2023-07-18', 138.73],
                  ['2023-07-19', 139.03], ['2023-07-20', 139.6], ['2023-07-21', 139.86],
                  ['2023-07-24', 141.75], ['2023-07-25', 141.52], ['2023-07-26', 140.91],
                  ['2023-07-27', 140.37], ['2023-07-28', 138.86], ['2023-07-31', 140.76],
                  ['2023-08-01', 142.32], ['2023-08-02', 142.97], ['2023-08-03', 143.34],
                  ['2023-08-04', 142.6], ['2023-08-07', 141.88], ['2023-08-08', 142.52],
                  ['2023-08-09', 143.28], ['2023-08-10', 143.73], ['2023-08-11', 144.85],
                  ['2023-08-14', 144.82], ['2023-08-15', 145.44], ['2023-08-16', 145.61],
                  ['2023-08-17', 146.33], ['2023-08-18', 145.71], ['2023-08-21', 145.3],
                  ['2023-08-22', 146.24], ['2023-08-23', 145.76], ['2023-08-24', 144.67],
                  ['2023-08-25', 146.07], ['2023-08-28', 146.53], ['2023-08-29', 146.46],
                  ['2023-08-30', 145.99], ['2023-08-31', 146.1], ['2023-09-01', 145.47],
                  ['2023-09-04', 146.06], ['2023-09-05', 146.54], ['2023-09-06', 147.47],
                  ['2023-09-07', 147.71], ['2023-09-08', 147.33], ['2023-09-11', 147.11],
                  ['2023-09-12', 146.68], ['2023-09-13', 147.16], ['2023-09-14', 147.35],
                  ['2023-09-15', 147.48], ['2023-09-18', 147.87], ['2023-09-19', 147.6],
                  ['2023-09-20', 147.74], ['2023-09-21', 148.32], ['2023-09-22', 147.64],
                  ['2023-09-25', 148.43], ['2023-09-26', 148.81], ['2023-09-27', 149.04],
                  ['2023-09-28', 149.5], ['2023-09-29', 149.34]]
usd_jpy_columns = ['Date', 'Open']
usd_jpy = pd.DataFrame(usd_jpy_values, columns=usd_jpy_columns)
# Продолжите написание кода здесь
usd_jpy['Date'] = pd.to_datetime(usd_jpy['Date'])

decade_usd_jpy = usd_jpy.loc[usd_jpy['Date'].dt.day <= 10].set_index('Date')
print(decade_usd_jpy)

              Open
Date
2023-07-03  144.40
2023-07-04  144.58
2023-07-05  144.41
2023-07-06  144.49
2023-07-07  143.95
2023-07-10  142.21
2023-08-01  142.32
2023-08-02  142.97
2023-08-03  143.34
2023-08-04  142.60
2023-08-07  141.88
2023-08-08  142.52
2023-08-09  143.28
2023-08-10  143.73
2023-09-01  145.47
2023-09-04  146.06
2023-09-05  146.54
2023-09-06  147.47
2023-09-07  147.71
2023-09-08  147.33

На вход подаются две даты в формате YYYY-mm-dd, каждое на отдельной строке. 
Первая дата – более ранняя, вторая – более поздняя.
Создайте два объекта Timestamp. 
Вычтите из второй даты первую, и выведите на печать полученный результат. 
А на второй строке выведите тип полученного объекта.

In [95]:
import pandas as pd

first_date = pd.Timestamp(input())
second_date = pd.Timestamp(input())
diff_dates = second_date - first_date
print(diff_dates)
print(type(diff_dates))

2022-10-01
2023-06-01
243 days 00:00:00
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>

Создайте объект Period('2023Q1', 'Q-DEC').
Выведите его на печать, а на второй строке распечатайте тип объекта.

In [102]:
import pandas as pd

date_p = pd.Period('2023Q1')
print(date_p)
print(type(date_p))

2023Q3
<class 'pandas._libs.tslibs.period.Period'>

Создайте объект Period('2022-06', 'M').
Выведите его на печать, а на второй строке распечатайте тип объекта.

In [104]:
import pandas as pd

date_p = pd.Period('2022-06', freq='M')
print(date_p)
print(type(date_p))

2022-06
<class 'pandas._libs.tslibs.period.Period'>

Имеется объект Period('2020-05-05 00:00', 'H'). 
Применив к нему арифметическую операцию, 
получите новый объект: Period('2020-05-07 02:00', 'H').

Выведите итоговый объект Period на печать, 
а на второй строке распечатайте тип этого объекта.

In [106]:
import pandas as pd

p = pd.Period('2020-05-05', freq='H')
# Продолжите написание кода здесь

p2 = p + 50
print(p2)
print(type(p2))

2020-05-07 02:00
<class 'pandas._libs.tslibs.period.Period'>

Имеется объект Period('2014-12-01', 'D'). 
Применив к нему арифметическую операцию, получите новый объект: Period('2014-11-01', 'D').
Выведите итоговый объект Period на печать, а на второй строке распечатайте тип этого объекта.

In [1]:
import pandas as pd

p = pd.Period('2014-12-01', freq='D')
# Продолжите написание кода здесь

p2 = p - 30
print(p2)
print(type(p2))

2014-11-01
<class 'pandas._libs.tslibs.period.Period'>

Создайте ряд временных интервалов: '2019-07', '2019-08', '2019-09'.
Выведите объект PeriodIndex на печать, а на второй строке распечатайте его тип.

In [2]:
import pandas as pd

ps = pd.period_range(start='2019-07', end='2019-09', freq='m')
print(ps)
print(type(ps))

PeriodIndex(['2019-07', '2019-08', '2019-09'], dtype='period[M]', freq='M')
<class 'pandas.core.indexes.period.PeriodIndex'>

Создайте ряд временных интервалов c '2023-04-01' по '2023-04-10' с частотой в один день.

Выведите объект PeriodIndex на печать, а на второй строке распечатайте его тип.

In [3]:
import pandas as pd

ps = pd.period_range(start='2023-04-01', end='2023-04-10', freq='d')
print(ps)
print(type(ps))

PeriodIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
             '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
             '2023-04-09', '2023-04-10'],
            dtype='period[D]', freq='D')
<class 'pandas.core.indexes.period.PeriodIndex'>

Имеется объект PeriodIndex(['2023-09-04', '2023-09-05', '2023-09-06'], dtype='period[D]'). Применив к нему арифметическую операцию, получите новый объект: PeriodIndex(['2023-09-11', '2023-09-12', '2023-09-13'], dtype='period[D]').

Выведите итоговый объект PeriodIndex на печать, а на второй строке распечатайте тип этого объекта.

In [7]:
import pandas as pd

pri = pd.period_range(start='2023-09-04', periods=3, freq='D')
# Продолжите написание кода здесь
pri_new = pri + 7
print(pri_new)
print(type(pri_new))

PeriodIndex(['2023-09-11', '2023-09-12', '2023-09-13'], dtype='period[D]', freq='D')
<class 'pandas.core.indexes.period.PeriodIndex'>

Имеется список с данными по динамике ВВП Китая с 1 квартала 2022 года по 2 квартал 2023 года. 
Создайте объект Series, индексом в котором будет ряд временных квартальных интервалов, 
а значениями – данные по ВВП Китая. Выведите его на печать.

In [10]:
import pandas as pd

gdp_china = ['4,8%', '0,4%', '3,9%', '2,9%', '4,5%', '6,3%']
# Продолжите написание кода здесь
pers = pd.period_range(start='2022-01-01', end='2023-06-01', freq='q')
gdp_q = pd.Series(data=gdp_china, index=pers)
print(gdp_q)

2022Q1    4,8%
2022Q2    0,4%
2022Q3    3,9%
2022Q4    2,9%
2023Q1    4,5%
2023Q2    6,3%
Freq: Q-DEC, dtype: object

Дан список списков silver_values с ценами открытия, максимума, 
минимума и закрытия фьючерса на серебро за 29.09.2023 г. в часовом таймфрейме с 10:00 по 20:00.

Создайте датафрейм в формате, представленном на рисунке ниже, и выведите на печать данные с 12:00 по 16:00.

In [27]:
import pandas as pd

silver_values = [[23.21, 23.32, 23.18, 23.28], [23.28, 23.32, 23.26, 23.27],
                 [23.27, 23.28, 23.22, 23.25], [23.25, 23.29, 23.22, 23.29],
                 [23.28, 23.35, 23.25, 23.34], [23.34, 23.35, 23.26, 23.34],
                 [23.34, 23.56, 23.26, 23.56], [23.55, 23.81, 23.44, 23.45],
                 [23.45, 23.46, 22.84, 22.9 ], [22.9 , 22.91, 22.5 , 22.56],
                 [22.56, 22.62, 22.52, 22.54]]
silver_columns = ['OPEN', 'HIGH', 'LOW', 'CLOSE']
# Продолжите написание кода здесь
pers = pd.date_range(start='2023-09-29 10:00:00', end='2023-09-29 20:00:00', freq='h')
df = pd.DataFrame(data=silver_values, columns=silver_columns, index=pers)
df_ans = df.loc[(df.index.hour >= 12) & (df.index.hour <= 16)]
df_ans.index = df_ans.index.strftime('%Y-%m-%d %H:%M')
print(df_ans)

                   OPEN   HIGH    LOW  CLOSE
2023-09-29 12:00  23.27  23.28  23.22  23.25
2023-09-29 13:00  23.25  23.29  23.22  23.29
2023-09-29 14:00  23.28  23.35  23.25  23.34
2023-09-29 15:00  23.34  23.35  23.26  23.34
2023-09-29 16:00  23.34  23.56  23.26  23.56

На вход подаются три числа: день, месяц, год, каждое на отдельной строке.

Создайте объект datetime.date. Выведите его на печать, а на второй строке распечатайте тип объекта.

In [35]:
from datetime import date
d, m, y = [int(input()) for i in range(3)]
ans = date(y,m,d)
print(ans)
print(type(ans))

10
12
2017
2017-12-10
<class 'datetime.date'>

На вход подаются три числа: часы, минуты, секунды, каждое на отдельной строке.
Создайте объект datetime.time. Выведите его на печать, а на второй строке распечатайте тип объекта.

In [36]:
from datetime import time
h, m, s = [int(input()) for i in range(3)]
ans = time(h, m, s)
print(ans)
print(type(ans))

9
30
0
09:30:00
<class 'datetime.time'>

На вход подаются шесть чисел: день, месяц, год, часы, минуты, секунды, каждое на отдельной строке.

Создайте объект datetime.datetime. Выведите его на печать, а на второй строке распечатайте тип объекта.

In [41]:
from datetime import datetime

d, m, y, h, ms, s = [int(input()) for i in range(6)]
ans = datetime(y, m, d, h, ms, s)
print(ans)
print(type(ans))

14
11
2000
14
30
5
2000-11-14 14:30:05
<class 'datetime.datetime'>

Имеется объект datetime.datetime.

Выделите из него время (объект datetime.time). Выведите на печать итоговый результат, а на второй строке распечатайте тип объекта.

In [42]:
import datetime

dt = datetime.datetime(int(input()), int(input()), int(input()), 
                       int(input()), int(input()), int(input()))
# Продолжите написание кода здесь

t = dt.time()
print(t)
print(type(t))

2023
10
1
14
30
3
14:30:03
<class 'datetime.time'>

Имеется объект datetime.datetime.

Выделите из него дату (объект datetime.date). 
Выведите на печать итоговый результат, а на второй строке распечатайте тип объекта.

In [43]:
import datetime
dt = datetime.datetime(int(input()), int(input()), int(input()), 
                       int(input()), int(input()), int(input()))
# Продолжите написание кода здесь

t = dt.date()
print(t)
print(type(t))

2022
11
3
14
30
3
2022-11-03
<class 'datetime.date'>

Имеется объект datetime.datetime. 
Выведите на печать: 
    на 1-й строке день месяца (число), 
    на 2-й строке месяц, 
    на 3-й строке год.

In [44]:
import datetime

dt = datetime.datetime(int(input()), int(input()), int(input()), 
                       int(input()), int(input()), int(input()))
# Продолжите написание кода здесь

print(dt.day, dt.month, dt.year, sep='\n')

2022
11
19
18
30
4
19
11
2022

На вход подается строка с датой в формате: 'dd/mm/yy, день_недели_полностью', например '05/06/23, Monday'.

Преобразуйте строку в объект datetime.datetime и выведите на печать.

In [47]:
import datetime

date_str = input()
print(datetime.datetime.strptime(date_str, '%d/%m/%y, %A'))

31/08/23, Tuesday
2023-08-31 00:00:00

На вход подается строка с датой в формате: 'день месяц год', например '5 june 2023'.

Преобразуйте строку в объект datetime.datetime и выведите на печать.

In [48]:
import datetime

date_str = input()
print(datetime.datetime.strptime(date_str, '%d %B %Y'))

30 November 2019
2019-11-30 00:00:00

Имеется объект datetime.datetime.

Преобразуйте его в строку формата: 'день месяц_сокращенно год день_недели_сокращенно', например, '29 Apr 2022 Fri'. Выведите полученную строку на печать.

In [49]:
import datetime

dt = datetime.datetime(int(input()), int(input()), int(input()), 
                       int(input()), int(input()), int(input()))
# Продолжите написание кода здесь

print(dt.strftime('%d %b %Y %a'))

2023
9
25
0
0
0
25 Sep 2023 Mon

Создайте объект datetime.timedelta, равный четырём неделям.

Выведите его на печать, а на второй строке распечатайте тип объекта.

In [53]:
import datetime

print(datetime.timedelta(days=28, minutes=0, seconds=0))
print(type(datetime.timedelta(days=28, minutes=0, seconds=0)))

28 days, 0:00:00
<class 'datetime.timedelta'>

Имеется объект datetime.datetime. 
Прибавьте к нему предварительно созданный объект datetime.timedelta, равный 150 дням и 12 часам.
Выведите на печать итоговый результат.

In [54]:
import datetime

dt = datetime.datetime(int(input()), int(input()), int(input()), 
                       int(input()), int(input()), int(input()))
# Продолжите написание кода здесь

ans = dt + datetime.timedelta(days=150, hours=12)
print(ans)

2021
12
10
0
0
0
2022-05-09 12:00:00

## read csv/xlsx

В каждом файле содержится информация по всем торговым дням конкретного года: даты, цены открытий, 
    максимумов, минимумов, закрытий.

Рассчитайте разницу между максимальной ценой в году и минимальной ценой в году и округлите результат до сотых.
Выведите результаты на печать, на первой строке - за 2017 год, на второй - за 2022 год.

In [12]:
import pandas as pd

df1 = pd.read_excel('USD000UTSTOM_170101_171231.xlsx')
df2 = pd.read_excel('USD000UTSTOM_220101_221231.xlsx')

ans1 = round(df1['<HIGH>'].max() - df1['<LOW>'].min(), 2)
ans2 = round(df2['<HIGH>'].max() - df2['<LOW>'].min(), 2)
print(ans1)
print(ans2)

5.57

Попробуйте загрузить информацию из этих файлов в используемый вами редактор кода (на своём компьютере) 
и посчитайте среднюю цену за каждый год (с 2018 по 2022) по колонке '<CLOSE>'. 
Округлите до четырех знаков после запятой и распечатайте результаты в тренажёре Stepik в следующем формате:

In [4]:
import pandas as pd

df2018 = pd.read_excel('USD000UTSTOM_180101_181231.xlsx')
df2019 = pd.read_excel('USD000UTSTOM_190101_191231.xlsx')
df2020 = pd.read_excel('USD000UTSTOM_200101_201231.xlsx')
df2021 = pd.read_excel('USD000UTSTOM_210101_211231.xlsx')
df2022 = pd.read_excel('USD000UTSTOM_220101_221231.xlsx')

dataframes = [df2018, df2019, df2020, df2021, df2022]

for i, d in enumerate(dataframes, start=2018):
    ans = d['<CLOSE>'].mean().round(4)
    print(f'{i}: {ans}')

2018: 62.8861
2019: 64.6602
2020: 72.4356
2021: 72.4356
2022: 68.4233

## Объединения (merge, join, concat)

Объедините эти датафреймы по столбцу id так, чтобы в итоговый датафрейм вошли только те строки, у которых есть совпадения по id в обоих датафреймах.

In [3]:
import pandas as pd

df1 = pd.DataFrame({'id': [1, 2, 3, 4],
                     'name': ['Петров А.И.', 'Смолин С.В.', 'Иванова Е.Г.', 'Антонова Н.Р.']})

df2 = pd.DataFrame({'id': [3, 4, 5, 6],
                    'age': [23, 34, 45, 56]})
# Продолжите написание кода здесь

df = df1.merge(df2, how='inner', on='id')
print(df)

   id           name  age
0   3   Иванова Е.Г.   23
1   4  Антонова Н.Р.   34

Объедините датафреймы так, чтобы сохранить все строки из df1, 
а из df2 подставить цены для соответствующих product_id.

Выведите на печать полученный результат.

In [5]:
import pandas as pd

df1 = pd.DataFrame({'product_id': [1, 2, 3, 4],
                    'product_name': ['Стол', 'Кресло', 'Лампа настольная', 'Диван']})

df2 = pd.DataFrame({'product_id': [1, 2, 4, 5],
                    'price': [5000, 13000, 95000, 950]})
# Продолжите написание кода здесь

df = df1.merge(df2, how='left', on='product_id')
print(df)

   product_id      product_name    price
0           1              Стол   5000.0
1           2            Кресло  13000.0
2           3  Лампа настольная      NaN
3           4             Диван  95000.0

Объедините датафреймы так, чтобы в итоговом датафрейме были сохранены все строки из обоих наборов данных. 
Также, значения в столбце id_сотрудника должны быть отсортированы по возрастанию

In [7]:
import pandas as pd

df1 = pd.DataFrame({'id_сотрудника': [10, 2, 37, 51],
                    'отдел': ['HR', 'IT', 'Отдел маркетинга', 'Отдел продаж']})

df2 = pd.DataFrame({'id_сотрудника': [2, 37, 44],
                    'оклад': [50000, 60000, 70000]})
# Продолжите написание кода здесь

df = df1.merge(df2, how='outer', on='id_сотрудника', sort=True)
print(df)

   id_сотрудника             отдел    оклад
0              2                IT  50000.0
1             10                HR      NaN
2             37  Отдел маркетинга  60000.0
3             44               NaN  70000.0
4             51      Отдел продаж      NaN

Датафреймы brent и wti содержат недельные цены закрытия нефти марок brent и WTI, соответственно.
Объедините эти два фрейма данных так, чтобы он содержал столбцы с названиями: 'Дата', 'Закр._brent', 'Закр._wti'. 
    Выведите на печать итоговый датафрейм.

In [14]:
import pandas as pd
brent_values = [['30.07.2023', 86.24], ['23.07.2023', 84.99], ['16.07.2023', 81.07],
                ['09.07.2023', 79.87], ['02.07.2023', 78.47], ['25.06.2023', 74.9],
                ['18.06.2023', 73.85], ['11.06.2023', 76.61], ['04.06.2023', 74.79],
                ['28.05.2023', 76.13], ['21.05.2023', 76.95], ['14.05.2023', 75.58],
                ['07.05.2023', 74.17], ['30.04.2023', 75.3], ['23.04.2023', 79.54],
                ['16.04.2023', 81.66], ['09.04.2023', 85.87], ['02.04.2023', 85.12],
                ['26.03.2023', 79.89], ['19.03.2023', 74.99], ['12.03.2023', 72.97],
                ['05.03.2023', 82.78], ['26.02.2023', 85.83], ['19.02.2023', 83.16],
                ['12.02.2023', 83.0], ['05.02.2023', 86.39], ['29.01.2023', 79.94],
                ['22.01.2023', 86.66], ['15.01.2023', 87.63], ['08.01.2023', 85.28],
                ['01.01.2023', 78.75]]
wti_values = [['30.07.2023', 82.82], ['23.07.2023', 80.58], ['16.07.2023', 77.07], 
              ['09.07.2023', 75.42], ['02.07.2023', 73.86], ['25.06.2023', 70.64],
              ['18.06.2023', 69.16], ['11.06.2023', 71.78], ['04.06.2023', 70.17], 
              ['28.05.2023', 71.74], ['21.05.2023', 72.67], ['14.05.2023', 71.55],
              ['07.05.2023', 70.04], ['30.04.2023', 71.34], ['23.04.2023', 76.78],
              ['16.04.2023', 77.71], ['09.04.2023', 82.52], ['02.04.2023', 80.7],
              ['26.03.2023', 75.67], ['19.03.2023', 69.26], ['12.03.2023', 66.74],
              ['05.03.2023', 76.68], ['26.02.2023', 79.68], ['19.02.2023', 76.47],
              ['12.02.2023', 76.34], ['05.02.2023', 79.75], ['29.01.2023', 73.2],
              ['22.01.2023', 79.41], ['15.01.2023', 81.64], ['08.01.2023', 80.11],
              ['01.01.2023', 73.69]]
col = ['Дата', 'Закр.']
brent = pd.DataFrame(brent_values, columns=col)
wti = pd.DataFrame(wti_values, columns=col)
# Продолжите написание кода здесь
df = brent.merge(wti, how='inner', suffixes=('_brent', '_wti'), on='Дата')
print(df)

          Дата  Закр._brent  Закр._wti
0   30.07.2023        86.24      82.82
1   23.07.2023        84.99      80.58
2   16.07.2023        81.07      77.07
3   09.07.2023        79.87      75.42
4   02.07.2023        78.47      73.86
5   25.06.2023        74.90      70.64
6   18.06.2023        73.85      69.16
7   11.06.2023        76.61      71.78
8   04.06.2023        74.79      70.17
9   28.05.2023        76.13      71.74
10  21.05.2023        76.95      72.67
11  14.05.2023        75.58      71.55
12  07.05.2023        74.17      70.04
13  30.04.2023        75.30      71.34
14  23.04.2023        79.54      76.78
15  16.04.2023        81.66      77.71
16  09.04.2023        85.87      82.52
17  02.04.2023        85.12      80.70
18  26.03.2023        79.89      75.67
19  19.03.2023        74.99      69.26
20  12.03.2023        72.97      66.74
21  05.03.2023        82.78      76.68
22  26.02.2023        85.83      79.68
23  19.02.2023        83.16      76.47
24  12.02.2023        83.00      76.34
25  05.02.2023        86.39      79.75
26  29.01.2023        79.94      73.20
27  22.01.2023        86.66      79.41
28  15.01.2023        87.63      81.64
29  08.01.2023        85.28      80.11
30  01.01.2023        78.75      73.69

Объедините эти датафреймы по столбцу товар так, чтобы в итоговый датафрейм вошли только те строки, 
у которых есть совпадения по столбцу товар в обоих датафреймах.

In [22]:
import pandas as pd

df1 = pd.DataFrame({'id': [2, 4, 7, 8, 12],
                    'товар': ['ложка столовая', 'нож', 'вилка', 'ложка чайная', 'тарелка'],
                    'количество': [1220, 2035, 890, 538, 240]})

df2 = pd.DataFrame({'товар': ['ложка столовая', 'нож', 'вилка', 'ножницы', 'тарелка'],
                    'цена': [100, 450, 140, 280, 390]})
df1 = df1.set_index('id')
# Продолжите написание кода здесь

df = df1.merge(df2, how='inner', on='товар')
print(df)

            товар  количество  цена
0  ложка столовая        1220   100
1             нож        2035   450
2           вилка         890   140
3         тарелка         240   390

Объедините эти датафреймы по индексу так, 
чтобы в итоговый датафрейм вошли только те строки, 
у которых есть совпадения по индексу в обоих датафреймах.

In [23]:
import pandas as pd

df1 = pd.DataFrame({'id': [2, 4, 7, 8, 12, 13],
                    'товар': ['ложка столовая', 'нож', 'вилка', 'ложка чайная', 'тарелка', 'кружка'],
                    'количество': [1220, 2035, 890, 538, 240, 440]})

df2 = pd.DataFrame({'id': [2, 4, 7, 10, 12],
                    'цена': [100, 450, 140, 280, 390]})
df1 = df1.set_index('id')
df2 = df2.set_index('id')
# Продолжите написание кода здесь

df = df1.join(df2, how='inner')
print(df)

             товар  количество  цена
id
2   ложка столовая        1220   100
4              нож        2035   450
7            вилка         890   140
12         тарелка         240   390

Объедините эти датафреймы таким образом, 
чтобы в результате каждая строка содержала всю информацию о заказе, товаре и клиенте. 
Должен получиться следующий набор данных:

In [45]:
import pandas as pd

orders_df = pd.DataFrame({'order_id': [1254, 1255, 1256],
                          'product_id': [103, 302, 257],
                          'client_id': [1001, 1002, 1003],
                          'order_date': ['2024-07-10', '2024-07-11', '2024-07-12']})

products_df = pd.DataFrame({'product_id': [103, 302, 257],
                            'product_name': ['Холодильник', 'Кофемашина', 'Наушники']})

clients_df = pd.DataFrame({'client_id': [1001, 1002, 1003],
                           'client_name': ['Алексеев С.А.', 'Семенов Н.Д.', 'Петрова Л.С.']})
# Продолжите написание кода здесь

df1 = orders_df.merge(products_df, how='inner')
df2 = df1.merge(clients_df, how='inner')
print(df2)

   order_id  product_id  client_id  order_date product_name    client_name
0      1254         103       1001  2024-07-10  Холодильник  Алексеев С.А.
1      1255         302       1002  2024-07-11   Кофемашина   Семенов Н.Д.
2      1256         257       1003  2024-07-12     Наушники   Петрова Л.С.

Объедините эти датафреймы таким образом, чтобы набор данных содержал информацию о заказе, 
товаре и клиенте, но только по товарам, присутствующим в таблице products_df. 
Должен получиться следующий набор данных:

In [49]:
import pandas as pd

orders_df = pd.DataFrame({'order_id': [1254, 1255, 1256, 1257],
                          'product_id': [103, 302, 257, 208],
                          'client_id': [1001, 1002, 1003, 1004],
                          'order_date': ['2024-07-10', '2024-07-11', '2024-07-12', '2024-07-12']})

products_df = pd.DataFrame({'product_id': [103, 208],
                            'product_name': ['Холодильник', 'Парогенератор']})

clients_df = pd.DataFrame({'client_id': [1001, 1002, 1003, 1004],
                           'client_name': ['Алексеев С.А.', 'Семенов Н.Д.', 'Петрова Л.С.', 'Боброва А.Г.']})
# Продолжите написание кода здесь

df1 = orders_df.merge(products_df, how='right', on='product_id')
df2 = df1.merge(clients_df, how='left', on='client_id')
print(df2)

   order_id  product_id  client_id  order_date   product_name    client_name
0      1254         103       1001  2024-07-10    Холодильник  Алексеев С.А.
1      1257         208       1004  2024-07-12  Парогенератор   Боброва А.Г.

Объедините эти наборы данных таким образом, чтобы получить датафрейм следующего вида

In [53]:
import pandas as pd

orders_df = pd.DataFrame({'order_id': [1254, 1255, 1256, 1257],
                          'product_id': [103, 302, 257, 208],
                          'client_id': [1001, 1002, 1003, 1004],
                          'order_date': ['2024-07-10', '2024-07-11', '2024-07-12', '2024-07-12']})

products_df = pd.DataFrame({'product_id': [103, 302, 257, 208],
                            'product_name': ['Холодильник', 'Кофемашина', 'Наушники', 'Парогенератор']})

clients_df = pd.DataFrame({'client_id': [1001, 1002, 1004],
                           'client_name': ['Алексеев С.А.', 'Семенов Н.Д.', 'Боброва А.Г.']})
# Продолжите написание кода здесь

df1 = clients_df.merge(orders_df, how='left', on='client_id')
df2 = df1.merge(products_df, how='left', on='product_id')
print(df2)

   client_id    client_name  order_id  product_id  order_date   product_name
0       1001  Алексеев С.А.      1254         103  2024-07-10    Холодильник
1       1002   Семенов Н.Д.      1255         302  2024-07-11     Кофемашина
2       1004   Боброва А.Г.      1257         208  2024-07-12  Парогенератор

Произведите объединение этих наборов данных по индексам. Итоговый датафрейм должен получить следующий вид.

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'product_id': [103, 302, 257, 208],
                    'product_name': ['Холодильник', 'Кофемашина', 'Наушники', 'Парогенератор']},
                   index=[0, 3, 4, 5])

df2 = pd.DataFrame({'country_of_origin': ['Russia', 'China', 'Russia', 'Japan']},
                   index=[0, 3, 4, 5])

df3 = pd.DataFrame({'guarantee': ['да', 'нет', 'да', 'да'],
                    'guarantee_period': ['1 год', '0', '1,5 года', '1 год']},
                   index=[0, 3, 4, 5])
# Продолжите написание кода здесь
df = df1.join([df2, df3], how='inner')
print(df)

Объедините два датафрейма baker_1 и baker_2 с данными об активных буровых установках в США за 1-й и 2-й кварталы 2023 года от американской нефтесервисной компании Baker Hughes. 
Даты должны идти по убыванию. 
Дублирования индексов не должно быть.
Выведите на печать итоговый датафрейм.

In [12]:
import pandas as pd
baker_values_1 = [['31.03.2023', 592], ['24.03.2023', 593], ['17.03.2023', 589], 
                  ['10.03.2023', 590], ['03.03.2023', 592], ['24.02.2023', 600], 
                  ['17.02.2023', 607], ['10.02.2023', 609], ['03.02.2023', 599], 
                  ['27.01.2023', 609], ['20.01.2023', 613], ['13.01.2023', 623], 
                  ['06.01.2023', 618]]
baker_columns = ['Дата выпуска', 'Факт.']
baker_1 = pd.DataFrame(baker_values_1, columns=baker_columns)
baker_values_2 = [['30.06.2023', 545], ['23.06.2023', 546], ['16.06.2023', 552],
                  ['09.06.2023', 556], ['02.06.2023', 555], ['26.05.2023', 570],
                  ['19.05.2023', 575], ['12.05.2023', 586], ['05.05.2023', 588],
                  ['28.04.2023', 591], ['21.04.2023', 591], ['14.04.2023', 588],
                  ['06.04.2023', 590]]
baker_2 = pd.DataFrame(baker_values_2, columns=baker_columns)
# Продолжите написание кода здесь

df = pd.concat([baker_1, baker_2], ignore_index=True)
df['Дата выпуска'] = pd.to_datetime(df['Дата выпуска'], dayfirst=True)
df = df.sort_values('Дата выпуска', ascending=False).reset_index(drop=True)
df['Дата выпуска'] = df['Дата выпуска'].apply(lambda d: d.strftime('%d.%m.%Y'))
print(df)

   Дата выпуска  Факт.
0    30.06.2023    545
1    23.06.2023    546
2    16.06.2023    552
3    09.06.2023    556
4    02.06.2023    555
5    26.05.2023    570
6    19.05.2023    575
7    12.05.2023    586
8    05.05.2023    588
9    28.04.2023    591
10   21.04.2023    591
11   14.04.2023    588
12   06.04.2023    590
13   31.03.2023    592
14   24.03.2023    593
15   17.03.2023    589
16   10.03.2023    590
17   03.03.2023    592
18   24.02.2023    600
19   17.02.2023    607
20   10.02.2023    609
21   03.02.2023    599
22   27.01.2023    609
23   20.01.2023    613
24   13.01.2023    623
25   06.01.2023    618

Имеются три датафрейма: baker_april, baker_may и baker_june с данными 
    об активных буровых установках в США за апрель, май, июнь 2023, соответственно. 

Соедините эти фреймы данных таким образом, чтобы итоговый датафрейм принял вид, показанный на рисунке ниже. 
Выведите его на печать.

In [19]:
import pandas as pd
baker_values_april = [['28.04.2023', 591], ['21.04.2023', 591], ['14.04.2023', 588],
                      ['06.04.2023', 590]]
baker_values_may = [['26.05.2023', 570], ['19.05.2023', 575], ['12.05.2023', 586], 
                    ['05.05.2023', 588]]
baker_values_june = [['30.06.2023', 545], ['23.06.2023', 546], ['16.06.2023', 552],
                     ['09.06.2023', 556], ['02.06.2023', 555]]
baker_columns = ['Дата выпуска', 'Факт.']
baker_april = pd.DataFrame(baker_values_april, columns=baker_columns)
baker_may = pd.DataFrame(baker_values_may, columns=baker_columns)
baker_june = pd.DataFrame(baker_values_june, columns=baker_columns)
# Продолжите написание кода здесь

df = pd.concat([baker_april, baker_may, baker_june], ignore_index=True)
df['Дата выпуска'] = pd.to_datetime(df['Дата выпуска'], dayfirst=True)
df.sort_values('Дата выпуска', ascending=False, ignore_index=True, inplace=True)
df['Дата выпуска'] = df['Дата выпуска'].dt.strftime('%d.%m.%Y')
print(df)

   Дата выпуска  Факт.
0    30.06.2023    545
1    23.06.2023    546
2    16.06.2023    552
3    09.06.2023    556
4    02.06.2023    555
5    26.05.2023    570
6    19.05.2023    575
7    12.05.2023    586
8    05.05.2023    588
9    28.04.2023    591
10   21.04.2023    591
11   14.04.2023    588
12   06.04.2023    590

Имеются три датафрейма: baker_april, baker_may и baker_june 
    с данными об активных буровых установках в США за апрель, май, июнь 2023, соответственно. 

Соедините эти фреймы данных таким образом, чтобы итоговый датафрейм принял вид, показанный на рисунке ниже. 
Выведите его на печать.

In [21]:
import pandas as pd
baker_values_april = [['28.04.2023', 591], ['21.04.2023', 591], ['14.04.2023', 588],
                      ['06.04.2023', 590]]
baker_values_may = [['26.05.2023', 570], ['19.05.2023', 575], ['12.05.2023', 586], 
                    ['05.05.2023', 588]]
baker_values_june = [['30.06.2023', 545], ['23.06.2023', 546], ['16.06.2023', 552],
                     ['09.06.2023', 556], ['02.06.2023', 555]]
baker_columns = ['Дата выпуска', 'Факт.']
baker_april = pd.DataFrame(baker_values_april, columns=baker_columns)
baker_may = pd.DataFrame(baker_values_may, columns=baker_columns)
baker_june = pd.DataFrame(baker_values_june, columns=baker_columns)
# Продолжите написание кода здесь
df = pd.concat([baker_june, baker_may, baker_april], keys=['июнь 2023', 'май 2023', 'апрель 2023'])
print(df)

              Дата выпуска  Факт.
июнь 2023   0   30.06.2023    545
            1   23.06.2023    546
            2   16.06.2023    552
            3   09.06.2023    556
            4   02.06.2023    555
май 2023    0   26.05.2023    570
            1   19.05.2023    575
            2   12.05.2023    586
            3   05.05.2023    588
апрель 2023 0   28.04.2023    591
            1   21.04.2023    591
            2   14.04.2023    588
            3   06.04.2023    590

Имеются три датафрейма: baker_april, baker_may и baker_june с данными об активных буровых установках в США за апрель, 
    май, июнь 2023, соответственно. 

Соедините эти фреймы данных таким образом, чтобы итоговый датафрейм принял вид, показанный на рисунке ниже. 
Выведите его на печать.

In [26]:
import pandas as pd
baker_values_april = [['28.04.2023', 591], ['21.04.2023', 591], ['14.04.2023', 588],
                      ['06.04.2023', 590]]
baker_values_may = [['26.05.2023', 570], ['19.05.2023', 575], ['12.05.2023', 586], 
                    ['05.05.2023', 588]]
baker_values_june = [['30.06.2023', 545], ['23.06.2023', 546], ['16.06.2023', 552],
                     ['09.06.2023', 556], ['02.06.2023', 555]]
baker_columns = ['Дата выпуска', 'Факт.']
baker_april = pd.DataFrame(baker_values_april, columns=baker_columns)
baker_may = pd.DataFrame(baker_values_may, columns=baker_columns)
baker_june = pd.DataFrame(baker_values_june, columns=baker_columns)
# Продолжите написание кода здесь
df = pd.concat([baker_april, baker_may, baker_june], keys=['апрель 2023', 'май 2023', 'июнь 2023'])
df['Дата выпуска'] = pd.to_datetime(df['Дата выпуска'], dayfirst=True)
print(df)

              Дата выпуска  Факт.
апрель 2023 0   2023-04-28    591
            1   2023-04-21    591
            2   2023-04-14    588
            3   2023-04-06    590
май 2023    0   2023-05-26    570
            1   2023-05-19    575
            2   2023-05-12    586
            3   2023-05-05    588
июнь 2023   0   2023-06-30    545
            1   2023-06-23    546
            2   2023-06-16    552
            3   2023-06-09    556
            4   2023-06-02    555

Соедините эти фреймы данных таким образом, чтобы итоговый датафрейм принял вид, показанный на рисунке ниже. 
Выведите его на печать.

In [38]:
import pandas as pd
baker_values_april = [['28.04.2023', 591], ['21.04.2023', 591], ['14.04.2023', 588],
                      ['06.04.2023', 590]]
baker_values_may = [['26.05.2023', 570], ['19.05.2023', 575], ['12.05.2023', 586], 
                    ['05.05.2023', 588]]
baker_values_june = [['30.06.2023', 545], ['23.06.2023', 546], ['16.06.2023', 552],
                     ['09.06.2023', 556], ['02.06.2023', 555]]
baker_columns = ['Дата выпуска', 'Факт.']
baker_april = pd.DataFrame(baker_values_april, columns=baker_columns)
baker_may = pd.DataFrame(baker_values_may, columns=baker_columns)
baker_june = pd.DataFrame(baker_values_june, columns=baker_columns)
# Продолжите написание кода здесь
df = pd.concat([baker_april[::-1].reset_index(drop=True), 
                baker_may[::-1].reset_index(drop=True), 
                baker_june[::-1].reset_index(drop=True)], 
               keys=['апрель 2023', 'май 2023', 'июнь 2023'])
df['Дата выпуска'] = pd.to_datetime(df['Дата выпуска'], dayfirst=True)
df.sort_values('Дата выпуска', inplace=True)
print(df)

              Дата выпуска  Факт.
апрель 2023 0   2023-04-06    590
            1   2023-04-14    588
            2   2023-04-21    591
            3   2023-04-28    591
май 2023    0   2023-05-05    588
            1   2023-05-12    586
            2   2023-05-19    575
            3   2023-05-26    570
июнь 2023   0   2023-06-02    555
            1   2023-06-09    556
            2   2023-06-16    552
            3   2023-06-23    546
            4   2023-06-30    545

Соедините эти фреймы данных таким образом, чтобы итоговый датафрейм принял вид, показанный на рисунке ниже. 

Выведите итоговый датафрейм на печать.
Затем распечатайте пустую строчку.
Из итогового датафрейма выведите на печать данные за июнь 2023 года с датами.

In [51]:
import pandas as pd
baker_values_april = [['28.04.2023', 591], ['21.04.2023', 591], ['14.04.2023', 588],
                      ['06.04.2023', 590]]
baker_values_may = [['26.05.2023', 570], ['19.05.2023', 575], ['12.05.2023', 586], 
                    ['05.05.2023', 588]]
baker_values_june = [['30.06.2023', 545], ['23.06.2023', 546], ['16.06.2023', 552],
                     ['09.06.2023', 556], ['02.06.2023', 555]]
baker_columns = ['Дата выпуска', 'Факт.']
baker_april = pd.DataFrame(baker_values_april, columns=baker_columns)
baker_may = pd.DataFrame(baker_values_may, columns=baker_columns)
baker_june = pd.DataFrame(baker_values_june, columns=baker_columns)
# Продолжите написание кода здесь

baker_june.set_index('Дата выпуска', inplace=True)
baker_may.set_index('Дата выпуска', inplace=True)
baker_april.set_index('Дата выпуска', inplace=True)
df = pd.concat([baker_june, baker_may, baker_april], keys=['июнь 2023', 'май 2023', 'апрель 2023'])
print(df)
print()
df_june = df.loc['июнь 2023']
print(df_june)

                          Факт.
            Дата выпуска
июнь 2023   30.06.2023      545
            23.06.2023      546
            16.06.2023      552
            09.06.2023      556
            02.06.2023      555
май 2023    26.05.2023      570
            19.05.2023      575
            12.05.2023      586
            05.05.2023      588
апрель 2023 28.04.2023      591
            21.04.2023      591
            14.04.2023      588
            06.04.2023      590

              Факт.
Дата выпуска
30.06.2023      545
23.06.2023      546
16.06.2023      552
09.06.2023      556
02.06.2023      555

## groupby

Используя метод agg(), 
найдите минимальную стоимость и среднее значение стоимости товаров, 
а также максимальное количество. Выведите полученный датафрейм на печать.

In [8]:
import pandas as pd

data = {'Товар': ['Молоко', 'Хлеб', 'Сыр', 'Мясо', 'Молоко'],
        'Стоимость': [80, 50, 550, 700, 80],
        'Количество': [20, 50, 10, 5, 25]}

df = pd.DataFrame(data)
# Продолжите написание кода здесь
df_agg = df.agg({'Стоимость':['min', 'mean'], 'Количество':['max']}).sort_values('Стоимость')
print(df_agg)

      Стоимость  Количество
min        50.0         NaN
mean      292.0         NaN
max         NaN        50.0

Выведите на печать датафрейм, содержащий суммарное количество каждого товара.

In [11]:
import pandas as pd

data = {'Товар': ['Молоко', 'Хлеб', 'Сыр', 'Мясо', 'Молоко'],
        'Стоимость': [80, 50, 550, 700, 80],
        'Количество': [20, 50, 10, 5, 25]}

df = pd.DataFrame(data)
# Продолжите написание кода здесь

print(df[['Товар', 'Количество']].groupby('Товар').sum())

        Количество
Товар
Молоко          45
Мясо             5
Сыр             10
Хлеб            50

Используя метод agg(), найдите минимальный, максимальный и средний балл по всем предметам. Выведите результат на печать.

In [26]:
import pandas as pd

data = {'Студент': ['Анна Крайнова', 'Михаил Иванов', 'Жанна Белова', 'Борис Степанов', 
                    'Виктор Столяров', 'Анна Егорова', 'Никита Куликов'],
        'Предмет': ['Математика', 'Математика', 'Физика', 'Физика', 
                    'Математика', 'История', 'Математика'],
        'Баллы': [85, 80, 78, 82, 88, 100, 91]}

df = pd.DataFrame(data)
# Продолжите написание кода здесь
balls = df.agg({'Баллы':['min', 'max', 'mean']})
print(balls['Баллы'])

min      78.000000
max     100.000000
mean     86.285714
Name: Баллы, dtype: float64

Выведите на печать датафрейм, содержащий минимальные, максимальные и средние баллы по каждому предмету.

In [2]:
import pandas as pd

data = {'Студент': ['Анна Крайнова', 'Михаил Иванов', 'Жанна Белова', 'Борис Степанов', 
                    'Виктор Столяров', 'Анна Егорова', 'Никита Куликов'],
        'Предмет': ['Математика', 'Математика', 'Физика', 'Физика', 
                    'Математика', 'История', 'Математика'],
        'Баллы': [85, 80, 78, 82, 88, 100, 91]}

df = pd.DataFrame(data)
# Продолжите написание кода здесь

print(df.groupby('Предмет').agg({'Баллы':['min', 'max', 'mean']}))

           Баллы
             min  max mean
Предмет
История      100  100  100
Математика    80   91   86
Физика        78   82   80

Выведите на печать датафрейм, содержащий медианную зарплату и общее количество сотрудников для каждого департамента.

In [3]:
import pandas as pd

data = {'Сотрудник': ['Екатерина Фролова', 'Илья Дмитриевский', 'Филипп Галин', 'Михаил Волков', 
                      'Ирина Кузнецова', 'Дмитрий Якубов', 'Азамат Хайруллин'],
        'Департамент': ['IT', 'Маркетинг', 'IT', 'Маркетинг', 'HR', 'IT', 'IT'],
        'Зарплата': [150000, 110000, 85000, 140000, 80000, 126000, 130000]}

df = pd.DataFrame(data)
# Продолжите написание кода здесь

print(df.groupby('Департамент').agg({'Зарплата':'median', 'Сотрудник':'count'}))

             Зарплата  Сотрудник
Департамент
HR              80000          1
IT             128000          4
Маркетинг      125000          2

Выведите на печать объект Series, содержащий среднее количество пассажиров по каждому городу по всем месяцам.

In [4]:
import pandas as pd

data = {'Город': ['Сочи', 'Анапа', 'Сочи', 'Геленджик', 
                  'Геленджик', 'Анапа', 'Сочи', 'Геленджик'],
        'Месяц': ['Апрель', 'Май', 'Апрель', 'Апрель', 'Май', 'Апрель', 'Май', 'Май'],
        'Пассажиры': [30000, 25000, 28000, 14000, 18000, 24000, 27000, 15000]}

df = pd.DataFrame(data)
# Продолжите написание кода здесь

print(df.groupby('Город').agg({'Пассажиры':'mean'})['Пассажиры'])

Город
Анапа        24500.000000
Геленджик    15666.666667
Сочи         28333.333333
Name: Пассажиры, dtype: float64

Выведите на печать объект Series, содержащий общее количество пассажиров в разбивке по каждому городу и по каждому месяцу.

In [7]:
import pandas as pd

data = {'Город': ['Сочи', 'Анапа', 'Сочи', 'Геленджик', 
                  'Геленджик', 'Анапа', 'Сочи', 'Геленджик'],
        'Месяц': ['Апрель', 'Май', 'Апрель', 'Апрель', 'Май', 'Апрель', 'Май', 'Май'],
        'Пассажиры': [30000, 25000, 28000, 14000, 18000, 24000, 27000, 15000]}

df = pd.DataFrame(data)
# Продолжите написание кода здесь

print(df.groupby(['Город', 'Месяц']).agg({'Пассажиры':'sum'})['Пассажиры'])

Город      Месяц
Анапа      Апрель    24000
           Май       25000
Геленджик  Апрель    14000
           Май       33000
Сочи       Апрель    58000
           Май       27000
Name: Пассажиры, dtype: int64

Дилер банка "Royal Oil Bank" в течение рабочего дня разместил денежные средства на депозиты овернайт 
в несколько банков-контрагентов. Сделки представлены в датафрейме depo. 

Создайте новый датафрейм, в котором будут следующие столбцы:  'Банк', 'Сумма, руб.', 'Средневзвешенная ставка'. 
    Колонка 'Сумма, руб.' должна содержать общие суммы по всем размещенным депозитам по каждому банку, 
    а столбец 'Средневзвешенная ставка' - средневзвешенные процентные ставки по каждому банку, округленные до сотых.

Выведите итоговый датафрейм на печать.

In [31]:
import pandas as pd
import numpy as np
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['Cryptocurrencybank', 2_700_000_000, 8.35, 'O/N'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['Allmoneybank', 5_900_000_000, 8.45, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Big Business Bank', 2_500_000_000, 8.35, 'O/N'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.42, 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.31, 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo['К получению'] = depo['Сумма, руб.'] * depo['Ставка']
depo1 = depo.groupby('Банк', as_index=False).agg({'Сумма, руб.':'sum', 'К получению':'sum'})
depo1['Средневзвешенная ставка'] = (depo1['К получению'] / depo1['Сумма, руб.']).round(2)
depo2 = depo1.drop(columns='К получению').sort_values('Банк').reset_index(drop=True)
print(depo2)

                  Банк  Сумма, руб.  Средневзвешенная ставка
0         AgroFoodBank    700000000                     8.25
1         Allmoneybank   5900000000                     8.45
2    Big Business Bank   4000000000                     8.32
3       ClearWaterBank   3000000000                     8.40
4   Cryptocurrencybank  10200000000                     8.46
5  First Ecologic Bank   3000000000                     8.41
6   Golden Silver Bank   4300000000                     8.42
7      GreenEnergyBank   1800000000                     8.35
8      New Energy Bank   1000000000                     8.30
9    SmallBusinessBank   2000000000                     8.31

Дилер банка "Royal Oil Bank" в течение рабочего дня разместил денежные средства на депозиты на разные сроки в несколько банков-контрагентов. Сделки представлены в датафрейме depo. 

Создайте новый датафрейм, который будет иметь мультииндекс: 'Банк', 'Срок', и будет иметь один столбец - 'Сумма, руб.'. Колонка 'Сумма, руб.' должна содержать общие суммы по всем размещенным депозитам по каждому банку и сроку.

In [2]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Golden Silver Bank', 3_800_000_000, 8.67, '1M'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['Big Business Bank', 3_000_000_000, 8.30, 'O/N'],
               ['New Energy Bank', 5_000_000_000, 8.84, '3M'],
               ['New Energy Bank', 2_000_000_000, 8.32, 'O/N'],
               ['First Ecologic Bank', 2_000_000_000, 8.40, 'O/N'],
               ['AgroFoodBank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 1_000_000_000, 8.30, 'O/N'],
               ['Big Business Bank', 2_800_000_000, 8.30, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['First Ecologic Bank', 2_000_000_000, 8.50, '1M'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['Golden Silver Bank', 2_200_000_000, 8.35, 'O/N'],
               ['First Ecologic Bank', 4_500_000_000, 8.50, '1M'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

dep = depo.groupby(['Банк', 'Срок']).agg({'Сумма, руб.':'sum'})
print(dep)

                          Сумма, руб.
Банк                Срок
AgroFoodBank        1W     7000000000
                    O/N    1000000000
Big Business Bank   O/N    7300000000
First Ecologic Bank 1M    11000000000
                    O/N    2000000000
Golden Silver Bank  1M     6300000000
                    O/N    6500000000
New Energy Bank     1W     2000000000
                    3M     9000000000
                    O/N    3000000000

Дилер банка "Royal Oil Bank" в течение рабочего дня разместил денежные средства 
на депозиты на разные сроки в несколько банков-контрагентов. Сделки представлены в датафрейме depo. 

Создайте новый датафрейм, который будет иметь мультииндекс:  'Банк', 'Срок',  и будет иметь два столбца:  
        'Средневзвешенная ставка', 'Сумма, руб.'.

Колонка 'Средневзвешенная ставка' должна содержать средневзвешенные процентные ставки по каждому банку и сроку, округленные до сотых​​​​​​, а столбец ​'Сумма, руб.' - общие суммы по всем размещенным депозитам по каждому банку и сроку.

Выведите итоговый датафрейм на печать.

In [17]:
import pandas as pd
import numpy as np
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Golden Silver Bank', 3_800_000_000, 8.67, '1M'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['Big Business Bank', 3_000_000_000, 8.30, 'O/N'],
               ['New Energy Bank', 6_000_000_000, 8.84, '3M'],
               ['New Energy Bank', 2_000_000_000, 8.32, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['AgroFoodBank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 1_000_000_000, 8.30, 'O/N'],
               ['Big Business Bank', 2_500_000_000, 8.30, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['First Ecologic Bank', 2_000_000_000, 8.50, '1M'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['Golden Silver Bank', 2_000_000_000, 8.35, 'O/N'],
               ['First Ecologic Bank', 4_000_000_000, 8.55, '1M'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь
depo['К получению x100'] = depo['Сумма, руб.'] * depo['Ставка']
depo1 = depo.groupby(['Банк', 'Срок']).agg({'Сумма, руб.':'sum', 'К получению x100':'sum'})
depo1.insert(0, 'Средневзвешенная ставка', (depo1['К получению x100'] / depo1['Сумма, руб.']).round(2))
depo1.drop(columns='К получению x100', inplace=True)
print(depo1)

                          Средневзвешенная ставка  Сумма, руб.
Банк                Срок
AgroFoodBank        1W                       8.49   7000000000
                    O/N                      8.30   1000000000
Big Business Bank   O/N                      8.29   7000000000
First Ecologic Bank 1M                       8.56  10500000000
                    O/N                      8.41   3000000000
Golden Silver Bank  1M                       8.66   6300000000
                    O/N                      8.38   6300000000
New Energy Bank     1W                       8.45   2000000000
                    3M                       8.82  10000000000
                    O/N                      8.31   3000000000

В датафрейм limits добавьте новый столбец – 'Остаток лимита, млрд руб.', 
который заполните оставшимися свободными лимитами на совершение операций с каждым банком-контрагентом.

In [29]:
import pandas as pd
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['Cryptocurrencybank', 2_500_000_000, 8.35, 'O/N'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['Allmoneybank', 5_900_000_000, 8.45, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Big Business Bank', 2_500_000_000, 8.35, 'O/N'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.42, 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.31, 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)

limits_values = [['AgroFoodBank', 5],
                ['Allmoneybank', 8],
                ['Big Business Bank', 7.5],
                ['ClearWaterBank', 9],
                ['Cryptocurrencybank', 10],
                ['First Ecologic Bank', 4.5],
                ['Golden Silver Bank', 10],
                ['GreenEnergyBank', 2],
                ['New Energy Bank', 5],
                ['SmallBusinessBank', 3]]
limits_columns = ['Банк', 'Лимит, млрд руб.']
limits = pd.DataFrame(limits_values, columns=limits_columns)
# Продолжите написание кода здесь

dep = depo.groupby('Банк', as_index=False).agg({'Сумма, руб.':'sum'})

remain_limits = limits.merge(dep, how='inner', on='Банк')
remain_limits['Остаток лимита, млрд руб.'] = remain_limits['Лимит, млрд руб.'] - remain_limits['Сумма, руб.'] / pow(10, 9)
remain_limits.drop(columns='Сумма, руб.', inplace=True)
print(remain_limits)

                  Банк  Лимит, млрд руб.  Остаток лимита, млрд руб.
0         AgroFoodBank               5.0                        4.3
1         Allmoneybank               8.0                        2.1
2    Big Business Bank               7.5                        3.5
3       ClearWaterBank               9.0                        6.0
4   Cryptocurrencybank              10.0                        0.0
5  First Ecologic Bank               4.5                        1.5
6   Golden Silver Bank              10.0                        5.7
7      GreenEnergyBank               2.0                        0.2
8      New Energy Bank               5.0                        4.0
9    SmallBusinessBank               3.0                        1.0

Выведите на печать DataFrame, в котором индексом будут являться валютные пары, 
а столбец - 'Количество сделок', будет содержать количество совершенных сделок по покупке.

In [35]:
import pandas as pd
currency_values = [['CNYRUB_TOM', 12.894, 1_000_000, 'купля'],
                   ['CNYRUB_TOM', 12.905, 2_000_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.76, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'купля'],
                   ['USDRUB_TOM', 94.18, 100_000, 'купля'],
                   ['CNYRUB_TOM', 12.91, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.74, 50_000, 'купля'],
                   ['USDRUB_TOM', 94.21, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.215, 20_000, 'продажа'],
                   ['CNYRUB_TOM', 12.90, 100_000, 'купля'],
                   ['USDRUB_TOM', 94.24, 300_000, 'продажа']]
currency_columns = ['Валютная пара', 'Цена', 'Объем в валюте', 'Направление сделки']
currency = pd.DataFrame(currency_values, columns=currency_columns)
# Продолжите написание кода здесь
df_agg = (
    currency
        .loc[currency['Направление сделки'] == 'купля']
        .groupby('Валютная пара')
        .agg({'Направление сделки':'count'})
        .rename(columns={'Направление сделки':'Количество сделок'})
)
print(df_agg)

               Количество сделок
Валютная пара
CNYRUB_TOM                     3
EURRUB_TOM                     2
USDRUB_TOM                     3

Используя метод value_counts(), 
выведите на печать объект Series, 
который будет содержать количество сделок на покупку и на продажу.

In [36]:
import pandas as pd
currency_values = [['CNYRUB_TOM', 12.894, 1_000_000, 'купля'],
                   ['CNYRUB_TOM', 12.905, 2_000_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.76, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'купля'],
                   ['USDRUB_TOM', 94.18, 100_000, 'купля'],
                   ['CNYRUB_TOM', 12.91, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.74, 50_000, 'купля'],
                   ['USDRUB_TOM', 94.21, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.215, 20_000, 'продажа'],
                   ['CNYRUB_TOM', 12.90, 100_000, 'купля'],
                   ['USDRUB_TOM', 94.24, 300_000, 'продажа']]
currency_columns = ['Валютная пара', 'Цена', 'Объем в валюте', 'Направление сделки']
currency = pd.DataFrame(currency_values, columns=currency_columns)
# Продолжите написание кода здесь
print(currency['Направление сделки'].value_counts())

купля      8
продажа    4
Name: Направление сделки, dtype: int64

Используя методы groupby() и count(), 
выведите на печать объект Series, 
который будет содержать количество сделок на покупку и на продажу.

In [42]:
import pandas as pd
currency_values = [['CNYRUB_TOM', 12.894, 1_000_000, 'купля'],
                   ['CNYRUB_TOM', 12.905, 2_000_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.76, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'купля'],
                   ['USDRUB_TOM', 94.18, 100_000, 'купля'],
                   ['CNYRUB_TOM', 12.91, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.74, 50_000, 'купля'],
                   ['USDRUB_TOM', 94.21, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.215, 20_000, 'продажа'],
                   ['CNYRUB_TOM', 12.90, 100_000, 'купля'],
                   ['USDRUB_TOM', 94.24, 300_000, 'продажа']]
currency_columns = ['Валютная пара', 'Цена', 'Объем в валюте', 'Направление сделки']
currency = pd.DataFrame(currency_values, columns=currency_columns)
# Продолжите написание кода здесь
print(currency.groupby('Направление сделки')['Направление сделки'].count())

Направление сделки
купля      8
продажа    4
Name: Направление сделки, dtype: int64

Index(['купля', 'продажа'], dtype='object', name='Направление сделки')

Создайте новый датафрейм, который будет содержать 
суммарные объемы по покупкам и продажам по каждой валютной паре.
Выведите итоговый датафрейм на печать.

In [43]:
import pandas as pd
currency_values = [['CNYRUB_TOM', 12.894, 1_000_000, 'купля'],
                   ['CNYRUB_TOM', 12.905, 2_000_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.76, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'купля'],
                   ['USDRUB_TOM', 94.18, 100_000, 'купля'],
                   ['CNYRUB_TOM', 12.91, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.74, 50_000, 'купля'],
                   ['USDRUB_TOM', 94.21, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.215, 20_000, 'продажа'],
                   ['CNYRUB_TOM', 12.90, 100_000, 'купля'],
                   ['USDRUB_TOM', 94.24, 300_000, 'продажа']]
currency_columns = ['Валютная пара', 'Цена', 'Объем в валюте', 'Направление сделки']
currency = pd.DataFrame(currency_values, columns=currency_columns)
# Продолжите написание кода здесь

print(currency.groupby(['Валютная пара', 'Направление сделки']).agg({'Объем в валюте':'sum'}))

                                  Объем в валюте
Валютная пара Направление сделки
CNYRUB_TOM    купля                      3100000
              продажа                     500000
EURRUB_TOM    купля                       250000
USDRUB_TOM    купля                       800000
              продажа                     820000

Создайте новый датафрейм, который будет содержать средневзвешенные, 
округленные до четырех знаков после запятой, 
по сделкам купли и продажи по каждой валютной паре.

Выведите итоговый датафрейм на печать.

In [55]:
import pandas as pd
import numpy as np
currency_values = [['CNYRUB_TOM', 12.894, 1_000_000, 'купля'],
                   ['CNYRUB_TOM', 12.905, 2_000_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.76, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'купля'],
                   ['USDRUB_TOM', 94.18, 100_000, 'купля'],
                   ['CNYRUB_TOM', 12.91, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.74, 50_000, 'купля'],
                   ['USDRUB_TOM', 94.21, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.215, 20_000, 'продажа'],
                   ['CNYRUB_TOM', 12.90, 100_000, 'купля'],
                   ['USDRUB_TOM', 94.24, 300_000, 'продажа']]
currency_columns = ['Валютная пара', 'Цена', 'Объем в валюте', 'Направление сделки']
currency = pd.DataFrame(currency_values, columns=currency_columns)
# Продолжите написание кода здесь
currency['Сумма в валюте'] = currency['Цена'] * currency['Объем в валюте']

currency_pairs = currency.groupby(['Валютная пара', 'Направление сделки']).agg({'Объем в валюте':'sum','Сумма в валюте':'sum'})
currency_pairs['Средневзвешенная'] = (currency_pairs['Сумма в валюте'] / currency_pairs['Объем в валюте']).round(4)
print(currency_pairs[['Средневзвешенная']])

                                  Объем в валюте  Сумма в валюте  \
Валютная пара Направление сделки
CNYRUB_TOM    купля                      3100000      39994000.0
              продажа                     500000       6455000.0
EURRUB_TOM    купля                       250000      25689000.0
USDRUB_TOM    купля                       800000      75335000.0
              продажа                     820000      77231300.0

                                  Средневзвешенная
Валютная пара Направление сделки
CNYRUB_TOM    купля                        12.9013
              продажа                      12.9100
EURRUB_TOM    купля                       102.7560
USDRUB_TOM    купля                        94.1688
              продажа                      94.1845

Создайте новый датафрейм, который будет содержать и суммарные объемы, и средневзвешенные, 
округленные до четырех знаков после запятой, по сделкам купли и продажи по каждой валютной паре.
Выведите итоговый датафрейм на печать.

In [58]:
import pandas as pd
import numpy as np
currency_values = [['CNYRUB_TOM', 12.894, 1_000_000, 'купля'],
                   ['CNYRUB_TOM', 12.905, 2_000_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.76, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.15, 500_000, 'купля'],
                   ['USDRUB_TOM', 94.18, 100_000, 'купля'],
                   ['CNYRUB_TOM', 12.91, 500_000, 'продажа'],
                   ['EURRUB_TOM', 102.74, 50_000, 'купля'],
                   ['USDRUB_TOM', 94.21, 200_000, 'купля'],
                   ['USDRUB_TOM', 94.215, 20_000, 'продажа'],
                   ['CNYRUB_TOM', 12.90, 100_000, 'купля'],
                   ['USDRUB_TOM', 94.24, 300_000, 'продажа']]
currency_columns = ['Валютная пара', 'Цена', 'Объем в валюте', 'Направление сделки']
currency = pd.DataFrame(currency_values, columns=currency_columns)
# Продолжите написание кода здесь
currency['Сумма в валюте'] = currency['Цена'] * currency['Объем в валюте']

currency_pairs = currency.groupby(['Валютная пара', 'Направление сделки']).agg({'Объем в валюте':'sum','Сумма в валюте':'sum'})
currency_pairs['Средневзвешенная'] = (currency_pairs['Сумма в валюте'] / currency_pairs['Объем в валюте']).round(4)
print(currency_pairs[['Объем в валюте', 'Средневзвешенная']])

                                  Объем в валюте  Средневзвешенная
Валютная пара Направление сделки
CNYRUB_TOM    купля                      3100000           12.9013
              продажа                     500000           12.9100
EURRUB_TOM    купля                       250000          102.7560
USDRUB_TOM    купля                       800000           94.1688
              продажа                     820000           94.1845

С помощью метода pivot_table() создайте такой датафрейм, как показано на рисунке ниже, и выведите его на печать.

In [60]:
import pandas as pd
stocks_values = {'Дата': ['16/08/2023','21/08/2023', '21/08/2023', '21/08/2023', '22/08/2023', 
                '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023',
                '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', 
                '24/08/2023'],
       'Компания': ['Аэрофлот','Сбербанк ао', 'ВТБ', 'Газпром', 'Норникель', 'Новатэк', 'Сбербанк п', 
                    'Лукойл', 'Лукойл', 'Аэрофлот', 'Газпром', 'ВТБ', 'Сбербанк ао', 'Русгидро', 'НЛМК', 
                    'Сбербанк ао'],
       'Цена, руб./акцию': [43.30, 261.40, 0.028, 176.70, 16300, 1670, 260, 6280, 6595, 45.20,
                           174, 0.027, 257, 0.8830, 194, 256.70],
       'Количество, шт.': [3000, 100, 500_000, 100, 2, 20, 300, 30, 30, 3000, 100,
                           500_000, 200, 10000, 300, 100],
       'Итого, руб.': [129900, 26140, 14000, 17670, 32600, 33400, 78000, 188400, 197850, 
                       135600, 17400, 13500, 51400, 8830, 58200, 25670],
       'Сделка': ['куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'продано', 'продано', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'куплено']}
stocks = pd.DataFrame(stocks_values)
# Продолжите написание кода здесь
print(stocks.pivot_table(index=['Дата', 'Компания'], values='Итого, руб.', aggfunc='sum'))

                        Итого, руб.
Дата       Компания
16/08/2023 Аэрофлот          129900
21/08/2023 ВТБ                14000
           Газпром            17670
           Сбербанк ао        26140
22/08/2023 Аэрофлот          135600
           Лукойл            386250
           Новатэк            33400
           Норникель          32600
           Сбербанк п         78000
24/08/2023 ВТБ                13500
           Газпром            17400
           НЛМК               58200
           Русгидро            8830
           Сбербанк ао        77070

С помощью метода pivot_table() создайте такой датафрейм, как показано на рисунке ниже, и выведите его на печать.

In [63]:
import pandas as pd
stocks_values = {'Дата': ['16/08/2023','21/08/2023', '21/08/2023', '21/08/2023', '22/08/2023', 
                '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023',
                '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', 
                '24/08/2023'],
       'Компания': ['Аэрофлот','Сбербанк ао', 'ВТБ', 'Газпром', 'Норникель', 'Новатэк', 'Сбербанк п', 
                    'Лукойл', 'Лукойл', 'Аэрофлот', 'Газпром', 'ВТБ', 'Сбербанк ао', 'Русгидро', 'НЛМК', 
                    'Сбербанк ао'],
       'Цена, руб./акцию': [43.30, 261.40, 0.028, 176.70, 16300, 1670, 260, 6280, 6595, 45.20,
                           174, 0.027, 257, 0.8830, 194, 256.70],
       'Количество, шт.': [3000, 100, 500_000, 100, 2, 20, 300, 30, 30, 3000, 100,
                           500_000, 200, 10000, 300, 100],
       'Итого, руб.': [129900, 26140, 14000, 17670, 32600, 33400, 78000, 188400, 197850, 
                       135600, 17400, 13500, 51400, 8830, 58200, 25670],
       'Сделка': ['куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'продано', 'продано', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'куплено']}
stocks = pd.DataFrame(stocks_values)
# Продолжите написание кода здесь
print(stocks.pivot_table(index=['Дата', 'Компания'], values=['Итого, руб.', 'Количество, шт.'], aggfunc='sum'))

                        Итого, руб.  Количество, шт.
Дата       Компания
16/08/2023 Аэрофлот          129900             3000
21/08/2023 ВТБ                14000           500000
           Газпром            17670              100
           Сбербанк ао        26140              100
22/08/2023 Аэрофлот          135600             3000
           Лукойл            386250               60
           Новатэк            33400               20
           Норникель          32600                2
           Сбербанк п         78000              300
24/08/2023 ВТБ                13500           500000
           Газпром            17400              100
           НЛМК               58200              300
           Русгидро            8830            10000
           Сбербанк ао        77070              300

С помощью метода pivot_table() создайте такой датафрейм, как показано на рисунке ниже, и выведите его на печать.

In [69]:
import pandas as pd
stocks_values = {'Дата': ['16/08/2023','21/08/2023', '21/08/2023', '21/08/2023', '22/08/2023', 
                '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023',
                '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', 
                '24/08/2023'],
       'Компания': ['Аэрофлот','Сбербанк ао', 'ВТБ', 'Газпром', 'Норникель', 'Новатэк', 'Сбербанк п', 
                    'Лукойл', 'Лукойл', 'Аэрофлот', 'Газпром', 'ВТБ', 'Сбербанк ао', 'Русгидро', 'НЛМК', 
                    'Сбербанк ао'],
       'Цена, руб./акцию': [43.30, 261.40, 0.028, 176.70, 16300, 1670, 260, 6280, 6595, 45.20,
                           174, 0.027, 257, 0.8830, 194, 256.70],
       'Количество, шт.': [3000, 100, 500_000, 100, 2, 20, 300, 30, 30, 3000, 100,
                           500_000, 200, 10000, 300, 100],
       'Итого, руб.': [129900, 26140, 14000, 17670, 32600, 33400, 78000, 188400, 197850, 
                       135600, 17400, 13500, 51400, 8830, 58200, 25670],
       'Сделка': ['куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'продано', 'продано', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'куплено']}
stocks = pd.DataFrame(stocks_values)
# Продолжите написание кода здесь
print(stocks.pivot_table(index=['Дата', 'Компания'],columns='Сделка', values='Итого, руб.' , aggfunc='sum', fill_value=0))

Сделка                  куплено  продано
Дата       Компания
16/08/2023 Аэрофлот      129900        0
21/08/2023 ВТБ            14000        0
           Газпром        17670        0
           Сбербанк ао    26140        0
22/08/2023 Аэрофлот           0   135600
           Лукойл        188400   197850
           Новатэк        33400        0
           Норникель      32600        0
           Сбербанк п     78000        0
24/08/2023 ВТБ            13500        0
           Газпром        17400        0
           НЛМК           58200        0
           Русгидро        8830        0
           Сбербанк ао    77070        0

Посчитайте количество сделок в течение дня по каждой ценной бумаге.
С помощью метода pivot_table() создайте такой датафрейм, как показано на рисунке ниже, и выведите его на печать.

In [73]:
import pandas as pd
stocks_values = {'Дата': ['16/08/2023','21/08/2023', '21/08/2023', '21/08/2023', '22/08/2023', 
                '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023',
                '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', 
                '24/08/2023'],
       'Компания': ['Аэрофлот','Сбербанк ао', 'ВТБ', 'Газпром', 'Норникель', 'Новатэк', 'Сбербанк п', 
                    'Лукойл', 'Лукойл', 'Аэрофлот', 'Газпром', 'ВТБ', 'Сбербанк ао', 'Русгидро', 'НЛМК', 
                    'Сбербанк ао'],
       'Цена, руб./акцию': [43.30, 261.40, 0.028, 176.70, 16300, 1670, 260, 6280, 6595, 45.20,
                           174, 0.027, 257, 0.8830, 194, 256.70],
       'Количество, шт.': [3000, 100, 500_000, 100, 2, 20, 300, 30, 30, 3000, 100,
                           500_000, 200, 10000, 300, 100],
       'Итого, руб.': [129900, 26140, 14000, 17670, 32600, 33400, 78000, 188400, 197850, 
                       135600, 17400, 13500, 51400, 8830, 58200, 25670],
       'Сделка': ['куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'продано', 'продано', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'куплено']}
stocks = pd.DataFrame(stocks_values)
# Продолжите написание кода здесь

print(stocks.pivot_table(index=['Дата', 'Компания'], columns='Сделка', values='Количество, шт.',aggfunc='count', fill_value=0))

Сделка                  куплено  продано
Дата       Компания
16/08/2023 Аэрофлот           1        0
21/08/2023 ВТБ                1        0
           Газпром            1        0
           Сбербанк ао        1        0
22/08/2023 Аэрофлот           0        1
           Лукойл             1        1
           Новатэк            1        0
           Норникель          1        0
           Сбербанк п         1        0
24/08/2023 ВТБ                1        0
           Газпром            1        0
           НЛМК               1        0
           Русгидро           1        0
           Сбербанк ао        2        0

С помощью метода pivot_table() создайте такой датафрейм, как показано на рисунке ниже, и выведите его на печать.

In [75]:
import pandas as pd
stocks_values = {'Дата': ['16/08/2023','21/08/2023', '21/08/2023', '21/08/2023', '22/08/2023', 
                '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023',
                '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', 
                '24/08/2023'],
       'Компания': ['Аэрофлот','Сбербанк ао', 'ВТБ', 'Газпром', 'Норникель', 'Новатэк', 'Сбербанк п', 
                    'Лукойл', 'Лукойл', 'Аэрофлот', 'Газпром', 'ВТБ', 'Сбербанк ао', 'Русгидро', 'НЛМК', 
                    'Сбербанк ао'],
       'Цена, руб./акцию': [43.30, 261.40, 0.028, 176.70, 16300, 1670, 260, 6280, 6595, 45.20,
                           174, 0.027, 257, 0.8830, 194, 256.70],
       'Количество, шт.': [3000, 100, 500_000, 100, 2, 20, 300, 30, 30, 3000, 100,
                           500_000, 200, 10000, 300, 100],
       'Итого, руб.': [129900, 26140, 14000, 17670, 32600, 33400, 78000, 188400, 197850, 
                       135600, 17400, 13500, 51400, 8830, 58200, 25670],
       'Сделка': ['куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'продано', 'продано', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'куплено']}
stocks = pd.DataFrame(stocks_values)
# Продолжите написание кода здесь
print(stocks.pivot_table(index=['Компания', 'Дата'], columns='Сделка', values='Итого, руб.',aggfunc='sum', fill_value=0))

Сделка                  куплено  продано
Компания    Дата
Аэрофлот    16/08/2023   129900        0
            22/08/2023        0   135600
ВТБ         21/08/2023    14000        0
            24/08/2023    13500        0
Газпром     21/08/2023    17670        0
            24/08/2023    17400        0
Лукойл      22/08/2023   188400   197850
НЛМК        24/08/2023    58200        0
Новатэк     22/08/2023    33400        0
Норникель   22/08/2023    32600        0
Русгидро    24/08/2023     8830        0
Сбербанк ао 21/08/2023    26140        0
            24/08/2023    77070        0
Сбербанк п  22/08/2023    78000        0

С помощью метода pivot_table() создайте такой датафрейм, как показано на рисунке ниже, и выведите его на печать.

In [77]:
import pandas as pd
stocks_values = {'Дата': ['16/08/2023','21/08/2023', '21/08/2023', '21/08/2023', '22/08/2023', 
                '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023',
                '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', 
                '24/08/2023'],
       'Компания': ['Аэрофлот','Сбербанк ао', 'ВТБ', 'Газпром', 'Норникель', 'Новатэк', 'Сбербанк п', 
                    'Лукойл', 'Лукойл', 'Аэрофлот', 'Газпром', 'ВТБ', 'Сбербанк ао', 'Русгидро', 'НЛМК', 
                    'Сбербанк ао'],
       'Цена, руб./акцию': [43.30, 261.40, 0.028, 176.70, 16300, 1670, 260, 6280, 6595, 45.20,
                           174, 0.027, 257, 0.8830, 194, 256.70],
       'Количество, шт.': [3000, 100, 500_000, 100, 2, 20, 300, 30, 30, 3000, 100,
                           500_000, 200, 10000, 300, 100],
       'Итого, руб.': [129900, 26140, 14000, 17670, 32600, 33400, 78000, 188400, 197850, 
                       135600, 17400, 13500, 51400, 8830, 58200, 25670],
       'Сделка': ['куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'продано', 'продано', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'куплено']}
stocks = pd.DataFrame(stocks_values)
# Продолжите написание кода здесь
print(stocks.pivot_table(index=['Компания', 'Сделка'], columns='Дата', values='Итого, руб.', fill_value=0, aggfunc='sum'))

Дата                 16/08/2023  21/08/2023  22/08/2023  24/08/2023
Компания    Сделка
Аэрофлот    куплено      129900           0           0           0
            продано           0           0      135600           0
ВТБ         куплено           0       14000           0       13500
Газпром     куплено           0       17670           0       17400
Лукойл      куплено           0           0      188400           0
            продано           0           0      197850           0
НЛМК        куплено           0           0           0       58200
Новатэк     куплено           0           0       33400           0
Норникель   куплено           0           0       32600           0
Русгидро    куплено           0           0           0        8830
Сбербанк ао куплено           0       26140           0       77070
Сбербанк п  куплено           0           0       78000           0

Создайте датафрейм как в предыдущей задаче и добавьте столбец 'Всего, шт.', который будет содержать общее количество ценных бумаг по каждому эмитенту в разрезе купленных и проданных акций.
Выведите итоговый датафрейм на печать.

In [97]:
import pandas as pd
stocks_values = {'Дата': ['16/08/2023','21/08/2023', '21/08/2023', '21/08/2023', '22/08/2023', 
                '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023',
                '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', 
                '24/08/2023'],
       'Компания': ['Аэрофлот','Сбербанк ао', 'ВТБ', 'Газпром', 'Норникель', 'Новатэк', 'Сбербанк п', 
                    'Лукойл', 'Лукойл', 'Аэрофлот', 'Газпром', 'ВТБ', 'Сбербанк ао', 'Русгидро', 'НЛМК', 
                    'Сбербанк ао'],
       'Цена, руб./акцию': [43.30, 261.40, 0.028, 176.70, 16300, 1670, 260, 6280, 6595, 45.20,
                           174, 0.027, 257, 0.8830, 194, 256.70],
       'Количество, шт.': [3000, 100, 500_000, 100, 2, 20, 300, 30, 30, 3000, 100,
                           500_000, 200, 10000, 300, 100],
       'Итого, руб.': [129900, 26140, 14000, 17670, 32600, 33400, 78000, 188400, 197850, 
                       135600, 17400, 13500, 51400, 8830, 58200, 25670],
       'Сделка': ['куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'продано', 'продано', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'куплено']}
stocks = pd.DataFrame(stocks_values)
# Продолжите написание кода здесь
comp_stocks = stocks.pivot_table(index=['Компания', 'Сделка'], columns='Дата', values='Количество, шт.', fill_value=0, aggfunc='sum')
comp_stocks['Всего, шт.'] = comp_stocks.sum(axis=1)
print(comp_stocks)

Дата                 16/08/2023  21/08/2023  22/08/2023  24/08/2023  \
Компания    Сделка
Аэрофлот    куплено        3000           0           0           0
            продано           0           0        3000           0
ВТБ         куплено           0      500000           0      500000
Газпром     куплено           0         100           0         100
Лукойл      куплено           0           0          30           0
            продано           0           0          30           0
НЛМК        куплено           0           0           0         300
Новатэк     куплено           0           0          20           0
Норникель   куплено           0           0           2           0
Русгидро    куплено           0           0           0       10000
Сбербанк ао куплено           0         100           0         300
Сбербанк п  куплено           0           0         300           0

Дата                 Всего, шт.
Компания    Сделка
Аэрофлот    куплено        3000
            продано        3000
ВТБ         куплено     1000000
Газпром     куплено         200
Лукойл      куплено          30
            продано          30
НЛМК        куплено         300
Новатэк     куплено          20
Норникель   куплено           2
Русгидро    куплено       10000
Сбербанк ао куплено         400
Сбербанк п  куплено         300

С помощью метода pivot_table() создайте такой датафрейм, как показано на рисунке ниже.
Добавьте строку 'Всего, шт.', которая будет содержать общее количество ценных бумаг по каждому эмитенту в разрезе купленных и проданных акций.
Выведите его на печать данные по Аэрофлоту, ВТБ и Лукойлу.

In [10]:
import pandas as pd
stocks_values = {'Дата': ['16/08/2023','21/08/2023', '21/08/2023', '21/08/2023', '22/08/2023', 
                '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023', '22/08/2023',
                '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', '24/08/2023', 
                '24/08/2023'],
       'Компания': ['Аэрофлот','Сбербанк ао', 'ВТБ', 'Газпром', 'Норникель', 'Новатэк', 'Сбербанк п', 
                    'Лукойл', 'Лукойл', 'Аэрофлот', 'Газпром', 'ВТБ', 'Сбербанк ао', 'Русгидро', 'НЛМК', 
                    'Сбербанк ао'],
       'Цена, руб./акцию': [43.30, 261.40, 0.028, 176.70, 16300, 1670, 260, 6280, 6595, 45.20,
                           174, 0.027, 257, 0.8830, 194, 256.70],
       'Количество, шт.': [3000, 100, 500_000, 100, 2, 20, 300, 30, 30, 3000, 100,
                           500_000, 200, 10000, 300, 100],
       'Итого, руб.': [129900, 26140, 14000, 17670, 32600, 33400, 78000, 188400, 197850, 
                       135600, 17400, 13500, 51400, 8830, 58200, 25670],
       'Сделка': ['куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'продано', 'продано', 'куплено', 'куплено', 'куплено', 'куплено', 
                  'куплено', 'куплено']}
stocks = pd.DataFrame(stocks_values)
# Продолжите написание кода здесь
comp_stocks = stocks.pivot_table(index=['Компания', 'Сделка'], columns='Дата', values='Количество, шт.', fill_value=0, aggfunc='sum')
comp_stocks['Всего, шт.'] = comp_stocks.sum(axis=1)
date_stocks = comp_stocks.transpose()
print(date_stocks[['Аэрофлот', 'ВТБ', 'Лукойл']])

Компания   Аэрофлот              ВТБ  Лукойл
Сделка      куплено продано  куплено куплено продано
Дата
16/08/2023     3000       0        0       0       0
21/08/2023        0       0   500000       0       0
22/08/2023        0    3000        0      30      30
24/08/2023        0       0   500000       0       0
Всего, шт.     3000    3000  1000000      30      30